﻿@using Stampade.Models;
@using System.Data;
@using System.Web.Helpers;
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    if (Session["UserType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";
    }
    string id = ViewData["section"] != null ? ViewData["section"].ToString() : "";
}

<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<style type="text/css">
    #testTable img {
        float: none;
        margin: 0 auto;
        width: 500px;
    }
    .create_team {
        background: #f5f5f5 none repeat scroll 0 0;
        border-top: 1px solid #dcdcdc;
        float: left;
        margin: 0 15px 23px;
        width: 58%;
    }
</style>

<div class="row-fluid new_topheader">

    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2>
                <img src="../Content/image/header_side.png" />
                <span class="break"></span>
                <span class="head_content">Dashboard Chart</span>
            </h2>
        </div>
        @{
            <div style="text-align: center;">
                @if (id == "15")
                {
                    string groupname = "Hurdlers";
                    @groupname
                }
                @if (id == "16")
                {
                    string groupname = "Mid-Dist";
                    @groupname
                }
                @if (id == "17")
                {
                    string groupname = "Sprinters";
                    @groupname
                }
                @if (id == "18")
                {
                    string groupname = "Distance";
                    @groupname
                }
            </div>
            <div style="width: 100%; float: left; text-align: center;">
                <img src="~/Dashboard/Chart?SectionId=@id">
            </div>
        }
    </div>

</div>




