﻿@using Stampade.Models;
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<NewWorkout> objWorkout = new List<NewWorkout>();
    List<Details> lstDetails = new List<Details>();
    List<SectionResults> lstSection = new List<SectionResults>();
    List<STAM_MA_ATHLETE_SECTION> lstAthleteSections = new List<STAM_MA_ATHLETE_SECTION>();
    if (Model != null)
    {
        if (Model.workout != null)
        {
            objWorkout = Model.workout;
            lstAthleteSections = Model.sectionlist;
        }
    }
}
<style>
    .new_box_tab td {
        padding: 7px 0 !important;
    }

    .new_box_tab table {
        width: 100%;
        overflow-y: auto;
        overflow-x: auto;
        float: left;
    }

    #partialDiv {
        float: left;
        width: 100%;
    }

    .new_box_tab {
        background: #fff;
        border: 1px solid #dcdcdc;
        float: left;
        padding: 10px;
        width: 98%;
    }

    tr {
        border-bottom: 1px solid #dcdcdc;
    }
</style>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="box-content new_box_tab" id="testTable">
    @{
        DateTime TodayDay = DateTime.Today;
        DateTime sundayOfLastWeek = TodayDay.AddDays(-(int)TodayDay.DayOfWeek - 7);
        DateTime saturdayOfLastWeek = TodayDay.AddDays(-(int)TodayDay.DayOfWeek - 1);
        DateTime sundayOfThisWeek = TodayDay.AddDays(-(int)TodayDay.DayOfWeek);
        DateTime saturdayOfThisWeek = sundayOfThisWeek.AddDays(6);
        var firstDayOfMonth = new DateTime(TodayDay.Year, TodayDay.Month, 1);
        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
        DateTime EndDate = lastDayOfMonth;
        if (TodayDay > EndDate)
        {
            lastDayOfMonth = TodayDay;
        }
        int i = 0;
        String StrFormat = "m/s";
        String StrPlus = "+";
        String StrMinus = "-";
        string[] splitString = null, splitStrings = null;
        int Totalrun = 0, lapcounts = 0;
        decimal TotalTime = 0, TotalTimes = 0, splitcount = 0;
        if (objWorkout.Count != 0)
        {
            <table id="testing">

                <tr style="background:#BEBABA">
                    @foreach (var item in objWorkout)
                    {
                        if (i == 0)
                        {
                            <td>
                                <b>@item.WorkoutGroupName</b>
                            </td>
                            i = 1;
                            foreach (var sections in lstAthleteSections.OrderByDescending(p => p.STAM_ATHSEC_NAME).ToList())
                            {
                                <td>
                                    <b> @sections.STAM_ATHSEC_NAME</b>
                                </td>
                            }
                        }
                    }
                </tr>


                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">
                        +/- this week
                    </td>
                    @foreach (var listSection in lstAthleteSections)
                    {
                        foreach (var item in objWorkout.Where(p => p.WorkoutDate >= sundayOfThisWeek && p.WorkoutDate <= saturdayOfThisWeek).ToList())
                        {
                            if (item.ListDetails != null)
                            {
                                foreach (var sections in item.ListDetails.Where(p => p.SectionID == listSection.STAM_ATHSEC_ID).ToList())
                                {
                                    splitString = sections.TargetTime.Split(':');
                                    string str = splitString[0] + '.' + splitString[1];
                                    TotalTime = TotalTime + Convert.ToDecimal(str);

                                    if (sections.ListSectionResults != null)
                                    {
                                        foreach (var data in sections.ListSectionResults)
                                        {
                                            splitcount = splitcount + Convert.ToDecimal(data.LapTime);
                                        }
                                    }
                                }
                            }
                        }

                        <td>
                            @{
                        TimeSpan timeSpans = TimeSpan.FromSeconds(Convert.ToDouble(TotalTime));
                        TimeSpan Splittime = TimeSpan.FromSeconds(Convert.ToDouble(splitcount));
                        TimeSpan tyms = Splittime - timeSpans;
                        string output1 = tyms.ToString("mm\\:ss\\.f");
                            }
                            @if (timeSpans <= Splittime)
                            {
                                if (output1 != "00:00.0")
                                {
                                    <span style="color: #ff0000"> @StrPlus@output1</span>
                                }
                                else
                                {
                                    int a = 0;
                                    @a
                                }
                            }
                            else
                            {
                                if (splitcount != 0)
                                {
                                    <span style="color: #0ACC00;">  @StrMinus@output1 </span>
                                }
                                else
                                {
                                    int a = 0;
                                    @a
                                }
                            }
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Average speed
                    </td>
                    @foreach (var listSection in lstAthleteSections)
                    {
                        foreach (var item in objWorkout.Where(p => p.WorkoutDate >= sundayOfThisWeek && p.WorkoutDate <= saturdayOfThisWeek).ToList())
                        {
                            if (item.ListDetails != null)
                            {
                                foreach (var sections in item.ListDetails.Where(p => p.SectionID == listSection.STAM_ATHSEC_ID).ToList())
                                {
                                    Totalrun = Totalrun + Convert.ToInt32(sections.Run);

                                    if (sections.ListSectionResults != null)
                                    {
                                        foreach (var data in sections.ListSectionResults)
                                        {
                                            splitStrings = Convert.ToString(data.LapTime).Split('.');
                                            string strSplit = splitStrings[0] + '.' + splitStrings[1];
                                            TotalTimes = TotalTimes + Convert.ToDecimal(strSplit);
                                        }
                                    }
                                }
                            }
                        }
                        <td>
                            @{
                        if (TotalTime != 0)
                        {

                            var timesss = Totalrun / TotalTime;
                            var round = Math.Round(timesss, 2);
                            @round @StrFormat;
                        }
                        else
                        {
                            int b = 0;
                            @b @StrFormat
                        }
                            }
                        </td>

                    }
                </tr>


                @{
                    splitString = null;
                    splitStrings = null;
                    Totalrun = 0;
                    lapcounts = 0;
                    TotalTime = 0;
                    TotalTimes = 0;
                    splitcount = 0;
                }
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">
                        +/- Last week
                    </td>
                    @foreach (var listSection in lstAthleteSections)
                    {
                        foreach (var item in objWorkout.Where(p => p.WorkoutDate >= sundayOfLastWeek && p.WorkoutDate <= saturdayOfLastWeek).ToList())
                        {
                            if (item.ListDetails != null)
                            {
                                foreach (var sections in item.ListDetails.Where(p => p.SectionID == listSection.STAM_ATHSEC_ID).ToList())
                                {
                                    splitString = sections.TargetTime.Split(':');
                                    string str = splitString[0] + '.' + splitString[1];
                                    TotalTime = TotalTime + Convert.ToDecimal(str);

                                    if (sections.ListSectionResults != null)
                                    {
                                        foreach (var data in sections.ListSectionResults)
                                        {
                                            splitcount = splitcount + Convert.ToDecimal(data.LapTime);
                                        }
                                    }
                                }
                            }
                        }

                        <td>
                            @{
                        TimeSpan timeSpans = TimeSpan.FromSeconds(Convert.ToDouble(TotalTime));
                        TimeSpan Splittime = TimeSpan.FromSeconds(Convert.ToDouble(splitcount));
                        TimeSpan tyms = Splittime - timeSpans;
                        string output1 = tyms.ToString("mm\\:ss\\.f");
                            }
                            @if (timeSpans <= Splittime)
                            {
                                if (output1 != "00:00.0")
                                {
                                    <span style="color: #ff0000"> @StrPlus@output1</span>
                                }
                                else
                                {
                                    int a = 0;
                                    @a
                                }
                            }
                            else
                            {
                                if (splitcount != 0)
                                {
                                    <span style="color: #0ACC00;">  @StrMinus@output1 </span>
                                }
                                else
                                {
                                    int a = 0;
                                    @a
                                }
                            }
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Average speed
                    </td>
                    @foreach (var listSection in lstAthleteSections)
                    {
                        foreach (var item in objWorkout.Where(p => p.WorkoutDate >= sundayOfLastWeek && p.WorkoutDate <= saturdayOfLastWeek).ToList())
                        {
                            if (item.ListDetails != null)
                            {
                                foreach (var sections in item.ListDetails.Where(p => p.SectionID == listSection.STAM_ATHSEC_ID).ToList())
                                {
                                    Totalrun = Totalrun + Convert.ToInt32(sections.Run);

                                    if (sections.ListSectionResults != null)
                                    {
                                        foreach (var data in sections.ListSectionResults)
                                        {
                                            splitStrings = Convert.ToString(data.LapTime).Split('.');
                                            string strSplit = splitStrings[0] + '.' + splitStrings[1];
                                            TotalTimes = TotalTimes + Convert.ToDecimal(strSplit);
                                        }
                                    }
                                }
                            }
                        }
                        <td>
                            @{
                        if (TotalTime != 0)
                        {

                            var timesss = Totalrun / TotalTime;
                            var round = Math.Round(timesss, 2);
                            @round @StrFormat;
                        }
                        else
                        {
                            int b = 0;
                            @b @StrFormat
                        }
                            }
                        </td>

                    }
                </tr>


                @{
                    splitString = null;
                    splitStrings = null;
                    Totalrun = 0;
                    lapcounts = 0;
                    TotalTime = 0;
                    TotalTimes = 0;
                    splitcount = 0;
                }
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">
                        +/- this month
                    </td>
                    @foreach (var listSection in lstAthleteSections)
                    {
                        foreach (var item in objWorkout.Where(p => p.WorkoutDate >= firstDayOfMonth && p.WorkoutDate <= lastDayOfMonth).ToList())
                        {
                            if (item.ListDetails != null)
                            {
                                foreach (var sections in item.ListDetails.Where(p => p.SectionID == listSection.STAM_ATHSEC_ID).ToList())
                                {
                                    splitString = sections.TargetTime.Split(':');
                                    string str = splitString[0] + '.' + splitString[1];
                                    TotalTime = TotalTime + Convert.ToDecimal(str);

                                    if (sections.ListSectionResults != null)
                                    {
                                        foreach (var data in sections.ListSectionResults)
                                        {
                                            splitcount = splitcount + Convert.ToDecimal(data.LapTime);
                                        }
                                    }
                                }
                            }
                        }

                        <td>
                            @{
                        TimeSpan timeSpans = TimeSpan.FromSeconds(Convert.ToDouble(TotalTime));
                        TimeSpan Splittime = TimeSpan.FromSeconds(Convert.ToDouble(splitcount));
                        TimeSpan tyms = Splittime - timeSpans;
                        string output1 = tyms.ToString("mm\\:ss\\.f");
                            }
                            @if (timeSpans <= Splittime)
                            {
                                if (output1 == "00:00.0")
                                {
                                    <span style="color: #ff0000"> @StrPlus@output1</span>
                                }
                                else
                                {
                                    int a = 0;
                                    @a
                                }
                            }
                            else
                            {
                                if (splitcount != 0)
                                {
                                    <span style="color: #0ACC00;">  @StrMinus@output1 </span>
                                }
                                else
                                {
                                    int a = 0;
                                    @a
                                }
                            }
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Average speed
                    </td>
                    @foreach (var listSection in lstAthleteSections)
                    {
                        foreach (var item in objWorkout.Where(p => p.WorkoutDate >= firstDayOfMonth && p.WorkoutDate <= lastDayOfMonth).ToList())
                        {
                            if (item.ListDetails != null)
                            {
                                foreach (var sections in item.ListDetails.Where(p => p.SectionID == listSection.STAM_ATHSEC_ID).ToList())
                                {
                                    Totalrun = Totalrun + Convert.ToInt32(sections.Run);

                                    if (sections.ListSectionResults != null)
                                    {
                                        foreach (var data in sections.ListSectionResults)
                                        {
                                            splitStrings = Convert.ToString(data.LapTime).Split('.');
                                            string strSplit = splitStrings[0] + '.' + splitStrings[1];
                                            TotalTimes = TotalTimes + Convert.ToDecimal(strSplit);
                                        }
                                    }
                                }
                            }
                        }
                        <td>
                            @{
                        if (TotalTime != 0)
                        {

                            var timesss = Totalrun / TotalTime;
                            var round = Math.Round(timesss, 2);
                            @round @StrFormat;
                        }
                        else
                        {
                            int b = 0;
                            @b @StrFormat
                        }
                            }
                        </td>

                    }
                </tr>


            </table>

        }
    }
</div>
