﻿@using Stampade.Models;

@{

    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    if (Session["UserType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";
    }
    List<NewWorkout> objWorkout = new List<NewWorkout>();
    List<Details> lstDetails = new List<Details>();
    List<SectionResults> lstSection = new List<SectionResults>();

    if (Model != null)
    {
        objWorkout = Model;
    }
    string StrDate = DateTime.Now.Date.ToString("MM/dd/yyyy");
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<style>
    .create_team {
        background: #f5f5f5 none repeat scroll 0 0;
        border-top: 1px solid #dcdcdc;
        float: left;
        margin: 0 15px 23px;
        width: 58%;
    }
</style>
<div class="row-fluid new_topheader">

    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2>
                <img src="../Content/image/header_side.png" />
                <span class="break"></span>
                <span class="head_content">Dashboard</span>
            </h2>
        </div>
        <span class="head_content">@StrDate</span>
       
        <div id="partialResultTable">
            @Html.Action("DashboardResultTable")
        </div>

        <div id="partialSectionResult" style="display:none;">
            @Html.Action("DashboardSectionResultTable", new { SectionId = 0 })
        </div>
        
    </div>

