﻿@using Stampade.Models;

@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
   
    List<NewWorkout> objWorkout = new List<NewWorkout>();
    List<Details> lstDetails = new List<Details>();
    List<SectionResults> lstSection = new List<SectionResults>();

    if (Model != null)
    {
        objWorkout = Model;
    }

    string usertype = Session["UserType"].ToString();
}
<style>
    .new_box_tab td {
        padding: 7px 0 !important;
    }

    .new_box_tab table {
        width: 100%;
        overflow-y: auto;
        overflow-x: auto;
        float: left;
    }

    #partialDiv {
        float: left;
        width: 100%;
    }

    .new_box_tab {
        background: #fff;
        border: 1px solid #dcdcdc;
        float: left;
        padding: 10px;
        width: 98%;
    }

    tr {
        border-bottom: 1px solid #dcdcdc;
    }
</style>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="box-content new_box_tab" id="testTable">
    @{
        DateTime TodayDay = DateTime.Today;
        DateTime sundayOfLastWeek = TodayDay.AddDays(-(int)TodayDay.DayOfWeek - 7);
        DateTime saturdayOfLastWeek = TodayDay.AddDays(-(int)TodayDay.DayOfWeek - 1);
        DateTime sundayOfThisWeek = TodayDay.AddDays(-(int)TodayDay.DayOfWeek);
        DateTime saturdayOfThisWeek = sundayOfThisWeek.AddDays(6);
        var firstDayOfMonth = new DateTime(TodayDay.Year, TodayDay.Month, 1);
        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
        DateTime EndDate = lastDayOfMonth;
         if (TodayDay > EndDate)
         {
          lastDayOfMonth = TodayDay;
         }
        int iWorkoutTitle = 0;
        int iThisWeek = 0;
        int TotalThisWeek = 0;
        int iLastWeek = 0;
        int TotalLastWeek = 0;
        int iLastMonth = 0;
        int TotalLastMonth = 0;
        string meter = "m";
        if (objWorkout.Count != 0)
        {

            <table>
                <tr style="background:#BEBABA">
                    <td></td>
                    <td><a onclick="GotoSection(15)" style="cursor:pointer"><b>Hurdlers </b></a></td>
                    <td><a onclick="GotoSection(16)" style="cursor:pointer"><b>Mid-Dist </b></a></td>
                    <td><a onclick="GotoSection(17)" style="cursor:pointer"><b>Sprinters </b></a></td>
                    <td><a onclick="GotoSection(18)" style="cursor:pointer"><b>Distance </b></a></td>
                </tr>
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">Today’s Workouts</td>
                    @for (int i = 15; i <= 18; i++)
                    {
                        iWorkoutTitle = 0;
                        var countwork = objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate == DateTime.Today).ToList();
                        if (countwork.Count != 0)
                        {
                            foreach (var work in objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate == DateTime.Today).ToList())
                            {
                                if (iWorkoutTitle == 0)
                                {
                                    if (usertype != "4")
                                    {
                                        <td>
                                            <a onclick="GotoWorkout(@work.workoutId)" style="cursor:pointer">  @work.WorkoutTitle</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @work.WorkoutTitle
                                        </td>
                                    }
                                    iWorkoutTitle = 1;
                                }
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">Run this week</td>
                    @for (int i = 15; i <= 18; i++)
                    {
                        TotalThisWeek = 0;
                        var countwork = objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= sundayOfThisWeek && p.WorkoutDate <= saturdayOfThisWeek).ToList();
                        foreach (var work in objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= sundayOfThisWeek && p.WorkoutDate <= saturdayOfThisWeek).ToList())
                        {
                            if (work.ListDetails.Count != 0)
                            {
                                
                                foreach (var details in work.ListDetails.GroupBy(x => x.SectionID).ToList().FirstOrDefault())
                                {
                                    TotalThisWeek = TotalThisWeek + Convert.ToInt32(details.Run);

                                }
                            }
                        }
                        if (countwork.Count != 0)
                        {
                            <td>
                                @{
                            string whatYouWant = TotalThisWeek.ToString("#,##0");
                            @whatYouWant @meter
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">Run Last week</td>
                    @for (int i = 15; i <= 18; i++)
                    {
                        TotalLastWeek = 0;
                        var countwork = objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= sundayOfLastWeek && p.WorkoutDate <= saturdayOfLastWeek).ToList();

                        foreach (var work in objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= sundayOfLastWeek && p.WorkoutDate <= saturdayOfLastWeek).ToList())
                        {
                            if (work.ListDetails.Count != 0)
                            {

                                foreach (var details in work.ListDetails.GroupBy(x => x.SectionID).ToList().FirstOrDefault())
                                {
                                   
                                        TotalLastWeek = TotalLastWeek + Convert.ToInt32(details.Run);
                                    
                                }
                            }
                        }
                        if (countwork.Count != 0)
                        {
                            <td>
                                @{
                            string whatYouWant = TotalLastWeek.ToString("#,##0");
                            @whatYouWant @meter
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">Run This month</td>
                    @for (int i = 15; i <= 18; i++)
                    {
                        TotalLastMonth = 0;
                        var countwork = objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= firstDayOfMonth && p.WorkoutDate <= lastDayOfMonth).ToList();

                        foreach (var work in objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= firstDayOfMonth && p.WorkoutDate <= lastDayOfMonth).ToList())
                        {
                            if (work.ListDetails.Count != 0)
                            {

                                foreach (var details in work.ListDetails.GroupBy(x => x.SectionID).ToList().FirstOrDefault())
                                {
                                    TotalLastMonth = TotalLastMonth + Convert.ToInt32(details.Run);
                                }
                            }
                        }
                        if (countwork.Count != 0)
                        {
                            <td>
                                @{
                            string whatYouWant = TotalLastMonth.ToString("#,##0");
                            @whatYouWant @meter
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">Miles</td>
                    @for (int i = 15; i <= 18; i++)
                    {
                        TotalLastMonth = 0;
                        var countwork = objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= firstDayOfMonth && p.WorkoutDate <= lastDayOfMonth).ToList();

                        foreach (var work in objWorkout.Where(p => p.WorkoutGroupId == i && p.WorkoutDate >= firstDayOfMonth && p.WorkoutDate <= lastDayOfMonth).ToList())
                        {
                            if (work.ListDetails.Count != 0)
                            {

                                foreach (var details in work.ListDetails.GroupBy(x => x.SectionID).ToList().FirstOrDefault())
                                {
                                    TotalLastMonth = TotalLastMonth + Convert.ToInt32(details.Run);
                                }
                            }

                        }
                        if (countwork.Count != 0)
                        {
                            <td>
                                @{
                            int dividenumber = 1600;
                            float totalmeter = TotalLastMonth / dividenumber;
                            @totalmeter @meter
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>

                <tr>
                    <td style="color: #4bbeab; font-weight: bold;width:13%;">Charts</td>
                    @for (int i = 15; i <= 18; i++)
                    {
                                        <td>
                                            <a onclick="GotoReport(@i)" style="cursor:pointer"> chart</a>
                                        </td>
                                    
                    }
                </tr>
            </table>
        }
        else
        {
            string result = "No dashboard found";
            @result
        }
    }
    @*<div id="partialDiv">
            @Html.Action("DashboardResultTable")
        </div>*@



</div>

<script>
    function GotoWorkout(id) {
        location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=" + id;
    }

    function GotoSection(id) {
        $("#partialResultTable").css("display", "none");
        $('#partialSectionResult').load('/Dashboard/DashboardSectionResultTable', { SectionId: id });
        $("#partialSectionResult").css("display", "block");
    }

    function GotoReport(id) {
        location.href = "/Dashboard/DashboardReport?id=" + id;
    }
</script>



