﻿@using Stampade.Models;
@model List<STAM_MA_ATHLETE_SECTION>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_ATHLETE_SECTION> obj_ATh = new List<STAM_MA_ATHLETE_SECTION>();
    if (Model != null)
    {
        obj_ATh = Model.ToList();
        obj_ATh = obj_ATh.OrderByDescending(p => p.STAM_CREATED_DATE).ToList();
    }
    var count = 1;
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable tblAth">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Section Name</th>
                <th>Group</th>
                <th>Assigned Athletes</th>                
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in obj_ATh)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_ATHSEC_NAME
                        </td>
                        <td>
                            @item.STAM_ATHSEC_GROUPNAME
                        </td>
                        <td>
@{
                    if (item.STAM_ATHSEC_ATHLETEID != null)
                    {
                            @*<a href="#" onclick="ViewAthSec('@item.STAM_ATHSEC_ID')">ViewAll</a>*@
                            <a href="#" onclick="AthleteList('@item.STAM_ATHSEC_ID')">ViewAll</a>
                            @*<div id="div_View_@item.STAM_ATHSEC_ID" style="display:none;">@item.STAM_ATHSEC_ATHLETENAME</div>*@
                    }
                }
                        </td>                        
                        <td>
                            @{
                    if (item.STAM_ATHSEC_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="AthSecStatusAction('@item.STAM_ATHSEC_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_ATHSEC_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="AthSecStatusAction('@item.STAM_ATHSEC_ID','Active')" class="label label-important">InActive  </a>
                    }
}

                        </td>
                        <td class="bold">
                            @*<a href="#" title="View" onclick="ViewAthSec('@item.STAM_ATHSEC_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="EditAthSec('@item.STAM_ATHSEC_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="Delete" onclick="DeleteAthSecAction('@item.STAM_ATHSEC_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>                           
                        </td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>

<style>

    .tblAth th, .tblAth td {
    border-top: 1px solid #ddd;
    line-height: 20px;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
}
</style>