﻿@using Stampade.Models;
@model STAM_MA_ATHLETE_SECTION
@{
    if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_ATHLETE_SECTION obj_ATh = new STAM_MA_ATHLETE_SECTION();
    if (Model != null)
    {
        obj_ATh = Model;
    }

}
<script src="~/Content/js/CommonScript.js"></script>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Athlete Details</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">

            @{
                if (Session["UserType"].ToString() == "2")
                {
                    <label class="pull-left control-label col-md-3">Group:<span style="color: red; font-size: medium">*</span></label>
                    @Html.Action("GetSingleGroup", "UserControl", new { GroupName = (obj_ATh.STAM_ATHSEC_GROUPNAME == null ? "" : obj_ATh.STAM_ATHSEC_GROUPNAME) })
                    <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div>
                }
                else
                {
                    <label class="pull-left control-label col-md-3">Group:<span style="color: red; font-size: medium">*</span></label>
                    @Html.Action("GetAsstCoachGroup", "UserControl", new { GroupName = (obj_ATh.STAM_ATHSEC_GROUPNAME == null ? "" : obj_ATh.STAM_ATHSEC_GROUPNAME) })
                    <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div>
                }
            }


            <label class="pull-left  col-md-3 control-label" style="clear:both;">Athlete Section:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_AthSec" value='@(obj_ATh.STAM_ATHSEC_NAME == null ? "" : obj_ATh.STAM_ATHSEC_NAME)' style="" disabled type="text" placeholder="Athlete Section Name" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageFirstName" class="help-block" style=" color: red;display:none;">Athlete Section  is required</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block" style="color: red;display:none;"></span></div>

            @{

                if (obj_ATh.STAM_ATHSEC_ID != 0)
                {
                    <div class="icon-plus-sign"></div>
                    <a href="#" onclick="AthleteList('@obj_ATh.STAM_ATHSEC_ATHLETEID')"><img class="icon-plus-sign" /><span>View Current Athlete</span></a>
                }
            }

            <label class="pull-left control-label col-md-3">Assign Athlete:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetAthleteByGroup", "UserControl", new { Name = (obj_ATh.STAM_ATHSEC_ATHLETENAME == null ? "" : obj_ATh.STAM_ATHSEC_ATHLETENAME) })
				<div style="float: right; width: 75%;">
					<div class="icon-plus-sign"></div>
					<a href="/Athlete/CreateNewAthlete?AthId=0"><img class="icon-plus-sign" /><span>Create New Athlete</span></a>
					<div> <span id="ErrorMessageATh" class="help-block" style=" color: red;display:none;">Athlete is required</span></div>
				</div>
        </div>


        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn" value="Back" tabindex="7" onclick="Back()" />
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->





<script>


    $(document).ready(function () {
        $("#ddlSingleGroup").addClass("disabledbutton");
        $("#ddAthSec").addClass("disabledbutton");

        if ('@obj_ATh.STAM_ATHSEC_ID' != 0) {
            $("#ddAthSec option[value='0']").remove();
            $("#ddAthSec").prepend('<option value=@obj_ATh.STAM_ATHSEC_ID>@obj_ATh.STAM_ATHSEC_ATHLETENAME</option>');
            $("#ddAthSec").attr('disabled', 'disabled');
            $('#ddAthSec option').each(function () {
                if ($(this).text().trim() == '@obj_ATh.STAM_ATHSEC_ATHLETENAME') {
                    $(this).attr("selected", "selected");
                }
            });
        }
    });
    function Back() {
        location.href = "/AthleteSection/ManageAthleteSection";
    }

    $(function () {
        $('#li_AthSec').addClass('active')
    });


    function AthleteList(arg) {
        location.href = "/AthleteSection/ManageViewAthlete?Msg=" + arg;
    }
</script>

<style>
    .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
</style>


