﻿@using Stampade.Models;
@model STAM_MA_ATHLETE_SECTION
@{
    if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_ATHLETE_SECTION obj_ATh = new STAM_MA_ATHLETE_SECTION();
    if (Model != null)
    {
        obj_ATh = Model;
    }

}
<style>
    .create_team.nwcreate input {
        width: auto;
    }

    </style>

<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/CommonScript.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_ATh.STAM_ATHSEC_ID == 0 ? "Create New Section" : "Update Section")</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">

                @{
                if (Session["UserType"].ToString() == "2")
              {
           <div class="col-md-12 pull-left"> <label class="pull-left control-label col-md-3">Group:<span style="color: red; font-size: medium">*</span></label>
            @Html.Action("GetSingleGroup", "UserControl", new { GroupName = (obj_ATh.STAM_ATHSEC_GROUPNAME == null ? "" : obj_ATh.STAM_ATHSEC_GROUPNAME) })
            <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div></div>
              }
                else
                {
                     <div class="col-md-12 pull-left"> <label class="pull-left control-label col-md-3">Group:<span style="color: red; font-size: medium">*</span></label>
                    @Html.Action("GetAsstCoachGroup", "UserControl", new { GroupName = (obj_ATh.STAM_ATHSEC_GROUPNAME == null ? "" : obj_ATh.STAM_ATHSEC_GROUPNAME) })
                    <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div></div>
                }
}


            <div class="col-md-12 pull-left"><label class="pull-left  col-md-3 control-label">Athlete Section:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_AthSec" value='@(obj_ATh.STAM_ATHSEC_NAME == null ? "" : obj_ATh.STAM_ATHSEC_NAME)' style="" type="text" placeholder="Athlete Section Name" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageFirstName" class="help-block" style=" color: red;display:none;">Athlete Section  is required</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block" style="color: red;display:none;"></span></div></div>

            @{

                if(obj_ATh.STAM_ATHSEC_ID != 0)
                {
             <div class="icon-plus-sign"></div>
    <a href="#" onclick="AthleteList('@obj_ATh.STAM_ATHSEC_ATHLETEID')"><img class="icon-plus-sign" /><span>View Current Athlete</span></a>
                }
}

            <label class="pull-left control-label col-md-3">Assign Athlete:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetAthleteByGroup", "UserControl")
              <div style=" float: right;
    width: 75%;"> @*<div class="icon-plus-sign"></div>*@
            @*<a href="/Athlete/CreateNewAthlete?AthId=0"><img class="icon-plus-sign" /><span>Create New Athlete</span></a></div>*@
            <div> <span id="ErrorMessageATh" class="help-block" style=" color: red;display:none;">Athlete is required</span></div>
        </div>

            <div class="create_team nwcreate">
                <span class="btm_btns_area" style="padding:0px">
                    <input type="button" class="btn btn-primary mr10" id="myBtn" onclick="CreateAthSec()" tabindex="4" value='@(obj_ATh.STAM_ATHSEC_ID == 0 ? "Create" : "Update")' />
                    <input type="button" class="btn" value="Cancel" tabindex="5" onclick="Close_on()" />
                </span>
            </div>

    </div><!--/span-->
</div><!--/row-->

<script>

    $(document).ready(function () {
        $("#ddSingleGroup").attr("tabindex", "1");
        $("#ddAthSec").attr("tabindex", "3");
        // $('#ddAthSec').chosen({ allow_single_deselect: true });

        if ('@obj_ATh.STAM_ATHSEC_ID' != 0) {
            $('#ddlAth').load('/UserControl/GetAthleteByGroup?Name=' + '@obj_ATh.STAM_ATHSEC_GROUPID');
            $("#ddAthSec option[value='0']").remove();
            $("#ddAthSec").prepend('<option value=@obj_ATh.STAM_ATHSEC_ID>@obj_ATh.STAM_ATHSEC_ATHLETENAME</option>');
            $("#ddSingleGroup").attr('disabled', 'disabled');

            $('#ddAthSec option').each(function () {
                if ($(this).text().trim() == '@obj_ATh.STAM_ATHSEC_ATHLETENAME') {
                    $(this).attr("selected", "selected");
                }
            });
        }
    });

    function AthleteList(arg) {
        location.href = "/AthleteSection/ManageViewAthlete?Msg=" + arg;
    }

    function CreateAthSec() {
        document.getElementById("myBtn").disabled = true;
        var IsError = false;

        if ($('#txt_AthSec').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageFirstName').css("display", "block");
        }
        else {
            $('#ErrorMessageFirstName').css("display", "none");
        }

        if ($('#ddSingleGroup :selected').val() == "0") {
            IsError = true;
            $('#ErrorMessageGroup').css("display", "block");
        }
        else {
            $('#ErrorMessageGroup').css("display", "none");
        }

        //if ($('#ddAthSec :selected').text().trim() == "--Select Athlete --" || $('#ddAthSec :selected').text().trim() == "") {
        //    IsError = true;
        //    $('#ErrorMessageATh').css("display", "block");
        //}
        //else {
        //    $('#ErrorMessageATh').css("display", "none");
        //}

        var GroupValues = "";
        var GroupName = "";
        $('#ddAthSec :selected').each(function (i, selectedElement) {
            GroupValues += $(this).val() + ",";
            GroupName += $(this).text() + ",";
        });
        GroupValues = GroupValues.replace(/,\s*$/, "");
        GroupName = GroupName.replace(/,\s*$/, "");

        if (IsError) {
            document.getElementById("myBtn").disabled = false;
            return false;
        }

        if ($('#txt_AthSec').val().trim() != null) {
            $.ajax({
                url: "ChkAThSecName",
                type: "POST",
                data: { Name: $('#txt_AthSec').val().trim(), Group: $('#ddlSingleGroup :selected').text().trim() },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message != "" && result.Message != null) {
                            //if (result.Res == true) {
                            //    $('#ErrorMessageAlreadyExist').text(result.Message);
                            //    $('#ErrorMessageAlreadyExist').css("display", "block");
                            //    isError = true;
                            //    return false;
                            //}
                            if ('@obj_ATh.STAM_ATHSEC_ID' != result.data) {
                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                IsError = true;
                                return false;
                            }
                            if (result.data == 'error') {
                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                IsError = true;
                                return false;
                            }
                        }
                        if (IsError) {
                            document.getElementById("myBtn").disabled = false;
                            return false;
                        }

                        var datatoPost = {
                            STAM_ATHSEC_ID: '@obj_ATh.STAM_ATHSEC_ID',
                            STAM_ATHSEC_NAME: $('#txt_AthSec').val().trim(),
                            STAM_ATHSEC_GROUPID: $('#ddlSingleGroup :selected').val().trim(),
                            STAM_ATHSEC_GROUPNAME: $('#ddlSingleGroup :selected').text().trim(),
                            STAM_ATHSEC_ATHLETEID: GroupValues,
                            STAM_ATHSEC_ATHLETENAME: GroupName,
                        };

                        $.ajax({
                            url: "AthleteSectionCreation",
                            type: "POST",
                            data: datatoPost,
                            success: function (result) {
                                if (result.Error) {

                                }
                                else {
                                    location.href = "/AthleteSection/ManageAthleteSection?Msg=" + result.Message;
                                }
                            },
                        });
                    }
                },
            });
        }
    }

    $('#txt_MobileNo').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^0-9]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            $('#ErrorMessageValidtext').html("Please Enter Numbers Only");
            $('#ErrorMessageValidtext').css("display", "none");
            return '';
        }));
    });


    @*$('#txt_AthSec').change(function () {

        if ($('#txt_AthSec').val().trim() != null) {
            $.ajax({
                url: "ChkAThSecName",
                type: "POST",
                data: { Name: $('#txt_AthSec').val().trim() },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Res == true) {
                            $('#ErrorMessageAlreadyExist').text(result.Message);
                            $('#ErrorMessageAlreadyExist').css("display", "block");
                            isError = true;
                            return false;
                        }
                        if ('@obj_ATh.STAM_ATHSEC_ID' != result.data) {
                            $('#ErrorMessageAlreadyExist').text(result.Message);
                            $('#ErrorMessageAlreadyExist').css("display", "block");
                            return true;
                        }
                    }
                },
            });
        }
    });*@

    function Chg_group() {
        $('#ddlAth').load('/UserControl/GetAthleteByGroup?Name=' +$('#ddlSingleGroup :selected').val().trim());
    }

    function Close_on() {
        location.href = "/AthleteSection/ManageAthleteSection";
    }
    $(function () {
        $('#li_AthSec').addClass('active')
    });

</script>

