﻿@using System.Net.Http;
@using Stampade.Models;
@using System.Threading.Tasks;
@{
    ViewBag.Title = "Manage Athlete Section";
    if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid new_topheader">
    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>
    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2>
                <img src="../Content/image/header_side.png" />
                <span class="break"></span>
                <span class="head_content">Manage Section</span>
            </h2>
        </div>
        <div class="pull-right browse_details col-md-12 new_brw_det">
            <a href="/AthleteSection/CreateNewAthleteSection?AthId=0" class="btn btn-success create_new_team">
                <span>Create New Section</span>
            </a>
        </div>
        <div id="partialDiv">            
            @Html.Action("AthleteSection_Table")          
        </div>
    </div><!--/span-->

</div><!--/row--> 
<script>

    function AthleteList(arg) {
        location.href = "/AthleteSection/ManageViewAthlete?Msg=" + arg;
    }

    function ViewAAll(arg) {        
        $("#div_View_" +arg).css("display", "block")
    }
    function EditAthSec(arg) {
        location.href = "/AthleteSection/CreateNewAthleteSection?AthId=" + arg;
    }
    function ViewAthSec(arg) {
        location.href = "/AthleteSection/AthleteSection_View?AthId=" + arg;
    }
    function CopyEditAthAction(arg) {
        location.href = "/AthleteSection/CreateNewAthleteSection?AthId=" + arg + "&_copy=" + "copy";
    }
    

    function DeleteAthSecAction(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {
            $.ajax({
                url: "EditorUpdateSection",
                type: "POST",
                data: { AthId: arg },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message != "") {                           
                            $('#divSuccessMessage').css("display", "block");
                            $('#divSuccessMessage').text("Selected Athele has not been allowed to Delete is assigned to Workout");
                            setTimeout(function () {
                                $('#divSuccessMessage').css("display", "none");
                            }, 3000);
                        }
                        else if (result.Message == "") {
                            $.ajax({
                url: "DeleteAthleteSection",
                type: "POST",
                data: { AthId: arg },
                success: function (result) {
                    if (result.Error) {
                        setTimeout(function () {
                            $('#divSuccessMessage').text(result.Message);
                            $('#divSuccessMessage').css("display", "block");
                        }, 3000);
                    }
                    else {
                        $('#partialDiv').load('/AthleteSection/AthleteSection_Table');
                        $('#divSuccessMessage').css("display", "block");
                        $('#divSuccessMessage').text(result.Message);
                        setTimeout(function () {
                            $('#divSuccessMessage').css("display", "none");
                        }, 3000);
                    }
                },
            });
        }
    }
                }
            });
        }
    }


    function AthSecStatusAction(arg, arg1) {
        $.ajax({
            url: "EditorUpdateSection",
            type: "POST",
            data: { AthId: arg },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    if (result.Message != "") {
                        //$('#partialDiv').load('/AsstCoachWorkout/AsstCoachWorkout_Table');
                        $('#divSuccessMessage').css("display", "block");
                        $('#divSuccessMessage').text("Sorry, cannot be Change this Section is assigned to Athlete");
                        setTimeout(function () {
                            $('#divSuccessMessage').css("display", "none");
                        }, 3000);
                    }
                    else if (result.Message == "") {
        $.ajax({
            url: "AthSecActionUpdate",
            type: "POST",
            data: { AthId: arg, status: arg1 },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#partialDiv').load('/AthleteSection/AthleteSection_Table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
                        });
                    }
                }
            }
        });
    }

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(function () {
        $('#li_AthSec').addClass('active')
    });

</script> 

