﻿@using System.Net.Http;
@using Stampade.Models;
@using System.Threading.Tasks;
@{
    ViewBag.Title = "Manage Athlete Section";
    if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid new_topheader">
    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>
    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2>
                <img src="../Content/image/header_side.png" />
                <span class="break"></span>
                <span class="head_content">Assigned Athlete</span>
            </h2>
        </div>
        
        <div id="partialDiv">            
            @Html.Action("ViewAssignedAthlete_Table", new { Ath =msg})          
        </div>
    </div><!--/span-->

    <div class="create_team">
        <span class="btm_btns_area" style="padding:0px">          
            <input type="button" class="btn" value="Back" tabindex="9" onclick="Close_on()" />
        </span>
    </div>

</div><!--/row--> 
<script>

    $(function () {
        $('#li_AthSec').addClass('active')
    });

    function Close_on() {
        location.href = "/AthleteSection/ManageAthleteSection";
    }

</script> 

