﻿@using Stampade.Models;
@model List<STAM_MA_ATHLETE>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_ATHLETE> obj_ATh = new List<STAM_MA_ATHLETE>();
    if (Model != null)
    {
        obj_ATh = Model.ToList();
    }
    var count = 1;
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable tblAth">
        <thead>
            <tr>
                <th>S.No</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>EmailAddress</th>
                <th>Mobile No</th>
                <th>Assigned Group</th>
                <th>Athlete Section</th>
               @* <th>Status</th>*@
                @*<th>Action</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in obj_ATh)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_ATH_FIRTSNAME
                        </td>
                        <td>
                            @item.STAM_ATH_LASTNAME
                        </td>
                        <td>
                            @item.STAM_ATH_EMAILADD
                        </td>
                        <td>
                            @item.STAM_ATH_MOBILENO
                        </td>
                        <td>
                            @item.STAM_ATH_ASSIGNGROUP
                        </td>
                        <td>
                            @item.STAM_ATH_SECTION
                        </td>
                      @*  <td>
                            @{
                    if (item.STAM_ATH_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="AthStatusAction('@item.STAM_ATH_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_ATH_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="AthStatusAction('@item.STAM_ATH_ID','Active')" class="label label-important">InActive  </a>
                    }
                            }

                        </td>*@
                        @*<td class="bold">
                            <a href="#" title="View" onclick="ViewAth('@item.STAM_ATH_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>
                            <a href="#" title="Edit" onclick="EditAth('@item.STAM_ATH_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="Delete" onclick="DeleteAthAction('@item.STAM_ATH_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                            <a href="#" title="CopyEdit" onclick="CopyEditAthAction('@item.STAM_ATH_ID')" class="btn btn-warning"><i class="icon-copy "></i></a>
                        </td>*@
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>

<style>
    .tblAth th, .tblAth td {
        border-top: 1px solid #ddd;
        line-height: 20px;
        padding: 4px;
        text-align: left;
        vertical-align: middle;
    }
</style>