﻿
@using Stampade.Models;
@model STAM_MA_GROUP
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_GROUP obj_Group = new STAM_MA_GROUP();
    if (Model != null)
    {
        obj_Group = Model;
    }
    
    ViewBag.Title = "CreateNewGroup";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid">
    <div class="box span12  bg_white">
		<div class="box-header">
			<h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_Group.STAM_GROUP_ID == 0 ? "Create New Group" : "Update Group")</span></h2>
		</div>

        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">Group Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_GroupName" value='@(obj_Group.STAM_GROUP_NAME == null ? "" : obj_Group.STAM_GROUP_NAME)' type="text" placeholder="Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageGroupName" class="help-block" style=" color: red;display:none;">Group Name  is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block" style=" color: red;display:none;"></span></div>
        </div>

        <div class="create_team">
		<span class="btns_area">
            <input type="button" class="btn btn-primary mr10" tabindex="2" onclick="CreateGroup()" value='@(obj_Group.STAM_GROUP_ID == 0 ? "Create" : "Update")' />
            <input type="button" class="btn" tabindex="3" value="Cancel" onclick="Close_on()" />
		</span>
        </div>

    </div><!--/span-->

</div><!--/row-->

<script>
    function CreateGroup()
    {
        var IsError = false;

        if ($('#txt_GroupName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageGroupName').css("display", "block");
        }
        else {
            $('#ErrorMessageGroupName').css("display", "none");
        }
       
        if ($('#txt_GroupName').val().trim() != "") {
            $.ajax({
                url: "ChkGroupName",
                type: "POST",
                data: { Name: $('#txt_GroupName').val().trim() },
                success: function (result) {
                    if (result.Error) {
                        IsError = true;
                    }
                    else {
                        
                        if (result.Message != "" && result.Message != null) {
                            if ('@obj_Group.STAM_GROUP_ID' != result.data) {
                            $('#ErrorMessageValidtext').text(result.Message);
                            $('#ErrorMessageValidtext').css("display", "block");
                            IsError = true;
                            return false;
                            }
                        }

                        if (IsError) {
                            return false;
                        }

                        var datatoPost = {
                            STAM_GROUP_ID: '@obj_Group.STAM_GROUP_ID',
                            STAM_GROUP_NAME: $('#txt_GroupName').val().trim(),
                        };

                        $.ajax({
                            url: "GroupCreation",
                            type: "POST",
                            data: datatoPost,
                            success: function (result) {
                                if (result.Error) {

                                }
                                else {
                                    location.href = "/Group/ManageGroup?Msg=" + result.Message;
                                }
                            },
                        });
                        
                    }
                },
            });
        }

    }

    $('#txt_GroupName').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^a-zA-Z\'\-\. ]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            setTimeout(function () {
                $('#ErrorMessageValidtext').html("Please Enter Letters Only");
                $('#ErrorMessageValidtext').css("display", "none");
            }, 3000);
            return '';
        }));
      //  validateTeamName();

    });

    $('#txt_GroupName').change(function () {
        if ($('#txt_GroupName').val().trim() != null) {
            $.ajax({
                url: "ChkGroupName",
                type: "POST",
                data: { Name: $('#txt_GroupName').val().trim() },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {
                        if ('@obj_Group.STAM_GROUP_ID' != result.data) {
                            $('#ErrorMessageValidtext').text(result.Message);
                            $('#ErrorMessageValidtext').css("display", "block");                       
                        return true;
                        }
                    }
                },
            });
        }
    });

    function validateGroupName()
    {
        if ($('#txt_GroupName').val().trim() != null) {
            $.ajax({
                url: "ChkGroupName",
                type: "POST",
                data: { Name: $('#txt_GroupName').val().trim() },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {
                        setTimeout(function () {
                            $('#ErrorMessageValidtext').text(result.Message);
                            $('#ErrorMessageValidtext').css("display", "block");
                        }, 3000);
                        return true;
                    }
                },
            });
        }
    }

    function isString(event) {
        var charCode = event.charCode;
        if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || (charCode == 0) || (charCode == 32)) {
            return true;
        }
        return false;
    }

    function Close_on()
    {
        location.href = "/Group/ManageGroup";
    }

    $(function () {
        $('#li_Group').addClass('active')
    });
</script>