﻿
@using Stampade.Models;
@model List<STAM_MA_GROUP>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_GROUP> obj_Group = new List<STAM_MA_GROUP>();
    if (Model != null)
    {
        obj_Group = Model.ToList();
        obj_Group = obj_Group.OrderByDescending(p => p.STAM_CREATED_DATE).ToList();
    }
    var count = 1;
}

<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Group Name</th>
                <th> Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in obj_Group)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_GROUP_NAME
                        </td>
                        <td>
                            @{
                    if (item.STAM_GROUP_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="GroupStatusAction('@item.STAM_GROUP_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_GROUP_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="GroupStatusAction('@item.STAM_GROUP_ID','Active')" class="label label-important">InActive  </a>
                    }
}

                        </td>
                        <td class="bold">

                            @*<a href="#" title="View" onclick="ManageViewAction('@item.STAM_GROUP_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="ManageEditAction('@item.STAM_GROUP_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="Delete" onclick="DeleteGroupAction('@item.STAM_GROUP_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                        </td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>