﻿@using Stampade.Models;
@model STAM_MA_GROUP
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_GROUP obj_Group = new STAM_MA_GROUP();
    if (Model != null)
    {
        obj_Group = Model;
    }

    ViewBag.Title = "CreateNewGroup";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12  bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Group Detail</span></h2>
        </div>

        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">Group Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_GroupName" value='@(obj_Group.STAM_GROUP_NAME == null ? "" : obj_Group.STAM_GROUP_NAME)' disabled type="text" placeholder="Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageGroupName" class="help-block" style=" color: red;display:none;">Group Name  is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block" style=" color: red;display:none;"></span></div>
        </div>

        <div class="create_team">
            <span class="btns_area">
                <input type="button" tabindex="2" class="btn btn-primary" onclick="Back()" value="Back" />
            </span>
        </div>

    </div><!--/span-->

</div><!--/row-->

<script>

    function Back()
    {
        location.href = "/Group/ManageGroup";
    }

    $(function () {
        $('#li_Group').addClass('active')
    });
</script>
