﻿@using Stampade.Models;
@{
    ViewBag.Title = "Manage Group";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid new_topheader">
    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>
	</div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><img src="../Content/image/header_side.png" />
				<span class="break"></span> 
				<span class="head_content">Manage Group</span> 
			</h2>           
        </div>
		<div class="pull-right browse_details new_brw_det col-md-12">
			<a href="/Group/CreateNewGroup" class="btn btn-success create_new_team">
				<span>Create New Group</span>
			</a>
		</div>
        <div id="partialDiv">
            @Html.Action("Group_table")
        </div>
    </div><!--/span-->

</div><!--/row-->
<script>

    function ManageEditAction(arg) {
        $.ajax({
            url: "EditorUpdateGroup",
            type: "POST",
            data: { groupID: arg },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    if (result.Message != "") {
                        //$('#partialDiv').load('/AsstCoachWorkout/AsstCoachWorkout_Table');
                        $('#divSuccessMessage').css("display", "block");
                        $('#divSuccessMessage').text("Selected Group has not been allowed to Edit");
                        setTimeout(function () {
                            $('#divSuccessMessage').css("display", "none");
                        }, 3000);
                    }
                    else if (result.Message == "") {
                        location.href = "/Group/CreateNewGroup?GroupId=" + arg;
                    }
                }
            }
        });
    }

    function ManageViewAction(arg) {
        location.href = "/Group/Group_View?GroupId=" + arg;
    }

    function DeleteGroupAction(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {
            $.ajax({
                url: "EditorUpdateGroup",
                type: "POST",
                data: { groupID: arg },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message != "") {
                            //$('#partialDiv').load('/AsstCoachWorkout/AsstCoachWorkout_Table');
                            $('#divSuccessMessage').css("display", "block");
                            $('#divSuccessMessage').text("Selected Group has not been allowed to Delete");
                            setTimeout(function () {
                                $('#divSuccessMessage').css("display", "none");
                            }, 3000);
                        }
                        else if (result.Message == "") {
                            $.ajax({
                                url: "DeleteGroup",
                                type: "POST",
                                data: { GroupId: arg },
                                success: function (result) {
                                    if (result.Error) {
                                        setTimeout(function () {
                                            $('#divSuccessMessage').text(result.Message);
                                            $('#divSuccessMessage').css("display", "block");
                                        }, 3000);
                                    }
                                    else {
                                        $('#partialDiv').load('/Group/Group_table');
                                        $('#divSuccessMessage').css("display", "block");
                                        $('#divSuccessMessage').text(result.Message);
                                        setTimeout(function () {
                                            $('#divSuccessMessage').css("display", "none");
                                        }, 3000);
                                    }
                                },
                            });
                        }
                    }
                }
            });
        }
    }

    function GroupStatusAction(arg, arg1) {
        $.ajax({
            url: "EditorUpdateGroup",
            type: "POST",
            data: { groupID: arg },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    if (result.Message != "") {
                        //$('#partialDiv').load('/AsstCoachWorkout/AsstCoachWorkout_Table');
                        $('#divSuccessMessage').css("display", "block");
                        $('#divSuccessMessage').text("Selected Group has not been allowed to Update Status");
                        setTimeout(function () {
                            $('#divSuccessMessage').css("display", "none");
                        }, 3000);
                    }
                    else if (result.Message == "") {
                        $.ajax({
                            url: "GroupActionUpdate",
                            type: "POST",
                            data: { GroupId: arg, status: arg1 },
                            success: function (result) {
                                if (result.Error) {
                                }
                                else {
                                    $('#partialDiv').load('/Group/Group_table');
                                    $('#divSuccessMessage').css("display", "block");
                                    $('#divSuccessMessage').text(result.Message);
                                    setTimeout(function () {
                                        $('#divSuccessMessage').css("display", "none");
                                    }, 3000);
                                }
                            },
                        });
                    }
                }
            }
        });
    }

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(function () {
        $('#li_Group').addClass('active')
    });

</script>
