﻿@using Stampade.Models;
@model Devices
    @{
        ViewBag.Title = "CreateNewDevice";
        if (Session["USERS_ID"] == null)
        {
            Response.Redirect("~/Account/Login");
        }
        Devices obj_Workout = new Devices();
       
        if (Model != null)
        {
            obj_Workout = Model;
        }
     
        string Asst_c = ViewData["AsstCoachWorkout"] != null ? ViewData["AsstCoachWorkout"].ToString() : "";
        //if(Asst_c =="Asst")
        //{
        //    Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
        
        //}
        //else if (Asst_c == "Coach")
        //{
            Layout = "~/Views/Shared/_CoachLayout.cshtml";
        @*} 
        else
        {
            Layout = "~/Views/Shared/_StampedeLayout.cshtml";
        }*@
        string copyEdit = ViewData["CopyEdit"] != null ? ViewData["CopyEdit"].ToString() : "";
        long wrkcpyid = 0;

        if (copyEdit != null && copyEdit != "")
        {
            wrkcpyid = obj_Workout.ID;
            obj_Workout.ID = 0;
        }
        long UserID = 0;
        long.TryParse(Session["USERS_ID"].ToString(), out UserID);
        int wrkid=0;
        
        wrkid = ViewData["NewWork"] != null ? Convert.ToInt32(ViewData["NewWork"].ToString()) : 0;
        
        
        
        
    }
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid">
    <div class="box span12 bg-white bg_white">
	<div class="box-header">
        <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_Workout.ID ==0 ? "Create New Device" : "Update Device")</span></h2>
		</div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left col-md-2 control-label">Device Name:<span style="color: red; font-size: medium;">*</span></label>
            <input id="txt_DeviceName" value='@(obj_Workout.DeviceName == null ? "" : obj_Workout.DeviceName)' style="margin-left:22px;" type="text" placeholder="Device Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageTitle" class="help-block1" style=" color: red;display:none;">Device Name  is required</span></div>  

            <label class="pull-left col-md-2 control-label">Serial No:<span style="color: red; font-size: medium;">*</span></label>
            <input id="txt_SerialNo" value='@(obj_Workout.DeviceId == null ? "" : obj_Workout.DeviceId)' style="margin-left:22px;" type="text" placeholder="Serial No" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageSerialno" class="help-block1" style=" color: red;display:none;">Serial No  is required</span></div>  
            <div> <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span></div>        
      
            <label class="pull-left col-md-2 control-label">Assigned Athlete:<span style="color: red;font-size: medium;">*</span></label>
            @Html.Action("GetAthleteDevice", "UserControl", new { Name = (obj_Workout.AthleteName == null ? "" : obj_Workout.Name), ID = obj_Workout.AthleteID})
            @{
                @*if (Asst_c == null || Asst_c == "")
                {
                    @Html.Action("GetDistance", "UserControl", new { Name = (obj_Workout.STAM_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_WORKOUT_DISTANCE) })
                }
                else
                {
                    <input id="txt_Distance" value='@(obj_Workout.STAM_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_WORKOUT_DISTANCE)' style="margin-left:42px;" type="text" placeholder="Distance" class="form-control new_createbx" tabindex="2"  onkeypress="isNumberKey(event)" required />
                }*@
}
            <div> <span id="error" class="help-block1" style="color: Red; display: none">* </span><span id="ErrorMessageDevice" class="help-block1" style=" color: red;display:none;">Athlete is required</span>
            </div>
          
     
    </div>   

        <div class="btm_create_team">
		<span class="btm_btns_area ">
            <input id="createworkout" type="button" class="btn mr10 btn-primary" tabindex="6" onclick="CreateDevice()" value='@(obj_Workout.ID == 0? "Create" : "Update")' />
            <input type="button" class="btn" value="Cancel" tabindex="7" onclick="Close_on()" />
        </span>
        </div>

    </div><!--/span-->

</div><!--/row-->
  
<script>
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    $(document).ready(function () {




        $(function () {
            //$(".numeric").bind("keypress", function (e) {

            //    var keyCode = e.which ? e.which : e.keyCode
            //    var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            //    $(".error").css("display", ret ? "none" : "inline");
            //    return ret;
            //});

        });


    });
    function CreateDevice() {







        var IsError = false;
        var DistanceID = "";
        var DistanceName = "";

        if ($('#txt_DeviceName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageTitle').css("display", "block");
        }
        else {
            $('#ErrorMessageTitle').css("display", "none");
        }
        if ($('#txt_SerialNo').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageSerialno').css("display", "block");
        }
        else {
            $('#ErrorMessageSerialno').css("display", "none");
        }

        if ($('#ddAthSec :selected').val() == "0") {
            IsError = true;
            $('#ErrorMessageDevice').css("display", "block");
        }
        else {
            $('#ErrorMessageDevice').css("display", "none");
        }


        var datatoPost = {
            ID: '@obj_Workout.ID',
            DeviceName: $('#txt_DeviceName').val().trim(),
            DeviceId: $('#txt_SerialNo').val().trim(),
            AthleteID: $('#ddAthSec :selected').val().trim(),

            AthleteName: $('#ddAthSec :selected').text().trim(),



        };
		   if (!IsError) {
        $.ajax({
            url: "/Device/NewDeviceCreation",
            type: "POST",
            data:  datatoPost ,
            success: function (result) {

                if (result.Error) {

                    $('#ErrorMessageAlreadyExist').text(result.Message);
                    $('#ErrorMessageAlreadyExist').css("display", "block");
                }
                else
                {
                    alert(result.Message);
                    location.href = "/Device/CreateNewDevice?CoachId=0";
                }

                //if (result.Message) {
                //    console.log(result);

                //    console.log(result.Message);

                //}
            }

            });
}
else
{
return false;

}





    }

    function _addDistance(Dist)
    {
        $.ajax({
            url: "/Distance/ChkDistanceName",
            type: "POST",
            data: { Name: Dist },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    if (result.Message == "" || result.Message == null) {
                        var datatoPost = {
                            STAM_DISTANCE_ID: 0,
                            STAM_DISTANCE_NAME: Dist,
                        };

                        $.ajax({
                            url: "/Distance/DistanceCreation",
                            type: "POST",
                            data: datatoPost,
                            success: function (result) {
                                if (result.Error) {
                                }
                                else {
                                    if ('@wrkid' == 0) {
                                        location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=0";
                                    }
                                    else {
                                        location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=0";
                                    
}
                                }
                            }
                        });
                    }
                    else {
                        if ('@wrkid' == 0) {
                            location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=0";
                        }
                        else {
                            location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=0";
                        }
                    }
                }
            }
        });
    }

    //$('#txt_Distance').keyup(function () {
    //    var $th = $(this);
    //    $th.val().replace(/[^0-9]/g, function (str) {
    //        $('#ErrorMessageValidtext').css("display", "block");
    //        setTimeout(function () {
    //            $('#ErrorMessageValidtext').html("Please Enter Numbers Only");
    //            $('#ErrorMessageValidtext').css("display", "none");
    //        }, 3000);
    //        // return '';
    //    });
    //});

    $('#txt_NoofRuns').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^0-9]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            setTimeout(function () {
                $('#ErrorMessageValidtext').html("Please Enter Valid Text");
                $('#ErrorMessageValidtext').css("display", "none");
            }, 3000);
            return '';
        }));
    });

    @*$('#txt_title').change(function () {
        if ($('#txt_title').val().trim() != null) {
            $.ajax({
                url: "ChkWorkoutTitle",
                type: "POST",
                data: { title: $('#txt_title').val().trim() },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {
                        if ('@obj_Workout.STAM_WORKOUT_ID' != result.data) {
                        $('#ErrorMessageAlreadyExist').text(result.Message);
                        $('#ErrorMessageAlreadyExist').css("display", "block");

                        return true;
                        }
                    }
                },
            });
        }
    });*@

    function Close_on() {
        @*if ('@Asst_c' != null && '@Asst_c' != "") {
            location.href = "/CoachWorkout/ManageCoachWorkout";
        }
        else {
            location.href = "/Workouts/ManageWorkouts";
        }*@
        location.href = "/Device/ManageDevices";
    }
    $(function () {
        $('#li_dev').addClass('active')
    });

    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : evt.keyCode

        //if (charCode != 8 && charCode != 0 && (charCode < 48 || charCode > 57)) {
        //if (charCode > 31 && (charCode < 48 || charCode > 57))
        //  var ret = ((charCode >= 48 && charCode <= 57) || specialKeys.indexOf(keyCode) != -1);

        var keyCode = evt.which ? evt.which : evt.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
        $("#error").css("display", ret ? "none" : "block");
        return ret;

    }
</script>

