﻿@using Stampade.Models;
@model List<Devices>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<Devices> obj_Workout = new List<Devices>();
    if (Model != null)
    {
        obj_Workout = Model.ToList();
        
       obj_Workout = obj_Workout.OrderByDescending(p=>p.ID).ToList();
    }
    var count = 1;
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Device</th>
                <th>Serial No</th>
                <th>Assigned Athlete </th>
                
                @*<th>Section</th>*@
                @{
                    if (Session["UserType"].ToString() != "4")
                    {
              
                <th>Action</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                //string[] s={"1"};
                foreach (var item in obj_Workout)
                {
                   // var _temp=item.STAM_COACH_WORKOUT_ATHSECNAME != null ? item.STAM_COACH_WORKOUT_ATHSECNAME.Split(','): s;
                    //foreach (var item1 in _temp)
                    //{
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.DeviceName
                       
                       
                        </td>
                        <td>
                            @item.DeviceId
                        </td>
                        <td>
                            @item.Name
                        </td>
                       
                      
                        @*<td>
                              @{
                                  if (item1 != "1")
                                  {
                                      @item1
                                  }
                              }            
                        </td>*@
                    @{
                        
                        <td class="bold">
                            @*<a href="#" title="View" onclick="ViewCoachWorkout('@item.STAM_COACH_WORKOUT_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="EditDevice('@item.ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="CopyEdit" onclick="CopyDevice('@item.ID')" class="btn btn-warning"><i class="icon-copy "></i></a>
                            <a href="#" title="Delete" onclick="DeleteDevice('@item.ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                        </td>
                    }
                    
                    
                    

                    </tr>
                    count = count + 1;
                }
               
                }       
        </tbody>
    </table>
</div>