﻿
@using Stampade.Models;
@{
    ViewBag.Title = "Manage Device";
    if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else
    {
         Layout = "~/Views/Shared/_AthleteLayout.cshtml";
    }

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid new_topheader">
    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>

    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><img src="../Content/image/header_side.png" />
			<span class="break"></span>
            @{
               
			<span class="head_content">Manage Devices</span>
              
}
			</h2>
        </div>
@{
                if ((Session["UserType"].ToString() != "4"))
                {
                    

                    
		 <div class="pull-right browse_details new_brw_det col-md-12">

           <a href="/Device/CreateNewDevice?CoachId=0" class="btn btn-success create_new_team">
               <span>Create New Device</span>
           </a>
		</div>
}
}

        <div id="partialDiv">
            @Html.Action("Device_Table")
        </div>
    </div><!--/span-->

</div><!--/row--> 
<script>

    function EditDevice(arg)
    {
        location.href = "/Device/CreateNewDevice?CoachId=" + arg;
        //$.ajax({
        //    url: "CreateNewDevice",
        //    type: "POST",
        //    data: { CoachId: arg },
        //    success: function (result) {
        //        if (result.Error) {                   
        //        }
        //        else {
        //            if (result.Message == "") {                       
        //                $('#divSuccessMessage').css("display", "block");
        //                $('#divSuccessMessage').text("Selected Workout has not been allowed to Edit");
        //                setTimeout(function () {
        //                    $('#divSuccessMessage').css("display", "none");
        //                }, 3000);
        //            }
        //            else if (result.Message != "") {
        //                location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=" + arg;
        //            }
        //        }
        //    },
        //});
    }
    function ViewCoachWorkout(arg) {
        location.href = "/CoachWorkout/CoachWorkout_View?CoachId=" + arg;
    }

    function CopyDevice(arg) {
        location.href = "/Device/CreateNewDevice?CoachId=" + arg + "&_copy=" + "copy";
    }


    function DeleteDevice(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {

            var datatoPost = {
                ID: arg,
             



            };
            $.ajax({
                url: "DeleteDevice",
                type: "POST",
                data: datatoPost,
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message == "") {
                            //$('#partialDiv').load('/AsstCoachWorkout/AsstCoachWorkout_Table');
                            $('#divSuccessMessage').css("display", "block");
                            $('#divSuccessMessage').text("Selected Workout has not been allowed to Delete");
                            setTimeout(function () {
                                $('#divSuccessMessage').css("display", "none");
                            }, 3000);
                        }
                        else if (result.Message != "") {
                            $('#divSuccessMessage').css("display", "block");
                            $('#divSuccessMessage').text(result.Message);
                            setTimeout(function () {
                                $('#divSuccessMessage').css("display", "none");
                            }, 3000);
                            location.href = "/Device/ManageDevices";

                        }
                    }
                }
            });
        }
    }
  

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {
            var searchtext = $('#txt_searchjob').val().trim();
            Validate(0, searchtext, '');
        }
    });
    $(function () {
        $('#li_dev').addClass('active')
    });

</script> 

