﻿@using Stampade.Models;

@{
    ViewBag.Title = "ManageResultsForWorkouts";
    if (Session["UserType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";
    }
    string usertype = Session["UserType"].ToString();
}


<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<style>
.create_team {
    background: #f5f5f5 none repeat scroll 0 0;
    border-top: 1px solid #dcdcdc;
    float: left;
    margin: 0 15px 23px;
    width: 58%;
}
</style>
<div class="row-fluid new_topheader">

    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2>
                <img src="../Content/image/header_side.png" />
                <span class="break"></span>
                <span class="head_content">Manage Workout Results</span>
            </h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name" style="background: none repeat scroll 0% 0% rgb(255, 255, 255); padding-bottom: 64px ! important;">

            <label class="pull-left col-md-2 control-label">Date From:<span style="color: red; font-size: medium;"></span></label>
            <input type="text" class="input-xlarge datepicker" style="cursor:pointer" id="date01" readonly="readonly" tabindex="1" value='@DateTime.Now.Date.ToString(@"MM\/dd\/yyyy")' />
            <div> <span id="ErrorMessageFirstDate" class="help-block" style=" color: red;display:none;">Date From is less than Date To</span></div>

            <label class="pull-left col-md-2 control-label">Date To:<span style="color: red; font-size: medium;"></span></label>
            <input type="text" class="input-xlarge datepicker" id="date02" style="cursor:pointer" readonly="readonly" tabindex="1" value='@DateTime.Now.Date.ToString(@"MM\/dd\/yyyy")' />
            <div> <span id="ErrorMessageSecondDate" class="help-block" style=" color: red;display:none;">Workout Date  is required</span></div>

            <label class="pull-left control-label col-md-2">Select Group:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetSingleGroupByUserID", "UserControl", new { GroupName = "" })

            <label class="pull-left control-label col-md-2">Select Section:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetAthleteSectionList", "UserControl")

            @{
                if (usertype != "4")
                { 
            <label class="pull-left control-label col-md-2">Select Athlete:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetAthleteForSection", "UserControl")
            }
            }

            <label class="pull-left control-label col-md-2">Select Workout:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetWorkoutTitle", "UserControl")


         
        </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn btn-primary mr10" style="width: auto;" onclick="Submit()" tabindex="10" value='Submit' />
                <input type="button" class="btn" style="width:auto;" value="Reset" id="resetwrk" tabindex="11" onclick="Reset()" />
               
			</span>

        </div>

        <div id="loadimg" style="display:none;text-align: center;width:100%;float:left;">

            <img src="~/Content/Image/loadding.gif" />
        </div>
        <div id="partialDiv" style="display:none;">
            @Html.Action("WorkoutsResultTable")
        </div>
    </div>

    </div>
<script>

    function Submit() {
        var error=0;
        if ($('#date02').val().trim() < $('#date01').val().trim()) {
            var displaymsg = "DOB is less than DOJ";
            $('#ErrorMessageFirstDate').show();
            error = 1;
        }
        if (error == 0) {
            $('#ErrorMessageFirstDate').hide();
            $('#testingForSecond').empty();
            $('#testingForSecond').html('');
            $('#partialDiv').load('/ResultForWorkouts/WorkoutsResultTable', { StartDate: $('#date01').val().trim(), EndDate: $('#date02').val().trim(), GroupId: $('#ddlSingleGroup :selected').val().trim(), SectionID: $('#ddSummaryAthSec :selected').val().trim(), AtheleteID: $('#ddlAth :selected').val().trim(), WorkoutTitle: $('#ddlGetWorkoutTitle :selected').val().trim(), Flag: 1 });          
            $("#partialDiv").css("display", "block");
        }
    }                                   
    //function Chg_dp() {
    //    $('#partialDiv').load('/WorkoutResults/WorkoutResults_Table', { GroupName: $('#ddlSingleGroup :selected').text().trim(), _date: $('#date01').val().trim() });
    //}
    function Chg_group() {
        $('#ddlSummarySection').load('/UserControl/GetAthleteSectionList?GroupName=' + encodeURIComponent($('#ddlSingleGroup :selected').text().trim()));
      
    }
    //function Chg_SummaryAthSec() {
    //    $('#partialDiv').load('/WorkoutResults/WorkoutResults_Table', { GroupName: $('#ddlSingleGroup :selected').text().trim(), _date: $('#date01').val().trim(), AthName: $('#ddSummaryAthSec :selected').val().trim() });
    //}
    function Chg_SummaryAthSec()
    {
        $('#ddlAth').load('/UserControl/GetAthleteForSection?SectionName=' + encodeURIComponent($('#ddlSummarySection :selected').text().trim()));
    }


    $(document).ready(function () {
        $("#ddSingleGroup").attr("tabindex", "2");
        $("#ddSummaryAthSec").attr("tabindex", "2");
    });


    function Reset() {
        location.href = "/ResultForWorkouts/ManageResultsForWorkouts";
        //$("select").each(function () { this.selectedIndex = 0 });
        //$("#partialDiv").empty();
        //$("#partialDiv").hide();
        //$("#date01").datepicker().datepicker("setDate", new Date());
        //$("#date02").datepicker().datepicker("setDate", new Date());
    }

    

</script> 