﻿@using Stampade.Models;

@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<NewWorkout> objWorkout = new List<NewWorkout>();
    if (Model != null)
    {
        objWorkout = Model;
    }

}

<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <div>
        <span style="float:right;width:100px;">Total</span>
    </div>
    <table class="table table-striped table-bordered bootstrap-datatable">
        <tbody>
            @{
                @foreach (var item in objWorkout)
                { 
                     <tr>
                        <th>Distance</th>
                     <td>

                    </td>
                }
            }

        </tbody>
    </table>
</div>
