﻿@using Stampade.Models;

@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<NewWorkout> objWorkout = new List<NewWorkout>();
    List<Details> lstDetails = new List<Details>();
    List<SectionResults> lstSection = new List<SectionResults>();

    if (Model != null)
    {
        objWorkout = Model;
    }


}
<style>
    .new_box_tab td {
        padding: 7px 0 !important;
    }

    .new_box_tab table {
        width: 100%;
        overflow-y: auto;
        overflow-x: auto;
        float: left;
    }

    #partialDiv {
        float: left;
        width: 100%;
    }

    .new_box_tab {
        background: #fff;
        border: 1px solid #dcdcdc;
        float: left;
        padding: 10px;
        width: 98%;
    }

    tr {
        border-bottom: 1px solid #dcdcdc;
    }
</style>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="box-content new_box_tab" id="testTable">
    @{
        long OldValue = 0;
        long NewValue = 0;
        string[] splitString;
        if (objWorkout.Count != 0)
        {
            <input type="button" id="hideSplits" style="margin-bottom:10px;" class="btn btn-warning mr10 pull-right" onclick="hideSplits()" tabindex="10" value='Hide Splits' />
            <input type="button" id="SeeSplits" style="display:none;" class="btn btn-primary mr10 pull-right" onclick="SeeSplits()" tabindex="10" value='See Splits' />

            <table id="testing">

                <tbody>

                    @foreach (var item in objWorkout.OrderByDescending(p => p.WorkoutDate).ToList())
                    {
                        List<int> intsection = new List<int>();
                        NewValue=1;
                        foreach (var itemsection in item.ListDetails.Where(p => p.workoutId == item.workoutId).ToList())
                        {
                            if (intsection.Where(x => x == (int)itemsection.SectionID).Count() == 0)
                            {
                                intsection.Add((int)itemsection.SectionID);
                                int i = 0;
                                int j = 0;
                                int k = 0;
                                OldValue = Convert.ToInt32(itemsection.SectionID);
                                if (OldValue == NewValue)
                                {
                                    i = 1;
                                }
                                else
                                {
                                    i = 0;
                                }
                                if (i == 0)
                                {

                                    NewValue = Convert.ToInt32(itemsection.SectionID);
                                    string dateString = Convert.ToString(@item.WorkoutDate);
                                    string[] dateOnly = dateString.Split();
                                    var datess = item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).ToList();
                                    <tr style="background:#BEBABA">
                                        <td><b>@dateOnly[0]</b></td>
                                        <td><b>@item.WorkoutGroupName</b></td>
                                        <td><b>@itemsection.SectionName</b></td>
                                        <td><b>@item.WorkoutTitle</b></td>
                                        @for (int icounts = 3; icounts < item.WorkoutRuns; icounts++)
                                        {
                                            <td></td>
                                        }
                                        @*<td>
                                            <b>
                                                <input type="button" id="hide_@itemsection.SectionID" class="btn btn-warning mr10" onclick="hide(@itemsection.SectionID)" tabindex="10" value='Hide Splits' />
                                                <input type="button" id="See_@itemsection.SectionID" style="display:none;" class="btn btn-primary mr10" onclick="See(@itemsection.SectionID)" tabindex="10" value='See Splits' />
                                            </b>*@
                                        @*</td>*@
                                        <td colspan="14"><b>Total</b></td>
                                    </tr>

                                        int Totalrun = 0;
                                        decimal TotalTime = 0;
                                        String StrFormat = "m/s";
                                        String StrPlus = "+";
                                        String StrMinus = "-";
                                        String[] splitStrings;
                                        decimal TotalTimes = 0 ;
                                        <tr>

                                            @foreach (var data in datess)
                                            {
                                                if (data.ListSectionResults != null)
                                                {
                                                    lstSection = data.ListSectionResults.ToList();
                                                }
                                                if (j == 0)
                                                {
                                                    <td style="color: #4bbeab; font-weight: bold;width:13%;">Distance</td>
                                                    j = 1;
                                                }
                                                <td style="width: 13%;">
                                                    @data.Run
                                                </td>
                                                Totalrun = Totalrun + Convert.ToInt32(data.Run);
                                            }
                                            <td style="width: 13%;">
                                                @Totalrun
                                            </td>
                                           @foreach (var data in datess)
                                            {
                                                splitString = data.TargetTime.Split(':');
                                                string str = splitString[0] + '.' + splitString[1];
                                                TotalTime = TotalTime + Convert.ToDecimal(str);
                                            }
                                          @*  <td>
        @{
    var timeSpana = TimeSpan.FromMinutes(Convert.ToDouble(TotalTime));
    if (TotalTime != 0)
    {

        var timesss = Totalrun / TotalTime;
        var round = Math.Round(timesss, 2);
        @round @StrFormat;
    }
        }
    </td>*@

                                            @foreach (var data in datess)
                                            {
                                                if (data.ListSectionResults != null)
                                                    {
                                                        List<SectionResults> GetListSection = data.ListSectionResults.ToList();                                                        
                                                        foreach(var Section in GetListSection)
                                                        {
                                                            splitStrings =Convert.ToString(Section.LapTime).Split('.');
                                                            string str = splitStrings[0] + '.' + splitStrings[1];
                                                            TotalTimes = TotalTimes + Convert.ToDecimal(str);
                                                        }
                                                    }
                                            }
                                            <td>
                                                @{
                                                  if (TotalTimes != 0)
                                                  {

                                                var timesss = Totalrun / TotalTimes;
                                                var round = Math.Round(timesss, 2);
                                                @round @StrFormat;
                                                 }
                                                 else
                                                  {
                                                    int b= 0 ;
                                                     @b @StrFormat
                                                  }
                                                }
                                            </td>
                                        </tr>

                                            int lapcounts = 0;
                                            decimal splitcount = 0;
                                            TotalTimes = 0;
                                            TimeSpan TotalSplit = TimeSpan.FromSeconds(0.0);                                            
                                            string strTarget = string.Empty;
                                            <tr>
                                                @foreach (var data in datess)
                                                {

                                                    if (data.ListSectionResults != null)
                                                    {
                                                        lstSection = data.ListSectionResults.ToList();
                                                    }
                                                    if (k == 0)
                                                    {
                                                        <td style="color: #4bbeab; font-weight: bold; width: 13%;">Time</td>
                                                        k = 1;
                                                    }
                                                    if (data.ListSectionResults != null)
                                                    {
                                                        List<SectionResults> GetListSection = data.ListSectionResults.ToList();                                                        
                                                        foreach(var Section in GetListSection)
                                                        {
                                                            splitStrings =Convert.ToString(Section.LapTime).Split('.');
                                                            string str = splitStrings[0] + '.' + splitStrings[1];
                                                            TotalTimes = TotalTimes + Convert.ToDecimal(str);
                                                        }
                                                        TimeSpan timespan = TimeSpan.FromSeconds(Convert.ToDouble(TotalTimes));
                                                        TimeSpan TotalSplitspan = TimeSpan.FromSeconds(Convert.ToDouble(TotalTimes));
                                                        TotalSplit = TotalSplit + TotalSplitspan;
                                                        string TimeString = timespan.ToString("mm\\:ss\\.f");
                                                        <td>@TimeString</td>
                                                    
                                                        TotalTimes = 0;
                                                    }
                                                    else
                                                    {
                                                        <td>00:00</td>
                                                    }
                                                    @*<td>
                                                        @data.TargetTime
                                                    </td>*@
                                                }
                                                @{
                                                TimeSpan splitcount1 = TimeSpan.FromSeconds(0.00);
                                                foreach (var data in datess)
                                                {
                                                    splitString = data.TargetTime.Split(':');
                                                    strTarget = splitString[0] + '.' + splitString[1];
                                                    TimeSpan timespan = TimeSpan.FromSeconds(Convert.ToDouble(strTarget));
                                                    splitcount1 = splitcount1 + timespan;
                                                }

                                                }
                                                <td>
                                                    @{
                                                   string output = TotalSplit.ToString("mm\\:ss\\.f");
                                                      @output  
                                                    }
                                                </td>
                                                @if (item.ListDetails != null)
                                                {
                                                    List<int> lstLapss = new List<int>();
                                                    var runss = item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).ToList();
                                                    foreach (var data in runss)
                                                    {
                                                        if (data.ListSectionResults != null)
                                                        {
                                                            if (data.ListSectionResults != null)
                                                            {
                                                                lstSection = data.ListSectionResults.Where(p => p.DetailsID == data.DetailsID).OrderBy(p => p.Lap).ToList();
                                                            }
                                                            foreach (var runcount in lstSection)
                                                            {
                                                                if (lstLapss.Where(x => x == (int)runcount.Lap).Count() == 0)
                                                                {
                                                                    lapcounts = Convert.ToInt32(runcount.Lap);
                                                                    lapcounts = lapcounts - 1;
                                                                    lapcounts = lapcounts + 1;
                                                                    lstLapss.Add((int)lapcounts);
                                                                    if (data.ListSectionResults != null)
                                                                    {
                                                                        int count = item.ListDetails.Count();
                                                                        for (j = 0; j < count; j++)
                                                                        {
                                                                            if (item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault() != null && item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault().ListSectionResults != null)
                                                                            {
                                                                                var lst = item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault().ListSectionResults.Where(p => p.Lap == lapcounts).ToList();
                                                                                if (lst.Count != 0)
                                                                                {
                                                                                    foreach (var _section in item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault().ListSectionResults.Where(y => y.Lap == runcount.Lap && y.Lap == lapcounts).ToList())
                                                                                    {
                                                                                        splitcount = splitcount + Convert.ToDecimal(_section.LapTime);
                                                                                    }
                                                                                }
                                                                            }
                                                                        }

                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                <td>
                                                    @{
                                                TimeSpan timeSpans = TimeSpan.FromSeconds(Convert.ToDouble(TotalTime));
                                                TimeSpan Splittime = TimeSpan.FromSeconds(Convert.ToDouble(splitcount));
                                                TimeSpan tyms = Splittime - timeSpans;
                                                string output1 = tyms.ToString("mm\\:ss\\.f");
                                                    }
                                                    @if (timeSpans <= Splittime)
                                                    {
                                                        <span style="color: #ff0000"> @StrMinus@output1</span>
                                                    }
                                                    else
                                                    {
                                                        if (splitcount != 0)
                                                        {
                                                            <span style="color: #0ACC00;">  @StrPlus@output1 </span>
                                                        }
                                                        else
                                                        {
                                                            int a = 0;
                                                            @a
                                                        }
                                                    }
                                                </td>

                                            </tr>

                                                    int lapcount = 0;
                                                    int lapcount1 = 0;
                                                    if (item.ListDetails != null)
                                                    {

                                                        List<int> lstLap = new List<int>();
                                                        var run = item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).ToList();
                                                        foreach (var data in run)
                                                        {
                                                            if (data.ListSectionResults != null)
                                                            {
                                                                if (data.ListSectionResults != null)
                                                                {
                                                                    lstSection = data.ListSectionResults.Where(p => p.DetailsID == data.DetailsID).OrderBy(p => p.Lap).ToList();
                                                                }
                                                                foreach (var runcount in lstSection)
                                                                {
                                                                    if (lstLap.Where(x => x == (int)runcount.Lap).Count() == 0)
                                                                    {
                                                                        lapcount =Convert.ToInt32(runcount.Lap);
                                                                        lapcount = lapcount - 1;
                                                                        lapcount = lapcount + 1;
                                                                        lapcount1 = lapcount1 + 1;
                                                                        lstLap.Add((int)lapcount);
                                                                        <tr>
                                                                            @if (data.ListSectionResults != null)
                                                                            {
                                                                                <td>
                                                                                    <a class="ta" style="color: #4bbeab; font-weight: bold;">Split @lapcount1 </a>
                                                                                </td>
                                                                            }
                                                                            @if (data.ListSectionResults != null)
                                                                            {
                                                                                int count = item.ListDetails.Count();
                                                                                for (j = 0; j < count; j++)
                                                                                {
                                                                                    if (item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault() != null && item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault().ListSectionResults != null)                                                                                    
                                                                                    {
                                                                                        var lst = item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault().ListSectionResults.Where(p => p.Lap == lapcount).ToList();
                                                                                        if (lst.Count != 0)
                                                                                        {
                                                                                            foreach (var _section in item.ListDetails.Where(p => p.SectionID == itemsection.SectionID && p.workoutId == item.workoutId).Skip(j).FirstOrDefault().ListSectionResults.Where(y => y.Lap == runcount.Lap && y.Lap == lapcount).ToList())
                                                                                            {
                                                                                                splitcount = splitcount + Convert.ToDecimal(_section.LapTime);
                                                                                                string splits = Convert.ToString(_section.LapTime);
                                                                                                string[] splitsStrng = splits.Split('.');
                                                                                                 <td>
                                                                                                        @{
                                                                                                    string strRoundValue = String.Format("{0:0.0}", _section.LapTime);
                                                                                                    @strRoundValue
                                                                                                        }
                                                                                                         
                                                                                                       
                                                                                                    </td>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td> </td>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td> </td>
                                                                                    }
                                                                                }

                                                                            }

                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                }
                            }
                        }
                    }



                </tbody>
            </table>
        }
        else
        {
            <table id="testingForSecond">
                <tr>
                    <td style="color: #4bbeab; font-weight: bold;">No Workouts not found</td>

                </tr>
            </table>
        }
    }
</div>

<script>
    //function hide(id) {
    //    $("#See_" + id).show();
    //    $("#hide_" + id).hide();
    //    $('tbody tr:has(a.' + id + ')').hide();
    //}
    //function See(id) {
    //    $("#hide_" + id).show();
    //    $("#See_" + id).hide();
    //    $('tbody tr:has(a.' + id + ')').show();
    //}
    function hideSplits() {
        $("#hideSplits").hide();
        $("#SeeSplits").show();
        $('tbody tr:has(a.ta)').hide();
    }
    function SeeSplits() {
        $("#hideSplits").show();
        $("#SeeSplits").hide();
        $('tbody tr:has(a.ta)').show();
    }
</script>