﻿@using Stampade.Models;
@model Stampade.Models.NewWorkout
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<NewWorkout> objWorkout = new List<NewWorkout>();
    List<Details> lstDetails = new List<Details>();
    List<SectionResults> lstSection = new List<SectionResults>();

    if (Model != null)
    {
    }


}

<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="box-content">
    <div>
        <span style="float:right;width:100px;">Total</span>
    </div>
    <table class="table table-striped table-bordered bootstrap-datatable">
        <thead>
            @*<tr>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Split</th>
                    <th>Split</th>
                    <th>Split</th>
                    <th>Split</th>
                </tr>*@
        </thead>
        <tbody>
            @{
                string OldValue = string.Empty;
                string NewValue = string.Empty;
                if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        foreach (var itemsection in item.ListDetails)
                        {
                            var datess =
                                <tr>
                                    <th>@item.WorkoutDate</th>
                                    <th>@itemsection.SectionName</th>
                                    <th>@item.WorkoutTitle</th>
                                </tr>
                                <tr>
                                    <td>Distance</td>
                                    @foreach (var data in datess)
                                    {
                                        <td>
                                            @data.Run
                                        </td>
                                    }
                                </tr>
                        }
                    }

                }
            }
        </tbody>
    </table>
</div>

