﻿@using Stampade.Models;
@model List<STAM_MA_ATHLETE_SECTION>
@{
    List<STAM_MA_ATHLETE_SECTION> obj_Group = new List<STAM_MA_ATHLETE_SECTION>();
    
    if (Model != null)
    {
        obj_Group = Model.ToList();
    }  

    string Name = null;
    if (ViewData["AthName"] != null && ViewData["AthName"] != "")
    {
        Name = ViewData["AthName"].ToString();
    }
}
<div id="ddlAthSection">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddAthSec" class="form-control" data-ng-show="partner.editMode" tabindex="7" required ng-required="positionTypeRequired">
            <option value="0">-- Select Athlete Section--</option>
            @{foreach (var item in obj_Group.OrderByDescending(p => p.STAM_CREATED_DATE))
            {
                <option value="@item.STAM_ATHSEC_ID" @((Name != null) ? (item.STAM_ATHSEC_NAME == Name) ? "selected=selected" : "" : "")>@item.STAM_ATHSEC_NAME</option>
            }
            }

        </select>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ddAthSec").attr("tabindex", "7");
		});
</script>

