﻿@using Stampade.Models;
    @{
        List<STAM_MA_ATHLETE> obj_ATh = new List<STAM_MA_ATHLETE>();
        if (Model != null)
        {
            //obj_ATh = Model.ToList();
        }
    }
    <div id="ddlAth">
        <div class="col-md-12 nopadding mt14 new_dworksite">
            <select id="ddAthSec" class="form-control" data-ng-show="partner.editMode" tabindex="2" required ng-required="positionTypeRequired">
                <option value="0">--Select Athlete --</option>
                @{
                      if (Model != null)
                      {
                          foreach (var item in Model)
                    {
                        <option value="@item.STAM_ATH_ID">@item.STAM_ATH_FIRTSNAME  @item.STAM_ATH_LASTNAME</option>
                    }
                    }
                }
            </select>
        </div>
    </div>

