﻿@using Stampade.Models;
@model List<STAM_MA_ASST_ATHLETE>
@{
    List<STAM_MA_ASST_ATHLETE> obj_ATh = new List<STAM_MA_ASST_ATHLETE>();
    List<STAM_MA_ASST_ATHLETE> res = new List<STAM_MA_ASST_ATHLETE>();
    List<STAM_MA_ASST_ATHLETE> res1 = new List<STAM_MA_ASST_ATHLETE>();
    List<STAM_MA_ASST_ATHLETE> Finalres = new List<STAM_MA_ASST_ATHLETE>();
    if (Model != null)
    {
        obj_ATh = Model.ToList();
    }
    string[] Name = null;
    if (ViewData["AthName"] != null && ViewData["AthName"] != "")
    {
        Name = ViewData["AthName"].ToString().TrimEnd(',').Split(',');
    }
}
<div id="ddlTeam">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddAthSec" class="form-control" data-ng-show="partner.editMode" tabindex="5" required ng-required="positionTypeRequired" multiple>
            @*<option value="0">--Select Athlete --</option>*@
    @*@{foreach (var item in obj_ATh)
            {
                  var _name = item.STAM_ATH_FIRTSNAME+" "+item.STAM_ATH_LASTNAME;
                <option value="@item.STAM_ATH_ID" @((_name == Name.Trim()) ? "selected=selected" : "")>@item.STAM_ATH_FIRTSNAME  @item.STAM_ATH_LASTNAME</option>
            }
            }*@

            @{
               
                if (Name != null)
                {
                    foreach (var item in obj_ATh)
                    {
                        var _name = item.STAM_ASST_ATH_FIRTSNAME + "  " + item.STAM_ASST_ATH_LASTNAME;
                        foreach (var str in Name)
                        {
                            if (str.ToString().Trim() == _name.ToString().Trim())
                            {
                                <option selected value="@item.STAM_ASST_ATH_ID">@_name</option>
                                res.Add(item);
                            }
                        }
                    }

                    foreach (var item in obj_ATh)
                    {
                        res1.Add(item);
                    }
                    Finalres = res1.Except(res).ToList();
                    foreach (var str in Finalres)
                    {
                        <option value="@str.STAM_ASST_ATH_ID">@str.STAM_ASST_ATH_FIRTSNAME  @str.STAM_ASST_ATH_LASTNAME</option>
                    }

                }
                else
                {
                    foreach (var item in obj_ATh)
                    {
                        <option value="@item.STAM_ASST_ATH_ID">@item.STAM_ASST_ATH_FIRTSNAME  @item.STAM_ASST_ATH_LASTNAME</option>
                    }
                }
            }
        </select>
    </div>
</div>

