﻿@using Stampade.Models;
@model List<Stam_Athlete>
@{
    List<Stam_Athlete> obj_ATh = new List<Stam_Athlete>();
    List<Stam_Athlete> res = new List<Stam_Athlete>();
    List<Stam_Athlete> res1 = new List<Stam_Athlete>();
    List<Stam_Athlete> Finalres = new List<Stam_Athlete>();
    if (Model != null)
    {
        obj_ATh = Model.ToList();
    }
    string Name = null;
    long ID = 0;
    if (ViewData["AthName"] != null && ViewData["AthName"] != "")
    {
        Name = ViewData["AthName"].ToString();
        ID = Convert.ToInt32(ViewData["AthleteID"].ToString());
        
        
    }
}
<div id="ddlAth">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddAthSec" class="form-control" data-ng-show="partner.editMode" tabindex="5" required ng-required="positionTypeRequired" >
            <option value="0">--Select Athlete --</option>
            @*@{foreach (var item in obj_ATh)
            {
                  var _name = item.STAM_ATH_FIRTSNAME+" "+item.STAM_ATH_LASTNAME;
                <option value="@item.STAM_ATH_ID" @((_name == Name.Trim()) ? "selected=selected" : "")>@item.STAM_ATH_FIRTSNAME  @item.STAM_ATH_LASTNAME</option>
            }
            }*@

            @{
               
                if (Name != null)
                {
                    foreach (var item in obj_ATh)
                    {
                       // var _name = item.STAM_ATH_FIRTSNAME + "  " + item.STAM_ATH_LASTNAME;
                        var _name = item.STAM_ATH_FIRTSNAME;// +"  " + item.STAM_ATH_LASTNAME;
                        //foreach (var str in Name)
                        //{
                        if (Name[0].ToString().Trim() == _name.ToString().Trim())
                            {
                                <option selected value="@item.STAM_ATH_ID">@item.STAM_ATH_FIRTSNAME  @item.STAM_ATH_LASTNAME</option>
                                res.Add(item);
                            }
                        else
                        {
                            <option value="@item.STAM_ATH_ID">@item.STAM_ATH_FIRTSNAME  @item.STAM_ATH_LASTNAME</option>
                           // res.Add(item);
                        }
                        // }
                    }

                    @*foreach (var item in obj_ATh)
                    {
                        res1.Add(item);
                    }
                    Finalres = res1.Except(res).ToList();
                    foreach (var str in Finalres)
                    {
                        <option value="@str.STAM_ATH_ID">@str.STAM_ATH_FIRTSNAME  @str.STAM_ATH_LASTNAME</option>
                    }*@

                }
                else
                {
                    foreach (var item in obj_ATh)
                    {
                        <option value="@item.STAM_ATH_ID">@item.STAM_ATH_FIRTSNAME  @item.STAM_ATH_LASTNAME</option>
                    }
                }
            }
        </select>
    </div>
</div>
<script>
    $(document).ready(function () {
        var name = '@Name';
        var id = '@ID';
        @*if ('@Name'== null && '@ID'==0) {
            
            $('#ddAthSec :selected').attr('selectedIndex', 0);

        }

        else {

            $('#ddAthSec').append('<option value=' + @ID + ' selected>' + "@Name" + '</option>');
            //$('#ddAthSec :selected').attr('selectedIndex', 0);

        }*@
       
        if(id!=0)
        {
           
            $('#ddAthSec').append('<option value=' + id + ' selected>' + name + '</option>');
        }




        @*if ('@Name'!= null) {
            
     $('#ddAthSec').append('<option value=' + @ID + ' selected>' + "@Name" + '</option>');
        }

            else {
            $('#ddAthSec :selected').attr('selectedIndex', 0);

 }*@
    });
    </script>