﻿@using Stampade.Models;
@model List<Devices>
@{
    List<Devices> obj_Dist = new List<Devices>();
    if (Model != null)
    {
        obj_Dist = Model.OrderBy(x => x.DeviceName).ToList();
        
        
        
    }
    string Name = "";
    if (ViewData["DeviceName"] != null && ViewData["DeviceName"] != "")
    {
        Name = ViewData["DeviceName"].ToString();
    }
}
<div id="ddlTeam">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddDist" class="form-control" data-ng-show="partner.editMode" tabindex="2" required ng-required="positionTypeRequired">
            <option value="0">--Select Device --</option>
            @{foreach (var item in obj_Dist)
            {
                <option value="@item.ID" @((item.DeviceName!=null ? item.DeviceName.Trim() == Name.Trim() ? "selected=selected" : "":""))>@item.DeviceName</option>
            }
            }
        </select>
    </div>
</div>

