﻿@using Stampade.Models;
@model List<STAM_MA_DISTANCE>
@{
    List<STAM_MA_DISTANCE> obj_Dist = new List<STAM_MA_DISTANCE>();
    List<STAM_MA_DISTANCE> obj_Dist1 = new List<STAM_MA_DISTANCE>();
    
    if (Model != null)
    {
     //  obj_Dist = Model.OrderBy(x => x.STAM_DISTANCE_NAME).ToList();
        obj_Dist = Model.ToList();
        obj_Dist = obj_Dist.OrderBy(x => x.STAM_DISTANCE_NAME).ToList();
    }
    string Name = "";
    string tab = "";
    int tabindex = 0;
    if (ViewData["DistName"] != null && ViewData["DistName"] != "")
    {
        Name = ViewData["DistName"].ToString();
    }
    if (ViewData["Tab"] != null && ViewData["Tab"]!="")
    {
        tab = ViewData["Tab"].ToString();
        tabindex = int.Parse(tab);
    }
    
}
<div id="ddlTeam" style="width:48%;float:left;">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddDist" class="form-control" data-ng-show="partner.editMode" tabindex="@tabindex" required ng-required="positionTypeRequired">
            <option value="0">Select Distance</option>
            @{foreach (var item in obj_Dist)
            {
                <option value="@item.STAM_DISTANCE_ID" @((item.STAM_DISTANCE_NAME.Trim() == Name.Trim()) ? "selected=selected" : "")>@item.STAM_DISTANCE_NAME</option>
            }
            }
        </select>
    </div>
</div>

