﻿@using Stampade.Models;
@model List<STAM_MA_GROUP>
@{
    List<STAM_MA_GROUP> obj_Group = new List<STAM_MA_GROUP>();
    List<STAM_MA_GROUP> res = new List<STAM_MA_GROUP>();
    List<STAM_MA_GROUP> res1 = new List<STAM_MA_GROUP>();
    List<STAM_MA_GROUP> Finalres = new List<STAM_MA_GROUP>();
    if (Model != null)
    {
        obj_Group = Model.ToList();
    }  

    string[] Name = null;
    if (ViewData["GroupName"] != null && ViewData["GroupName"] != "")
    {
        Name = ViewData["GroupName"].ToString().TrimEnd(',').Split(',');
    }
}
<div id="ddlGroup">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddGroup" class="form-control" data-ng-show="partner.editMode" required ng-required="positionTypeRequired" multiple="multiple">
            @{
                if (Name != null)
                {
                    foreach (var item in obj_Group)
                    {
                        foreach (var str in Name)
                        {
                            if (str == item.STAM_GROUP_NAME)
                            {
                                <option selected value="@item.STAM_GROUP_ID">@item.STAM_GROUP_NAME</option>
                                res.Add(item);
                            }
                        }
                    }

                    foreach (var item in obj_Group)
                    {
                        res1.Add(item);
                    }
                    Finalres = res1.Except(res).ToList();
                    foreach (var str in Finalres)
                    {
                        <option value="@str.STAM_GROUP_ID">@str.STAM_GROUP_NAME</option>
                    }

                }
                else
                {
                    foreach (var item in obj_Group)
                    {
                        <option value="@item.STAM_GROUP_ID">@item.STAM_GROUP_NAME</option>
                    }
                }
            }
            
        </select>
    </div>
</div>

