﻿@using Stampade.Models;
@model List<STAM_MA_GROUP>
@{
    List<STAM_MA_GROUP> obj_Group = new List<STAM_MA_GROUP>();
    List<STAM_MA_GROUP> res = new List<STAM_MA_GROUP>();
    List<STAM_MA_GROUP> res1 = new List<STAM_MA_GROUP>();
    List<STAM_MA_GROUP> Finalres = new List<STAM_MA_GROUP>();
    if (Model != null)
    {
        obj_Group = Model.ToList();
    }  

    string Name = null;
    if (ViewData["GroupName"] != null && ViewData["GroupName"] != "")
    {
        Name = ViewData["GroupName"].ToString();
    }
}
<div id="ddlSingleGroup" style="width:48%;float:left;">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddSingleGroup" class="form-control" onchange="Chg_group()" data-ng-show="partner.editMode" required ng-required="positionTypeRequired">
            <option value="0">-- Select Group--</option>
            @{foreach (var item in obj_Group)
            {
                <option value="@item.STAM_GROUP_ID" @((Name!= null)?(item.STAM_GROUP_NAME == Name) ? "selected=selected" : "":"")>@item.STAM_GROUP_NAME</option>
            }
            }
            
        </select>
    </div>
</div>

