﻿@using Stampade.Models;
@model List<STAM_MA_ATHLETE_SECTION>
@{
    List<STAM_MA_ATHLETE_SECTION> obj_Group = new List<STAM_MA_ATHLETE_SECTION>();
    
    if (Model != null)
    {
        obj_Group = Model.ToList();
    }  
}
<div id="ddlSummarySection">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddSummaryAthSec" class="form-control" onchange="Chg_SummaryAthSec()">
            <option value="0">-- Select Section--</option>
            @{foreach (var item in obj_Group.OrderByDescending(p=>p.STAM_CREATED_DATE))
            {
                <option value="@item.STAM_ATHSEC_ID">@item.STAM_ATHSEC_NAME</option>
            }
            }

        </select>
    </div>
</div>

