﻿@using Stampade.Models;
@model List<STAM_MA_TEAM>
@{
    List<STAM_MA_TEAM> obj_Team = new List<STAM_MA_TEAM>();
    if (Model != null)
    {
        obj_Team = Model.ToList();
    }
    string Name = "";
    if (ViewData["TeamName"] != null && ViewData["TeamName"] != "")
    {
        Name = ViewData["TeamName"].ToString();
    }
}
<div id="ddlTeam">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddTeam" class="form-control" data-ng-show="partner.editMode" tabindex="5" required ng-required="positionTypeRequired">
            <option value="0">--Select Team --</option>
            @{foreach (var item in obj_Team)
            {
                <option value="@item.STAM_TEAM_ID" @((item.STAM_TEAM_NAME.Trim() == Name.Trim()) ? "selected=selected" : "")>@item.STAM_TEAM_NAME</option>
            }
            }
        </select>
    </div>
</div>

