﻿@using Stampade.Models;
    @{
        List<STAM_MA_WORKOUTS> obj_Work = new List<STAM_MA_WORKOUTS>();
        if (Model != null)
        {
            obj_Work = Model;
        }
        string Name = "";
        if (ViewData["WorkName"] != null && ViewData["WorkName"] != "")
        {
            Name = ViewData["WorkName"].ToString();
        }
    }
    <div id="ddlGetWorkoutTitle" style="width:37%;float:left;">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddWork" class="form-control" onchange="chg_Workout()" data-ng-show="partner.editMode" tabindex="2" ng-required="positionTypeRequired">
            <option value="">--Select Workout --</option>
            @{foreach (var item in obj_Work.OrderBy(p=>p.STAM_WORKOUT_TITLE))
            {
                <option value="@item.STAM_WORKOUT_ID">@item.STAM_WORKOUT_TITLE</option>
            }
            }
        </select>
    </div>
</div>

