﻿@using Stampade.Models;
@model List<STAM_MA_WORKOUTS>
@{
    List<STAM_MA_WORKOUTS> obj_Work = new List<STAM_MA_WORKOUTS>();
    if (Model != null)
    {
        obj_Work = Model.ToList();
    }
    string Name = "";
    if (ViewData["WorkName"] != null && ViewData["WorkName"] != "")
    {
        Name = ViewData["WorkName"].ToString();
    }
}
<div id="ddlTeam" style="width:37%;float:left;">
    <div class="col-md-12 nopadding mt14 new_dworksite">
        <select id="ddWork" class="form-control" onchange="chg_Workout()" data-ng-show="partner.editMode" tabindex="2" required ng-required="positionTypeRequired">
            <option value="0">--Select Workout --</option>
            @{foreach (var item in obj_Work.OrderBy(p => p.STAM_WORKOUT_TITLE))
            {
                <option value="@item.STAM_WORKOUT_RUNS,@item.STAM_WORKOUT_DISTANCE,@item.STAM_WORKOUT_DISTANCEID,@item.STAM_WORKOUT_TARGET_MM,@item.STAM_WORKOUT_TARGET_SS" @((item.STAM_WORKOUT_TITLE.Trim() == Name.Trim()) ? "selected=selected" : "")>@item.STAM_WORKOUT_TITLE</option>
            }
            }
        </select>
    </div>
</div>

