﻿@using Stampade.Models;
@model Workout_Model
@{
    
    
    string[] mins = Enumerable.Range(0, 60).Select(x => x.ToString("00")).ToArray();
    string[] sec = Enumerable.Range(0, 60).Select(x => x.ToString("00")).ToArray();
    
    
    
    string no = ViewData["SecNo"] != null ? ViewData["SecNo"].ToString() : "";
    List<string> secname = Model.SectionIDs;
    string str = "";
    
    foreach(var item in secname)
    {
        str += item + " -";
    }
    string s1 = str;
  s1 = s1.TrimEnd('-');
    int dist = Model.Distance;

    List<STAM_MA_DISTANCE> obj_Dist = new List<STAM_MA_DISTANCE>();
    if (Model != null)
    {
       // obj_Dist = Model.OrderBy(x => x.STAM_DISTANCE_NAME).ToList();
    }
    string Name = "";
    if (ViewData["DistName"] != null && ViewData["DistName"] != "")
    {
        Name = ViewData["DistName"].ToString();
        
        
    }

    int col = secname.Count();
    int row = Model.Runs;
    string[] mins1 = mins;

    int newcol = Model.Runs - 1;

    //List<STAM_TR_DETAILS_SECTION_MODEL> _objSTAM_TR_DETAILS_SECTION = new List<STAM_TR_DETAILS_SECTION_MODEL>();

  //  _objSTAM_TR_DETAILS_SECTION = Model._objSTAM_TR_DETAILS_SECTION;

    List<STAM_TR_DETAILS_MODEL> _objSTAM_TR_DETAILS = new List<STAM_TR_DETAILS_MODEL>();

    _objSTAM_TR_DETAILS = Model._objSTAM_TR_DETAILS;

    var tr_det = _objSTAM_TR_DETAILS.GroupBy(x => x.STAM_SEC_ID).ToList().FirstOrDefault(); 
    var tr_detail = _objSTAM_TR_DETAILS.GroupBy(x => x.STAM_SEC_ID).ToList();


    List<string> dts = new List<string>();
    if(tr_det!=null)
    { 
    foreach (var data in tr_det)
    {
        int? r = data.STAM_RUN;

        dts.Add(r.ToString());
    }
    }
    
    
    
    
   // var tr_detail = _objSTAM_TR_DETAILS.GroupBy(x => x.STAM_SEC_ID).ToList();

    int workoutid = 0;

    workoutid = ViewData["WorkoutID"] == null || ViewData["WorkoutID"] == "" ? 0 : int.Parse(ViewData["WorkoutID"].ToString());
    TempData["ID"] = Model.Sections.Count;

    TempData["Name"] = s1;
    int count = 0;
    

   // count = tr_detail.Count();

    List<string> tttime = new List<string>();

    foreach (var data in _objSTAM_TR_DETAILS)
    {
        string  s = data.STAM_SEC_TARGET_TIME;
        

        tttime.Add(s.ToString());
    }




    count = Model.Runs;
    //var tr_det=tr_detail.Select

}

<style>
  
td {
    padding: 5px 1px !important;
    vertical-align: middle !important;
	border:1px solid #dcdcdc;
	 text-align: center;
}
tr{
	border:1px solid #dcdcdc;
}
td.dist_select select{
	width:131px !important;
	padding-left:0px;
} 
th{
	border-color:#dcdcdc;
}
td.icons_add_remove span img{
	position: relative;
    right: 3px;
    top: 6px;
}
#removerow > img {
    position: relative;
    top: -3px;
}
</style>
<div  style="width:100%;float:left;overflow-x:auto;padding:10px;background:#F5F5F5;">
    <table id="sectionTable" border="1" style="border:1px solid #dcdcdc;background:#ffffff;">
        <thead>
            @{
                int k = 0;
                int i1 = 0;
                int j1 = 0;
                int t1 = 1;
                int k1 = 9;
                int l1 = 0;
            }
            <tr>
                <!-- <th style="width: 40px ! important; max-width: 40px ! important; min-width: 40px ! important;">Distance</th> -->
                <th>Distance</th>
                @foreach (var item in Model.Sections)
                {
                    <th style="width: 137pxx ! important; max-width: 137px ! important; min-width:137px ! important;padding:10px;">
                        <span class="pull-left">@item.ToString().Trim()</span>
                        <span id="copyrow" class="pull-left" onclick="copy(@k)" style="margin-left: 5px; position: relative; top: 5px;cursor:pointer;" title="Copy"><img src="~/Content/Image/south1.png" title="Copy" /></span>
                    </th>
                    k++;
                }
                <th>Actions</th>
            </tr>
        </thead>
        @*<tr>
            <td>
            @*<input id="addRow" placeholder="Enter Item Name" /><button id="irow">Insert Row</button><br /><br />*@
        @*<input type="button" id="addRow" tabindex="9" value="Add" class="btn btn-primary mr10" onclick="AddRow()" />
            <input type="button" id="removerow" class="btn btn-primary mr10" onclick="RemoveRow()" tabindex="9" value="Remove" />*@
        @*</td>*@
        @*</tr>*@
        @{
            if (workoutid == 0)
            {
                for (int i = 0; i < Model.Runs; i++)
                {
                    <tr id="row_@i">
                        @if (dist != 0)
                        {
                            <td id="column_@i" class="dist_select">
                                @Model.Distance@*@Html.Action("GetDistance", "UserControl", new { Name = "" })*@
                            </td>
                        }
                        else
                        {
                            <td id="column_@i" class="dist_select">
                                @Html.Action("GetDistance", "UserControl", new { Name = "", TabIndex = k1 })
                            </td>
                        }
                        @*<td>@Model.Distance</td>*@
                        @for (int j = 0; j < Model.Sections.Count; j++)
                        {
                            var m = "";
                            var s = "";
                            foreach (var data in tr_detail)
                            {
                                foreach (var item in data)
                                {
                                    var tt = item.STAM_SEC_TARGET_TIME;
                                    var t = tt != null ? tt.ToString().Split(':') : null;
                                    m = t[0];
                                    s = t[1];
                                }
                                //       var tt = data.Select(x => x.STAM_SEC_TARGET_TIME);

		//    var t =tt!=null? tt.ToString().Split(':'):null;

		//var m = t[0];
		//var s = t[1];
		}
		<td id="columns_@j" style="width:14%;">
            @{k1 = k1 + 1;}
			<select id="ddmm_@i@j" class="form-control col-md-2" style="height:28px;width:52px;padding:1px;padding-left:0px;margin-left:10px;" tabindex="@k1"  required>
				<option value="0" selected>mm</option>
					@{
						foreach (var item1 in mins)
					{
				<option @((item1 == m) ? "selected=selected" : "" )> @item1</option>
					}
					}
			</select>
            @{k1 = k1 + 1;}
            <select id="ddss_@i@j" class="form-control col-md-2" style="height:28px;width:49px;padding:1px;padding-left:0px;margin-left:10px;" tabindex="@k1" required>
                <option value="0" selected>ss</option>
                @{
            foreach (var item2 in sec)
            {
                <option @((item2 == s) ? "selected=selected" : "")> @item2</option>
            }
                }
            </select>
		</td>
		}
		@if (i == newcol)
        {
            if (i < 14)
            {
                k1 = k1 + 1;
		<td class=""  style="width: 110px ! important; padding-left: 14px ! important; min-width: 72px;">
            <a onclick="AddRow()" class="mr10" href="javascript:void(0);" id="addRow"><img src="../Content/image/add_sym.png" tabindex="@k1" /> </a>   @*<span id="addRow" tabindex="@k1" class="mr10 plus" onclick="AddRow()"><img src="../Content/image/add_sym.png" tabindex="@k1" class="plus" /></span>*@
           @{ k1 = k1 + 1;}
            @*<span id="removerow" class="mr10" tabindex="@k1" onclick="removerow()"><img src="../content/image/minus.png" /></span>*@

            <a onclick="RemoveRow()" class="mr10" href="javascript:void(0);" id="removerow"><img src="../Content/image/minus.png" tabindex="@k1" /> </a>  
		</td>
		}
		if (i == 14)
		{
            k1 = k1 + 1;
		<td>
           
            @*<span id="removerow" class="mr10" tabindex="@k1" onclick="RemoveRow()"><img src="../Content/image/minus.png" /></span>*@
            <a onclick="RemoveRow()" class="mr10" href="javascript:void(0);" id="removerow"><img src="../Content/image/minus.png" tabindex="@k1" /> </a>  

                                </td>
                            }
                        }
                    </tr>


                        t1 = t1 + 1;
                }

            }
            else
            {
                for (int i = 0; i < Model.Runs; i++)
                {
                    
                    
                    <tr id="row_@i1">
                        @if (dist != 0)
                        {
                            <td id="column_@i1" class="dist_select">
                                @Model.Distance@*@Html.Action("GetDistance", "UserControl", new { Name = "" })*@
                            </td>
                        }
                        else
                        {
                            <td id="column_@i1" class="dist_select">
                                @Html.Action("GetDistance", "UserControl", new { Name = dts[i] })
                            </td>
                        }
                        @*<td>@Model.Distance</td>*@
                      @for (int j = 0; j < Model.Sections.Count; j++)
                      {
                          var m = "";
                          var s = "";
                          var tt = tttime.Count() > l1 ? tttime[l1] : "0:0";
                          var t = tt != null ? tt.ToString().Split(':') : null;
                          m = t[0];
                          s = t[1];
                            <td id="columns_@j1" style="width:14%;">
                                @{k1 = k1 + 1;}
                                <select id="ddmm_@i1@j1" class="form-control col-md-2" style="height:28px;width:52px;padding:1px;padding-left:0px;margin-left:10px;" tabindex="@k1" required>
                                    <option value="0" selected>mm</option>
                                    @{
                            foreach (var item1 in mins)
                            {
                                <option @((item1 == m) ? "selected=selected" : "")> @item1</option>
                            }
                                    }
                                </select>
                                @{k1 = k1 + 1;}
                                <select id="ddss_@i1@j1" class="form-control col-md-2" style="margin-left:10px;height:28px;width:49px;padding:1px;padding-left:0px;" tabindex="@k1" required>
                                    <option value="0" selected>ss</option>
                                    @{
                            foreach (var item2 in sec)
                            {
                                <option @((item2 == s) ? "selected=selected" : "")> @item2</option>
                            }
                                    }
                                </select>
                            </td>
                            j1 = j1 + 1;
                            l1 = l1 + 1;
                            if (Model.Sections.Count > col)
                            {
                                if (j1 == col)
                                {
                                    break;
                                }

                            }
                        
                        if (col > Model.Sections.Count)
                        {









                <td id="columns_@j1" style="width:14%;">
                    @{k1 = k1 + 1;}
                    <select id="ddmm_@i1@j1" class="form-control col-md-2" style="height:28px;width:52px;padding:1px;padding-left:0px;margin-left:10px;" tabindex="@k1" required>
                        <option value="0" selected>mm</option>
                        @{
                foreach (var item1 in mins)
                {
                    <option> @item1</option>
                }
                        }
                    </select>
                    @{k1 = k1 + 1;}
                    <select id="ddss_@i1@j1" class="form-control col-md-2" style="margin-left:2px;height:28px;width:49px;padding:1px;padding-left:0px;margin-left:10px;" tabindex="@k1" required>
                        <option value="0" selected>ss</option>
                        @{
                foreach (var item2 in sec)
                {
                    <option> @item2</option>
                }
                        }
                    </select>
                </td>















                        }



                        }



                        @if (i1 == newcol)
                        {
                            if (i1 < 14)
                            {

                                <td class="icons_add_remove" style="width: 110px ! important; padding-left: 14px ! important; min-width: 72px;">
                                    <a onclick="AddRow()" href="javascript:void(0);" id="addRow"><img src="../Content/image/add_sym.png" tabindex="@k1" /> </a>   @*<span id="addRow" tabindex="@k1" class="mr10 plus" onclick="AddRow()"><img src="../Content/image/add_sym.png" tabindex="@k1" class="plus" /></span>*@
                                    @{ k1 = k1 + 1;}
                                    @*<span id="removerow" class="mr10" tabindex="@k1" onclick="removerow()"><img src="../content/image/minus.png" /></span>*@

                <a onclick="RemoveRow()" href="javascript:void(0);" id="removerow"><img src="../Content/image/minus.png" tabindex="@k1" /> </a>  
			</td>
			}
			if (i1 == 14)
			{
                k1 = k1 + 1;
			<td>
                @*<span id="removerow" class="mr10" tabindex="@k1" onclick="RemoveRow()" style="margin-left:0px;"><img src="../Content/image/minus.png" /></span>*@
                <a onclick="RemoveRow()" href="javascript:void(0);"><img src="../Content/image/minus.png" tabindex="@k1" id="removerow" /> </a>  
			</td>                               
			}
			}
		</tr>
		i1 = i1 + 1;
        j1 = 0;
        t1 = t1 + 1;
		}
		}
		}
	</table>
        <div class="col-md-12"> 
			
			<span id="ErrorMessageSecTarget" class="help-block" style=" color: red;display:none;width:100%;float:left;">Note:Target Time is required</span>    
			<span id="ErrorMessageSecDistance" class="help-block" style=" color: red;display:none;padding-left: 35px;
    width: 95%;float:left;">Distance is required</span>
	   </div>     
</div>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<input type="hidden" id="hd_AthID" />
<input type="hidden" id="hd_AthName" />
<input type="hidden" id="valtab" />
<script ssrc="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"></script>
<script>
    var row=0;
    var n = 9;

    //$('input, select, span').each(function() {
    //    $(this).attr('tabindex', n++);
    //});


    $(".plus").click(function (event) {
        alert("1");
        if (event.which == 13) {
            alert("12")
            AddRow();
        }
    })
    function myFunction()
    {
        debugger;
        var row='@TempData["ID"]';
        var column='@TempData["Name"]';


        //alert(row);
        //alert(column);

        $('#hd_AthID').val(row);

        $("#hd_AthName").val(column);
        $('#hd_AthName').val('@TempData["Name"]');



    }
    $.noConflict();
    jQuery( document ).ready(function( $ ){


        var row='@TempData["ID"]';
        var column='@TempData["Name"]';


        //alert(row);
        //alert(column);
        var i;
        var j=@col;
        var tapindex= Number(@k1);
        if('@count'>0){
            if($('#txt_NoofRuns').val()>Number('@count'))
            {

                var td = "";
                //    $('#sectionTable tr').find('td:last').last().remove();
                //$("#sectionTable").last().append(td);
                //      return;
                //  $('#sectionTable tr').find('th:last-child, td:last-child').remove()
                // $('#sectionTable').find('tr:last').find('td:last').remove();
                // alert("1");
                //AddRow();
                var tr = "";
                var td = "";
                row= $('#txt_NoofRuns').val();
                var newrow=Number('@row')-Number('@count');
                console.log(newrow);
                row=Number('@i1');
                for(var t=1;t<=newrow;t++){



                    if($('#ddType :selected').text().trim() != "Mixed")
                        td+="<tr id='row_"+row+"' ><td>"+ @dist+"</td>";
                    else
                    {
                        var no1=row;
                        td+="<tr><td>";
                        //   alert("test");
                        tapindex=Number(tapindex)+1;
                        td+='<select id="ddDist_' + no1 + '" style="height:40px;155px;" tabindex="'+ tapindex +'" class="col-md-12 nopadding mt14 new_dworksite"> '+"";
                        // try {
                        //var ddlStates = $("#ddDist");//ddl_state is dropdown id name

                        //} catch (e) { }
                        td += '<option value="'+0+'" selected>Select Distance</option>';


                        $.ajax({
                            type: "GET",
                            url: "/UserControl/GetDistanceList",
                            dataType: "json",
                            success: function (data) {

                                console.log(data);
                                // $("#ddDist' + no + '").append("<option value=''>Select</option>");

                                $.each(data._objDist, function (id, option) {
                                    // console.log(data._objDist.STAM_DISTANCE_NAME);
                                    console.log(option.STAM_DISTANCE_ID);
                                    console.log(option.STAM_DISTANCE_NAME);
                                    td +=  '<option value="'+ option.STAM_DISTANCE_ID + '">'+option.STAM_DISTANCE_NAME+'</option>';

                                    $("#ddDist_"+no1).append("<option value='" + option.STAM_DISTANCE_ID + "'>" + option.STAM_DISTANCE_NAME + "</option>");
                                    //"<option>data.STAM_DISTANCE_NAME</option>
                                    //                        $("#ddDist ' + no + '").append("<option value='" + option.STAM_DISTANCE_ID + "'>" + option.STAM_DISTANCE_NAME + "</option>");

                                });
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Failed to retrieve states.');
                            }
                        });
                        td += '</select>';
                        td += '</td>';
                    }
                    for(var i=0;i<j;i++)
                    {

                        td+="<td style='width:14%;'> ";

                        var no=row+''+i;
                        // td +='<select id="ddmm_' + no + '" style="height:28px;width:49px;padding:0px;" tabindex="'+ n++ +'" class="form-control col-md-2" name="ddmm_' + no + '"> ';
                        tapindex=Number(tapindex)+1;
                        td +='<select id="ddmm_' + no + '" style="height:28px;width:52px;padding:0px;margin-left:10px;" tabindex="'+ tapindex +'" class="form-control col-md-2" name="ddmm_' + no + '"> ';


                        for(var l = 0; l < 60;l++)
                        {
                            if(l==0)
                            {

                                td += '<option value="'+00+'" selected>mm</option>';
                            }

                            if(l>0 && l<10)
                            {

                                var l1 ="0"+l;
                                td += '<option>'+l1+'</option>';
                            }
                            else{
                                td += '<option>'+l+'</option>';
                            }

                        }

                        td += '</select>';


                        tapindex=Number(tapindex)+1;

                        td +='<select id="ddss_' + no + '" style="height:28px;margin-left:5px;width:49px;padding:0px;margin-left:10px;" tabindex="'+tapindex+'" class="form-control col-md-2" name="ddss_' + no + '" >';
                        //td +='<select id="ddss_' + no + '" style="height:28px;width:49px;padding:0px;" tabindex="'+ n++ +'" class="form-control col-md-2" name="ddss_' + no + '" >';

                        for(var l = 0; l < 60;l++)
                        {
                            if(l==0)
                            {

                                td += '<option  value="'+00+'" selected>ss</option>';
                            }

                            if(l>0 && l<10)
                            {

                                var l1 ="0"+l;
                                td += '<option>'+l1+'</option>';
                            }
                            else{
                                td += '<option>'+l+'</option>';
                            }
                        }
                        td += '</select>';


                        td +="</td>";
                        td +=""
                    }

                    //  console.log(td);
                    //alert(row);
                    if((Number(row)+1)<15){
                        if(t==newrow)
                        {
                            //  td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'><span id='ddRow' tabindex='+ n++ +' class=' mr10' onclick='AddRow()' style=''><img src='../Content/image/add_sym.png' ></span><span id='removerow' class='mr10' onclick='RemoveRow()' tabindex='9' style=''><img src='../Content/image/minus.png'> </span></td>";
                            td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'> <a onclick='AddRow()' href='javascript:void(0);' id='addRow'><img src='../Content/image/add_sym.png' tabindex='"+ (Number(tapindex)+1) +"' /> </a><a onclick='RemoveRow()' href='javascript:void(0);' id='removerow'><img src='../Content/image/minus.png' tabindex='"+ (Number(tapindex)+1) +"' /> </a></td>";
                        }
                    }
                    if(Number(row)==14){
                        //                        td +="<td class=''><span id='removerow' class='mr10' onclick='RemoveRow()' tabindex='+ n++ +' style=''><img src='../Content/image/minus.png'></span></td>";
                        td +="<td class=''><a onclick='RemoveRow()' href='javascript:void(0);'><img src='../Content/image/minus.png' tabindex='"+ (Number(tapindex)+1) +"' id='removerow'/> </a></td>";

                    }

                    //if((number(row)+1)<15){
                    //    td +="<td><input type='button' id='ddrow' tabindex='9' value='add' class='btn btn-primary mr10' onclick='addrow()'/><input type='button' id='removerow' class='btn btn-primary mr10' onclick='removerow()' tabindex='9' value='remove' /></td>";
                    //}
                    //if(number(row)==14){

                    //    td +="<td><input type='button' id='removerow' class='btn btn-primary mr10' onclick='removerow()' tabindex='9' value='remove' /></td>";
                    //}


                    td +="</tr>";
                    //  alert(t);
                    //$('#sectionTable').find('tr:last').find('td:last').remove();
                    //   $('#sectionTable').find('td,th').last().remove();
                    $("#sectionTable").last().append(td);
                    td ="";
                    row=row+1;
                }


            }
            if(Number('@count')>Number($('#txt_NoofRuns').val()))
            {


                //  alert("2");
                //  removeRow();
                //row= row!=0?row:row;
                row= $('#txt_NoofRuns').val()==0?0:$('#txt_NoofRuns').val();

                //alert(row);
                var td1;
                console.log('@count');
                console.log('@row');
                console.log(Number('@count')-Number('@row'));
                var newrow=Number('@count')-Number('@row');

                console.log(newrow);
                row=newrow;
                for(var t=1;t<=newrow;t++){
                    $('#sectionTable tr:last').remove();
                    row=row-1;

                    //   $('#txt_NoofRuns').val(row)

                    if(t==newrow){
                        if(row>=1)
                            //td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'><span id='ddRow' tabindex='+ n++ +' class=' mr10' onclick='AddRow()' style=''><img src='../Content/image/add_sym.png' ></span><span id='removerow' class='mr10' onclick='RemoveRow()' tabindex='9' style=''><img src='../Content/image/minus.png'> </span></td>";
                            td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'> <a onclick='AddRow()' href='javascript:void(0);><img src='../Content/image/add_sym.png' tabindex='"+ (Number(tapindex)+1) +"' /> </a><a onclick='RemoveRow()' href='javascript:void(0);'><img src='../Content/image/minus.png' tabindex='"+ (Number(tapindex)+1) +"' /> </a></td>";
                    }


                    //  td +="</tr>";
                    //if(row==0)
                    //    td1 +="<td><input type='button' id='removerow' class='btn btn-primary mr10' onclick='AddRow()' tabindex='9' value='Add' /></td>";
                    if(row==0)
                    {
                        // $('#sectionTable').empty()
                        // $('#Savebtn').css('display', 'none');
                        //  $('#updatebtn').css('display', 'none');
                    }

                    $("#sectionTable  tr:last").append(td1);
                }


            }
        }


        row='@TempData["ID"]';
        column='@TempData["Name"]';


        $('#hd_AthID').val(row);

        $("#hd_AthName").val(column);
        // alert(@k1)
        $("#Savebtn").attr("tabindex", @k1);

        $("#cancelwrk").attr("tabindex",Number(@k1)+1);
      ///  alert(@k1)
        @*$('#hd_AthName').val('@TempData["Name"]');*@

        @*console.log(@s1);
        console.log(@Model.Sections.Count);
        $.cookie("Athid", @no);
        $.cookie("Athname", @s1);*@

        $('#hd_AthID').val(@Model.Sections.Count);

        $('#hd_AthName').val('@s1');


        var t = $('#sectionTable').DataTable();
        var counter = 1;



        // Automatically add a first row of data
        $('#addRow').click();



        $('#irow').click(function () {


        });

    });

    $('#addRow').click(function () {

        alert();
    });

    $('#irow').click(function () {

        alert();
    });
    var counter = 1;


    function AddRow()
    {
        // alert($("#valtab").val())
        var tapindex=$("#valtab").val()==""? Number(@k1):$("#valtab").val();
        //var txtrow=$('#txt_NoofRuns').val().trim()
        //alert($('#txt_NoofRuns').val());
        $('#sectionTable').find('tr:last').find('td:last').remove();
        var tr = "";
        var td = "";
        var i;
        var j=@col;
        var counter1;
        // alert(@mins1);
        // var[] minutes=@mins;

        var currentcount = @row;
        var r=@row;
        row= $('#txt_NoofRuns').val()==0?0:$('#txt_NoofRuns').val();

        if($('#ddType :selected').text().trim() != "Mixed")
            td+="<tr id='row_"+row+"' ><td>"+ @dist+"</td>";
        else
        {
            var no1=row;
            td+="<tr><td>";
            //   alert("test");
            tapindex=Number(tapindex)+1;
            td+='<select id="ddDist_' + no1 + '" style="height:40px;155px;" tabindex="'+ tapindex +'" class="col-md-12 nopadding mt14 new_dworksite"> '+"";
            // try {
            //var ddlStates = $("#ddDist");//ddl_state is dropdown id name

            //} catch (e) { }
            td += '<option value="'+0+'" selected>Select Distance</option>';


            $.ajax({
                type: "GET",
                url: "/UserControl/GetDistanceList",
                dataType: "json",
                success: function (data) {

                    console.log(data);
                    //  $("#ddDist' + no + '").append("<option value=''>Select</option>");

                    $.each(data._objDist, function (id, option) {
                        // console.log(data._objDist.STAM_DISTANCE_NAME);
                        console.log(option.STAM_DISTANCE_ID);
                        console.log(option.STAM_DISTANCE_NAME);
                        td +=  '<option value="'+ option.STAM_DISTANCE_ID + '">'+option.STAM_DISTANCE_NAME+'</option>';

                        $("#ddDist_"+no1).append("<option value='" + option.STAM_DISTANCE_ID + "'>" + option.STAM_DISTANCE_NAME + "</option>");
                        //"<option>data.STAM_DISTANCE_NAME</option>
                        //                        $("#ddDist ' + no + '").append("<option value='" + option.STAM_DISTANCE_ID + "'>" + option.STAM_DISTANCE_NAME + "</option>");

                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            });
            td += '</select>';
            td += '</td>';
        }
        for(var i=0;i<j;i++)
        {

            td+="<td class=''> ";

            var no=row+''+i;
            tapindex=Number(tapindex)+1;
            td +='<select id="ddmm_' + no + '" style="height:28px;width:52px;padding:0px;margin-left:10px;" tabindex="'+ tapindex +'" class="form-control col-md-2" name="ddmm_' + no + '"> ';

            for(var l = 0; l < 60;l++)
            {
                if(l==0)
                {
                    td += '<option value="'+0+' selected">mm</option>';
                    td += '<option value=00">00</option>';
                }

                if(l>0 && l<10)
                {

                    var l1 ="0"+l;
                    td += '<option>'+l1+'</option>';
                }
                if(l>10)
                {
                    td += '<option>'+l+'</option>';
                }


            }

            td += '</select>';

            tapindex=Number(tapindex)+1;

            td +='<select id="ddss_' + no + '" style="height:28px;margin-left:5px;width:49px;padding:0px;margin-left:10px;" tabindex="'+ tapindex +'" class="form-control col-md-2" name="ddss_' + no + '" >';

            for(var l = 0; l < 60;l++)
            {
                if(l==0)
                {

                    td += '<option value="'+0+' selected">ss</option>';
                    td += '<option value=00">00</option>';
                    //   td += '<option  value="'+00+'" selected>ss</option>';
                }

                if(l>0 && l<10)
                {

                    var l1 ="0"+l;
                    td += '<option>'+l1+'</option>';
                }
                if(l>10){
                    td += '<option>'+l+'</option>';
                }
            }
            td += '</select>';


            td +="</td>";
            td +=""
        }

        //  console.log(td);
        //alert(row);
        if((Number(row)+1)<15){
            tapindex=Number(tapindex)+1;
            //td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'><span id='ddRow' tabindex='"+ tapindex +"' class=' mr10' onclick='AddRow()' style=''><img src='../Content/image/add_sym.png' ></span><span id='removerow' class='mr10' onclick='RemoveRow()' tabindex=''"+ tapindex+1 +"'' style=''><img src='../Content/image/minus.png'> </span></td>";

            td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'> <a onclick='AddRow()' href='javascript:void(0);' id='addRow'><img src='../Content/image/add_sym.png' tabindex='"+ Number(tapindex)+"' /> </a><a onclick='RemoveRow()' href='javascript:void(0);' id='removerow'><img src='../Content/image/minus.png' tabindex='"+ (Number(tapindex)+1) +"' /> </a></td>";
        }
        if(Number(row)==14){
            tapindex=Number(tapindex)+1;
            // td +="<td class=''><span id='removerow' class='mr10' onclick='RemoveRow()' tabindex='"+ tapindex +"' style=''><img src='../Content/image/minus.png'></span></td>";
            td +="<td class=''><a onclick='RemoveRow()' href='javascript:void(0);'><img src='../Content/image/minus.png' tabindex='"+ tapindex +"' id='removerow'/> </a></td>";
        }


        td +="</tr>";



        //     alert(row);
        //  $(this).parent().remove();
        // if(row<15)
        row=Number(row)+1;

        $('#txt_NoofRuns').val(row)

        // alert(td);

        $("#sectionTable").last().append(td);
        $("#valtab").val(tapindex);
        $("#Savebtn").attr("tabindex", Number(tapindex)+2);

        $("#cancelwrk").attr("tabindex", Number(tapindex)+3);

        // $("#sectionTable tr:last").append("<input type='button' id='ddRow' tabindex='9' value='Add' class='btn btn-primary mr10' onclick='AddRow()'/><input type='button' id='removerow' class='btn btn-primary mr10' onclick='RemoveRow()' tabindex='9' value='Remove' />");
    }




    $("#tblTradesman").each(function(){
        if($('tbody', this).length > 1){
            $('tbody tr:last', this).remove();
        }else {
            alert("Must be at least 1 Trades person assigned to this job.")
        }
    });

    function RemoveRow()
    {
        var tapindex=$("#valtab").val()==""? Number(@k1):$("#valtab").val();
        row= $('#txt_NoofRuns').val()==0?0:$('#txt_NoofRuns').val();


        var td;
        $('#sectionTable tr:last').remove();
        row=row-1;

        $('#txt_NoofRuns').val(row)
        // td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'><span id='ddRow' tabindex='+ n++ +' class='mr10' onclick='AddRow()' style=''><img src='../Content/image/add_sym.png' ></span><span id='removerow' class='mr10' onclick='RemoveRow()' tabindex='9' style=''><img src='../Content/image/minus.png' ></span></td>";
        td +="<td class='' style='width: 110px ! important; padding-left: 14px ! important; min-width: 72px;'> <a onclick='AddRow()' href='javascript:void(0);'  id='addRow'><img src='../Content/image/add_sym.png' tabindex='"+ (Number(tapindex)+1) +"' /> </a><a onclick='RemoveRow()' href='javascript:void(0);' id='removerow'><img src='../Content/image/minus.png' tabindex='"+ (Number(tapindex)+1) +"' /> </a></td>";
        //  td +="</tr>";

        if(row==0)
        {
            $('#sectionTable').empty()
            $('#Savebtn').css('display', 'none');
            $('#updatebtn').css('display', 'none');
        }
        $("#sectionTable  tr:last").append(td);
        //$("#sectionTable tr:last").append("<input type='button' id='ddRow' tabindex='9' value='Add' class='btn btn-primary mr10' onclick='AddRow()'/><input type='button' id='removerow' class='btn btn-primary mr10' onclick='RemoveRow()' tabindex='9' value='Remove' />");

    }
    function copy(arg)
    {
        var no=0;

        var t= $('#txt_NoofRuns').val().trim()
        var s=no+''+arg;
        var valmm= $('#ddmm_' + s + ' :selected').val().trim()
        var valsec=$('#ddss_' + s + ' :selected').val().trim()

        //alert(val);
        for (i = 0; i < t ; i++) {

            var no1 = i + '' +arg;

            $('#ddmm_'+no1+' option').each(function () {
                if ($(this).text().trim() ==valmm) {
                    $(this).attr("selected", "selected");
                }
            });

            $('#ddss_'+no1+' option').each(function () {
                if ($(this).text().trim() ==valsec) {
                    $(this).attr("selected", "selected");
                }
            });
            //s1 +=
        }

        //alert(arg);
    }
    </script>
