﻿@{
    int CoachID = Convert.ToInt16(Session["ResourceId"].ToString());
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8" />
    <title>STAMPEDE</title>
    <meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template." />
    <meta name="author" content="Lukasz Holeczek" />
    <meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/retina.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
	<link href="~/Content/css/responsive_override.css" rel="stylesheet" />
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="ico/favicon.png" />
    <!-- font links -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700|Montserrat+Subrayada:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,100,100italic,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- font links -->
    <!-- end: Favicon and Touch Icons -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="main-menu-toggle" class="hidden-phone open"><img src="../Content/image/expand.png" /></a>
                <div class="row-fluid">
                    <a class="brand span2"><img src="../Content/image/images/logo.png" /></a>
                </div>
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">

                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">

                                <div class="user">
                                    <img src="../Content/image/avatarimg.png" />
                                    <span class="hello">Welcome!</span>
                                    @*<span class="name">Lukasz Holeczek</span>*@
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">

                                </li>

                                <li><a href="@Url.Content("~/Account/Logout")"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">

                <div class="row-fluid actions">

                    <input type="text" class="search span12" placeholder="..." />

                </div>

                <div class="nav-collapse sidebar-nav">

                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li id="li_Team"><a href="@Url.Content("~/Dashboard/Dashboard")"><i class="icon-bar-chart"></i><span class="hidden-tablet">Dashboard</span></a></li>
                        <li id="li_Team"><a href="@Url.Content("~/Home/Calendar")"><i class="icon-bar-chart"></i><span class="hidden-tablet">Calendar</span></a></li>
                        <li id="li_Asst"><a href="@Url.Content("~/AsstCoach/ManageAsstCoach")"><i class="icon-bar-chart"></i><span class="hidden-tablet">  Asst Coaches</span></a></li>
                        <li id="li_AthSec"><a href="@Url.Content("~/AthleteSection/ManageAthleteSection")"><i class="icon-edit"></i><span class="hidden-tablet">  Section </span></a></li>
                        <li id="li_Ath"><a href="@Url.Content("~/Athlete/ManageAthlete")"><i class="icon-eye-open"></i><span class="hidden-tablet">  Athletes</span></a></li>
                        @*<li id="li_CoachWork"><a href="@Url.Content("~/CoachWorkout/ManageCoachWorkout")"><i class="icon-dashboard"></i><span class="hidden-tablet"> Old Workouts</span></a></li>*@
                        <li id="li_CoachWorkout"><a href="@Url.Content("~/CoachWorkout/NewManageCoachWorkout")"><i class="icon-dashboard"></i><span class="hidden-tablet">Manage Workouts</span></a></li>
                        <li id="li_Dashboard"><a href="@Url.Content("~/ResultForWorkouts/ManageResultsForWorkouts")"><i class="icon-dashboard"></i><span class="hidden-tablet">Workout Results</span></a></li>
                        <li id="li_dev"><a href="@Url.Content("~/Device/ManageDevices")"><i class="icon-dashboard"></i><span class="hidden-tablet">Devices</span></a></li>
                        <li id="li_Coach"><a onclick="Coach()"><i class="icon-bar-chart"></i><span class="hidden-tablet"> My Profile</span></a></li>                                               
                       
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            <div id="content" class="span10">
                @RenderBody()

            </div>
            <!-- end: Content -->

        </div><!--/fluid-row-->

        <div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>

        <div class="clearfix"></div>

        <footer>
            <p>
                @*<span style="text-align:left;float:left">&copy; 2013 <a href="http://bootstrapmaster.com" alt="Bootstrap Themes">creativeLabs</a></span>
                    <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://admintemplates.co" alt="Bootstrap Admin Templates">SimpliQ</a></span>*@
            </p>
        </footer>

    </div><!--/.fluid-container-->
    <!-- start: JavaScript-->

    @*<link href="~/Content/css/bootstrap-chosen.css" rel="stylesheet" />
    <script src="~/Content/js/chosen.js"></script>*@
    @*<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Content/js/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/js/modernizr.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src='~/Content/js/fullcalendar.min.js'></script>
    <script src='~/Content/js/jquery.dataTables.min.js'></script>
    <script src="~/Content/js/excanvas.js"></script>
    <script src="~/Content/js/jquery.flot.js"></script>
    <script src="~/Content/js/jquery.flot.pie.js"></script>
    <script src="~/Content/js/jquery.flot.stack.js"></script>
    <script src="~/Content/js/jquery.flot.resize.min.js"></script>
    <script src="~/Content/js/jquery.flot.time.js"></script>

    <script src="~/Content/js/jquery.chosen.min.js"></script>
    <script src="~/Content/js/jquery.uniform.min.js"></script>
    <script src="~/Content/js/jquery.cleditor.min.js"></script>
    <script src="~/Content/js/jquery.noty.js"></script>
    <script src="~/Content/js/jquery.elfinder.min.js"></script>
    <script src="~/Content/js/jquery.raty.min.js"></script>
    <script src="~/Content/js/jquery.iphone.toggle.js"></script>
    <script src="~/Content/js/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/js/jquery.gritter.min.js"></script>
    <script src="~/Content/js/jquery.imagesloaded.js"></script>
    <script src="~/Content/js/jquery.masonry.min.js"></script>
    <script src="~/Content/js/jquery.knob.modified.js"></script>
    <script src="~/Content/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/counter.min.js"></script>
    <script src="~/Content/js/raphael.2.1.0.min.js"></script>
    <script src="~/Content/js/justgage.1.0.1.min.js"></script>
    <script src="~/Content/js/jquery.autosize.min.js"></script>
    <script src="~/Content/js/retina.js"></script>
    <script src="~/Content/js/jquery.placeholder.min.js"></script>
    <script src="~/Content/js/wizard.min.js"></script>
    <script src="~/Content/js/core.min.js"></script>
    <script src="~/Content/js/charts.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/CommonScript.js"></script>
    <!-- end: JavaScript-->

</body>
</html>
<script>

    function Redirect(arg) {
        window.location = arg;
    }

    function Coach() {
        location.href = "/Coach/CreateNewCoach?CoachId=" + '@CoachID';
    }


</script>