a.brand {
  background: none repeat scroll 0 0 #3b3b3b;
  border-bottom: 1px solid #1e8fc6;
  padding: 10px 0 !important;
  text-align: center;
}
.login-box img {
    border: 0 none;
    float: left;
    height: auto;
    margin-bottom: 23px;
    max-width: 100%;
    vertical-align: middle;
}
.navbar-inner {
  background: none repeat scroll 0 0 #5b5b5b;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
  min-height: 78px;
  padding: 0 20px;
}
a#main-menu-toggle {
    margin-left: 12.422%;
}
a#main-menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  left: 5px;
  padding: 10px 9px;
  position: absolute;
  text-decoration: none;
  text-shadow: none;
  top: 15px;
  z-index: 1000;
}
#sidebar-left {
    background: none repeat scroll 0 0 #4bbeab;
    padding: 10px;
	font-family: 'Montserrat', sans-serif;
}
.nav-tabs.nav-stacked > li.active > a, .nav-tabs.nav-stacked > li > ul > li.active > a {
    background: none repeat scroll 0 0 #3ba694;
}
.nav-collapse.sidebar-nav {
    float: left;
    width: 100%;
}
#sidebar-left .actions .search {
  background: none repeat scroll 0 0 #3ba694;
  border: 0 none;
  border-radius: 0;
  color: #fff;
}
.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > ul > li > a:hover {
    background: none repeat scroll 0 0 #3ba694;
    border-radius: 0;
    box-shadow: none;
}
.box .box-header {
    background: none repeat scroll 0 0 #4bbeab;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}
.box .box-header h2 i {
  background: none repeat scroll 0 0 #3ba694;
  color: #fff;
  display: inline-block;
  margin: -10px 20px -10px -20px;
  padding: 10px 0;
  text-align: center;
  width: 36px;
}
.box .box-header h2 {
    float: left;
    margin: 0;
    padding:0;
	font-family: 'Montserrat', sans-serif;
}
.sidebar-nav > ul {
    font-size: 12px;
}
span.head_content{
	left: 9px;
    position: relative;
    top: 11px;
}
a.create_new_team{
	width:174px;
	height:39px;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	float:right;
	margin:10px;
}
.create_new_team span{
	position:relative;
	top:7px;
}
.row-fluid .span6 {
    width: 50%;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
float: left;
}
.col-md-1 {
width: 8.333333333333332%;
}
.col-md-2 {
width: 16.666666666666664%;
}
.col-md-3 {
width: 25%;
}
.col-md-4 {
width: 33.33333333333333%;
}
.col-md-5 {
width: 41.66666666666667%;
}
.col-md-6 {
width: 50%;
}
.col-md-7 {
width: 58.333333333333336%;
}
.col-md-8 {
width: 66.66666666666666%;
}
.col-md-9 {
width: 75%;
}
.col-md-10 {
width: 83.33333333333334%;
}
.col-md-11 {
width: 91.66666666666666%;
}
.col-md-12 {
width: 100%;
}
.border_none{
border:0px !important;
}
.background_none {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
table.nested_tab tr td:nth child(even){
	background:none !important;
} 
.text-right{
	text-align:right !important;
}
.text-left{
	text-align:left !important;
}
.text-top{
	text-align:top !important;
}
.text-bottom{
	text-align:bottom !important;
}  
.table th, .table td {
    border-top: 1px solid #ddd;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}
table {
    clear: both;
}
.row-fluid{
	clear: both;
    width: 100%;
}
.brand.span2.noBg {
    height: 78px;
}
a.brand.noBg {
    background: none repeat scroll 0 0 #3b3b3b;
    border-bottom: 0 none;
}
.header-nav .user {
    display: inline-block;
    margin-top: 14px;
    padding: 0;
    text-align: left;
    width: 118px;
}
img {
    border: 0 none;
    float: left;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.header-nav .user .hello {
    display: block;
    float: left;
    font-size: 11px;
    font-weight: 700;
    padding-left: 10px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #5b5b5b;
    box-shadow: none;
    color: #fff;
    outline: 0 none;
}
.navbar a.brand {
  padding: 5px 18px !important;
}
body{
	color:#383e4b;
}
.bold{
	font-weight:bold !important;
}
.bold.text-center {
    text-align: center !important;
    width: 5%;
}
.actions_width{ 
	text-align: center !important;
    width: 16%;
}
body.forgotpass_body{
    background: url("/Content/image/bg_login.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #383e4b;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
}
.forgotpass_body img {
    border: 0 none;
    float: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
body.entire_body {
    background: url("/Content/image/bg_login.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #383e4b;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
}
.entire_body .login-box {
    background: url("/Content/image/login_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    height: 507px;
    margin: 74px auto;
    padding: 20px;
    width: 395px;
}
fieldset {
    border: 0 none;
    margin: 95px auto 0;
    padding: 0;
    width: 216px;
}
.entire_body h3 {
    color: #565e66;
    font-size: 12px;
    line-height: 15px;
    margin-top: 31px;
    text-align: center;
    width: auto;
}
.login-box input[type="text"], .login-box input[type="password"] {
  background: none repeat scroll 0 0 #e4e6e9;
  border: 1px solid #c5c8cc !important;
  border-radius: 2px;
  box-shadow: none;
  height: 40px;
  margin: 0 auto;
  padding: 0 10px;
  color:#858687 !important;
}
.login-box .remember {
    float: left;
    margin-top: 8px;
}
.btn_login {
    background: #bc2b2f; /* Old browsers */
background: -moz-linear-gradient(top,  #bc2b2f 14%, #962932 81%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#bc2b2f), color-stop(81%,#962932)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bc2b2f 14%,#962932 81%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bc2b2f 14%,#962932 81%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bc2b2f 14%,#962932 81%); /* IE10+ */
background: linear-gradient(to bottom,  #bc2b2f 14%,#962932 81%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc2b2f', endColorstr='#962932',GradientType=0 ); /* IE6-9 */

    border: 1px solid #be2b2f;
    color: #ffffff;
    font-family: "Montserrat";
    height: 45px;
    text-transform: uppercase;
}
a:hover, a:focus {
    color: #005580;
    text-decoration: none;
}
.login-box .remember {
    color: #9f9f9f;
    float: left;
    margin-top: 8px;
}
.btn:hover, .btn:focus {
    background-position: 0 center;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.p-44{
	padding: 44px !important;
}
.create_name input{
	width:350px;
	height:33px;
	margin-left:0px !important;
}
.create_name label{
	font-size:16px;
	font-family:""Montserrat",sans-serif";
	font-weight:bold;
	color:#737373;
}
.create_team{
	padding: 20px 45px;
}
.mr10{
	margin-right:10px !important;
}
.bg_white{
	background: none repeat scroll 0 0 #ffffff;
}
.create_team {
    background: none repeat scroll 0 0 #f5f5f5;
    border-top: 1px solid #dcdcdc;
    float: left;
    margin: 0 15px 23px;
    width: 89%;
}
.btns_area {
    float: right;
    width: 78.4%;
}
.new_dworksite select{
    height: 40px !important;
    width:363px;
	margin-left:0px;
}
.btm_btns_area {
    float: right;
    padding: 18px;
    width: 59.8%;
}
.btm_create_team {
    background: none repeat scroll 0 0 #f5f5f5;
    border-top: 1px solid #dcdcdc;
    float: left;
    margin: 0 15px 23px;
    width: 97%;
}
.recover_pass{
	color: #241f5c;
    font-weight: bold;
    text-align: center;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: none repeat scroll 0 0 #4bbeab;
    color: #fff;
    text-decoration: none;
}
#sidebar-left .actions .search {
    background: none repeat scroll 0 0 #3ba694;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    display: none;
}
.container-fluid-full #sidebar-left {
    height: 100%;
    margin-left: 0 !important;
    padding-top: 0 !important;
    position: absolute;
}
.help-block {
    margin: 0 auto 9px;
    width: 500px;
}
.help-block1 {
    margin: 0 auto 9px;
    width: 670px;
}
.brand.span2 > img {
    position: relative;
    top: 18px;
}
.navbar .brand {
    color: #777;
    font-size: 20px;
    font-weight: 200;
    height: 78px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #fff;
}
.crt_wrk_tit{
	font-family:"Lato",sans-serif;
}
/* input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #dcdcdc;
    box-shadow: unset;
} */