@media screen and (max-width: 1920px){
	a#main-menu-toggle {
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		left: 5px;
		padding: 10px 9px;
		position: absolute;
		text-decoration: none;
		text-shadow: none;
		top: 15px;
		z-index: 1000;
	}
}
@media screen and (max-width: 1280px){
	a#main-menu-toggle {
	  left: 5px;
	}
}
@media screen and (max-width: 1280px){
	a#main-menu-toggle {
	  color: #fff;
	  cursor: pointer;
	  font-size: 16px;
	  left: 3px;
	  padding: 10px 9px;
	  position: absolute;
	  text-decoration: none;
	  text-shadow: none;
	  top: 15px;
	  z-index: 1000;
	}
	.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > ul > li > a {
	  background: transparent none repeat scroll 0 0;
	  border: 0 none;
	  border-radius: 0;
	  color: #fff;
	  padding: 10px 12px;
	  text-decoration: none;
	}
	
}
@media screen and (max-width: 1080px){
	a#main-menu-toggle {
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		left: 5px;
		padding: 10px 9px;
		position: absolute;
		text-decoration: none;
		text-shadow: none;
		top: 15px;
		z-index: 1000;
	}
	.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > ul > li > a {
		padding: 10px 5px;
	}
	.nav-tabs.nav-stacked > li > a > i, .nav-tabs.nav-stacked > li > ul > li > a > i {
		margin-right: 1px;
	}
}
@media screen and (max-width: 1024px){
	.sidebar-nav > ul {
		font-size: 11px;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}
	
}
@media screen and (max-width: 800px){
	a#main-menu-toggle {
		margin-left: 5%;
	}
	.container-fluid-full #sidebar-left {
	  height: 100%;
	  margin-left: 0 !important;
	  padding-top: 0 !important;
	  position: absolute;
	}	
	.nav-collapse.sidebar-nav {
		float: left;
		width: 64px;
	}
}
@media screen and (max-width: 768px){
	.container-fluid-full #sidebar-left {
		height: 100%;
		margin-left: 0 !important;
		padding-top: 0 !important;
		position: absolute;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 64px;
	}
}
@media screen and (max-width: 736px){
	.container-fluid-full #sidebar-left {
		height: 100%;
		margin-left: 0 !important;
		padding-top: 0 !important;
		position: inherit;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}

}
@media screen and (max-width: 720px){
	.container-fluid-full #sidebar-left {
		height: 100%;
		margin-left: 0 !important;
		padding-top: 0 !important;
		position: inherit;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}
	label {
		float: left;
	}
	#tbl_team_length {
		float: left;
		width: 100%;
	}
	a.btn {
		margin-bottom: 2px;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}
	.create_name input {
		height: 33px;
		margin-left: 0 !important;
		width: 223px;
	}
	.new_dworksite select {
		height: 40px !important;
		margin-left: 0;
		width: 223px;
	}
	select.form-control.col-md-2{
		width:32%;
		margin-left: 16px;
	}
}
@media screen and (max-width: 600px){
	.container-fluid-full #sidebar-left {
		height: 100%;
		margin-left: 0 !important;
		padding-top: 0 !important;
		position: relative;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}
}
@media screen and (max-width: 568px){
	.container-fluid-full #sidebar-left {
		height: 100%;
		margin-left: 0 !important;
		padding-top: 0 !important;
		position: relative;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}
	.navbar-inner {
		padding: 0;
	}
}
@media screen and (max-width: 480px){
	.container-fluid-full #sidebar-left {
	  height: 100%;
	  margin-left: 0 !important;
	  padding-top: 0 !important;
	  position: inherit;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}
	.navbar-inner {
		padding: 0;
	}
}
@media screen and (max-width: 375px){
	.new_topheader .dataTables_filter {
		text-align: left;
	}
	#tbl_team_length {
		clear: both;
		float: left;
		width: 100%;
	}
}
@media screen and (max-width: 320px){
	.container-fluid-full #sidebar-left {
		height: 100%;
		margin-left: 0 !important;
		padding-top: 0 !important;
		position: inherit;
	}
	.navbar-inner {
		padding: 0;
	}
	#sidebar-left{
		padding:0px;
	}
	.row-fluid [class*="span"]{
		min-height: 0;
	}
	label {
		float: left;
	}
	#tbl_team_length {
		float: left;
		width: 100%;
	}
	a.btn {
		margin-bottom: 2px;
	}
	.nav-collapse.sidebar-nav {
		float: left;
		width: 100%;
	}
	.create_name input {
		height: 33px;
		margin-left: 0 !important;
		width: 223px;
	}
	.new_dworksite select {
		height: 40px !important;
		margin-left: 0;
		width: 223px;
	}
	select.form-control.col-md-2{
		width:32%;
		margin-left: 16px;
	}
}