﻿@using Stampade.Models;
@model Stam_Athlete

@{
    if (Session["UserType"] == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Stam_Athlete obj_ATh = new Stam_Athlete();
    if (Model != null)
    {
        obj_ATh = Model;
        obj_ATh.STAM_ATH_GENDER = obj_ATh.STAM_ATH_GENDER.Trim();  
    }

}
<script src="~/Content/js/CommonScript.js"></script>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Athlete Details</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-3 control-label">First Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_FirstName" value='@(obj_ATh.STAM_ATH_FIRTSNAME == null ? "" : obj_ATh.STAM_ATH_FIRTSNAME)' disabled style="" type="text" placeholder="First Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageFirstName" class="help-block" style=" color: red;display:none;">First Name  is required</span></div>

            <label class="pull-left col-md-3 control-label">Last Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_LastName" value='@(obj_ATh.STAM_ATH_LASTNAME == null ? "" : obj_ATh.STAM_ATH_LASTNAME)' disabled type="text" placeholder="Last Name" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageLastName" class="help-block" style=" color: red;display:none;">Last Name  is required</span></div>

            <label class="pull-left control-label col-md-3">Email Address:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_EmailAddress" value='@(obj_ATh.STAM_ATH_EMAILADD == null ? "" : obj_ATh.STAM_ATH_EMAILADD)' disabled type="text" placeholder="Email Address" class="form-control new_createbx" tabindex="3" required />
            <div> <span id="ErrorMessageEmail" class="help-block" style=" color: red;display:none;">Email Addres  is required</span></div>
            <div> <span id="ErrorMessageValidMailtext" class="help-block" style="color: red;display:none;">Please enter valid mail Address</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block" style="color: red;display:none;"></span></div>

            <label class="pull-left control-label  col-md-3">Mobile No:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_MobileNo" type="text" value='@(Convert.ToString(obj_ATh.STAM_ATH_MOBILENO) != "0" ? obj_ATh.STAM_ATH_MOBILENO.ToString() : "")' disabled maxlength="10" placeholder="Mobile No" class="form-control new_createbx" tabindex="4" required />
            <div> <span id="ErrorMessageMobile" class="help-block" style=" color: red;display:none;">Mobile No is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block" style=" color: red;display:none;"></span></div>

            <label class="pull-left control-label col-md-3">Gender:<span style="color: red; font-size: medium">*</span></label>
            <div class="col-md-12 nopadding mt14 new_dworksite">
                <select id="ddGender" class="form-control" tabindex="5" disabled required>
                    <option value="0">-- Select Gender --</option>
                    <option @((obj_ATh.STAM_ATH_GENDER == "Male") ? "selected=selected" : "")>Male</option>
                    <option @((obj_ATh.STAM_ATH_GENDER == "Female") ? "selected=selected" : "")>Female</option>
                </select>
            </div>
                <div> <span id="ErrorMessageGender" class="help-block" style=" color: red;display:none;">Gender is required</span></div>

                <label class="pull-left control-label col-md-3">Group:<span style="color: red; font-size: medium">*</span></label>
                @Html.Action("GetSingleGroup", "UserControl", new { GroupName = (obj_ATh.STAM_ATH_ASSIGNGROUP == null ? "" : obj_ATh.STAM_ATH_ASSIGNGROUP) })
                <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div>

            <label class="pull-left control-label col-md-3" style="float: left; clear: both;">Assign Athlete Section :<span style="color: red; font-size: medium"></span></label>
                @Html.Action("GetAthleteSection", "UserControl", new { Name = (obj_ATh.STAM_ATH_SECTION == null ? "" : obj_ATh.STAM_ATH_SECTION), grpId = (obj_ATh.STAM_ATH_ASSIGNGROUPID == null ? "" : obj_ATh.STAM_ATH_ASSIGNGROUPID) })
                <div> <span id="ErrorMessageAthSection" class="help-block" style=" color: red;display:none;">Athlete Section is required</span></div>
            @if (obj_ATh.STAM_ATH_ID != 0)
            {
                <label class="pull-left control-label col-md-3">Assigned Device :<span style="color: red; font-size: medium"></span></label>
                @*Html.Action("GetDevice", "UserControl", new { Name = (obj_ATh.STAM_DEVICE_NAME == null ? "" : obj_ATh.STAM_DEVICE_NAME)})*@
                @obj_ATh.STAM_DEVICE_NAME @obj_ATh.STAM_DEVICE_ID

            }
            </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn" value="Back" tabindex="7" onclick="Back()" />
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->

<script>


   $(document).ready(function () {
      //  $('#ddGroup').chosen({ allow_single_deselect: true });
        $("#ddSingleGroup").attr('disabled', 'disabled');
        //$('#ddlAthSection').load('/UserControl/GetAthleteSection?Name=' + encodeURIComponent('@obj_ATh.STAM_ATH_ASSIGNGROUP') + "&grpId=" + '@obj_ATh.STAM_ATH_ASSIGNGROUPID');      

        setTimeout(function () {
            $('#ddAthSec option').each(function () {
                if ($(this).text().trim() == '@obj_ATh.STAM_ATH_SECTION') {
                    $(this).attr("selected", "selected");
                }
            });           
        }, 2000);
       $("#ddAthSec").attr('disabled', 'disabled');
    });
    function Back() {
        location.href = "/Athlete/ManageAthlete";
    }

    $(function () {
        $('#li_Ath').addClass('active')
    });
</script>

<style>
    .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
</style>


