﻿@using Stampade.Models;
@model Stam_Athlete
@{
    bool _athlete = false;
    if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";
        _athlete = true;
    }
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Stam_Athlete obj_ATh = new Stam_Athlete();
    if (Model != null)
    {
        obj_ATh = Model;
        obj_ATh.STAM_ATH_GENDER = obj_ATh.STAM_ATH_GENDER.Trim();        
    }
   
    string copyEdit = ViewData["CopyEdit"] != null ? ViewData["CopyEdit"].ToString() : "";

    if (copyEdit != null && copyEdit != "")
    {
        obj_ATh.STAM_ATH_ID = 0;
    }

}

<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/CommonScript.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div>
            <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
                <p class="ng-binding"></p>
            </div>
        </div>
            @{
                if (Session["UserType"].ToString() == "4")
                {
					<div class="box-header">
                        <h2><img src="../Content/image/header_side.png"><span class="head_content">My Profile</span></h2>
                    </div>
                        <div class="pull-right browse_details col-md-12 new_brw_det">
                            <a onclick="newPassword('@obj_ATh.STAM_ATH_EMAILADD')" class="btn btn-success create_new_team">
                                <span>Change Password</span>
                            </a>
                        </div>
                }
                else
                {
                    <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_ATh.STAM_ATH_ID == 0 ? "Create New Athlete" : "Update Athlete")</span></h2>
        </div>
                }
        }
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-3 control-label">First Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_FirstName" value='@(obj_ATh.STAM_ATH_FIRTSNAME == null ? "" : obj_ATh.STAM_ATH_FIRTSNAME)' style="" type="text" placeholder="First Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageFirstName" class="help-block" style=" color: red;display:none;">First Name  is required</span></div>

            <label class="pull-left col-md-3 control-label">Last Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_LastName" value='@(obj_ATh.STAM_ATH_LASTNAME == null ? "" : obj_ATh.STAM_ATH_LASTNAME)' type="text" placeholder="Last Name" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageLastName" class="help-block" style=" color: red;display:none;">Last Name  is required</span></div>

            <label class="pull-left control-label col-md-3">Email Address:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_EmailAddress" value='@(obj_ATh.STAM_ATH_EMAILADD == null ? "" : obj_ATh.STAM_ATH_EMAILADD)' type="text" placeholder="Email Address" class="form-control new_createbx" tabindex="3" required />
            <div> <span id="ErrorMessageEmail" class="help-block" style=" color: red;display:none;">Email Addres  is required</span></div>
            <div> <span id="ErrorMessageValidMailtext" class="help-block" style="color: red;display:none;">Please enter valid mail Address</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block" style="color: red;display:none;"></span></div>

            <label class="pull-left control-label  col-md-3">Mobile No:<span style=""></span></label>
            <input id="txt_MobileNo" type="text" value='@(Convert.ToString(obj_ATh.STAM_ATH_MOBILENO) != "0" ? obj_ATh.STAM_ATH_MOBILENO.ToString() : "")' maxlength="10" placeholder="Mobile No" class="form-control new_createbx" tabindex="4" required />
            <div> <span id="ErrorMessageMobile" class="help-block" style=" color: red;display:none;">Mobile No is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block" style=" color: red;display:none;"></span></div>

            <label class="pull-left control-label col-md-3">Gender:<span style="color: red; font-size: medium">*</span></label>
            <div class="col-md-12 nopadding mt14 new_dworksite">
                <select id="ddGender" class="form-control" tabindex="5" required>
                    <option value="0">-- Select Gender --</option>
                    <option @((obj_ATh.STAM_ATH_GENDER == "Male") ? "selected=selected" : "")>Male</option>
                    <option @((obj_ATh.STAM_ATH_GENDER == "Female") ? "selected=selected" : "")>Female</option>
                </select>
            </div>
                <div> <span id="ErrorMessageGender" class="help-block" style=" color: red;display:none;">Gender is required</span></div>

                @{
                    if (Session["UserType"].ToString() == "2")
                    {
                        <label class="pull-left control-label col-md-3">Group:<span style="color: red; font-size: medium">*</span></label>
                        @Html.Action("GetSingleGroup", "UserControl", new { GroupName = (obj_ATh.STAM_ATH_ASSIGNGROUP == null ? "" : obj_ATh.STAM_ATH_ASSIGNGROUP) })
                        <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div>
                    }
                    else
                    {
                        <label class="pull-left control-label col-md-3">Group:<span style="color: red; font-size: medium">*</span></label>
                        @Html.Action("GetAsstCoachGroup", "UserControl", new { GroupName = (obj_ATh.STAM_ATH_ASSIGNGROUP == null ? "" : obj_ATh.STAM_ATH_ASSIGNGROUP) })
                        <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div>
                    }
                }
	
		<label class="pull-left control-label col-md-3" style="float: left; clear: both;">Assign Athlete Section :<span style="color: red; font-size: medium"></span></label>
                @Html.Action("GetAthleteSection", "UserControl", new { Name = (obj_ATh.STAM_ATH_SECTION == null ? "" : obj_ATh.STAM_ATH_SECTION), grpId = (obj_ATh.STAM_ATH_ASSIGNGROUPID == null ? "" : obj_ATh.STAM_ATH_ASSIGNGROUPID) })
                <div><span id="ErrorMessageAthSection" class="help-block" style=" color: red;display:none;">Athlete Section is required</span></div>
	
                

          @if (obj_ATh.STAM_ATH_ID!=0)
          {
            <label class="pull-left control-label col-md-3">Assigned Device :<span style="color: red; font-size: medium"></span></label>
            @*Html.Action("GetDevice", "UserControl", new { Name = (obj_ATh.STAM_DEVICE_NAME == null ? "" : obj_ATh.STAM_DEVICE_NAME)})*@
            @obj_ATh.STAM_DEVICE_NAME @obj_ATh.STAM_DEVICE_ID
            
          }
           @*<input id="txt_DeviceName" value='@(obj_ATh.STAM_DEVICE_NAME == null ? "" : obj_ATh.STAM_DEVICE_NAME)' type="text" placeholder="Last Name" class="form-control new_createbx"  />*@
            </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn btn-primary mr10" onclick="CreateAth()" tabindex="8" value='@(obj_ATh.STAM_ATH_ID == 0 ? "Create" : "Update")' />
                @{
                if (_athlete != true)
                {
                <input type="button" class="btn" value="Cancel" tabindex="9" onclick="Close_on()" />
                }
                }
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->
  
<script>

    $(document).ready(function () {
        $("#ddSingleGroup").attr("tabindex", "6");
        $("#ddAthSec").attr("tabindex", "7");
       
        if('@obj_ATh.STAM_ATH_ID' != '0' || ('@copyEdit' != null && '@copyEdit' != "")) {
            //$("#ddAthSec option[value='0']").remove();
            //$("#ddAthSec").prepend('<option value=@obj_ATh.STAM_ATH_SECTIONID>@obj_ATh.STAM_ATH_SECTION</option>');
           // $('#ddlAthSection').load('/UserControl/GetAthleteSection?Name=' + encodeURIComponent('@obj_ATh.STAM_ATH_ASSIGNGROUP') + "&grpId=" + '@obj_ATh.STAM_ATH_ASSIGNGROUPID');

            setTimeout(function () {
                $('#ddAthSec option').each(function () {
                    if ($(this).text().trim() == '@obj_ATh.STAM_ATH_SECTION') {
                        $(this).attr("selected", "selected");
                    }
                });
            }, 3000);
      $("#ddAthSec").attr("tabindex", "7");
        }

        if ('@_athlete' == "True") {
            $("#ddSingleGroup").attr('disabled', 'disabled');
            $('#txt_EmailAddress').attr('disabled', 'disabled');
            $('#ddAthSec').attr('disabled', 'disabled');
        }
    });

    function CreateAth() {
        var IsError = false;

        if ($('#txt_FirstName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageFirstName').css("display", "block");
        }
        else {
            $('#ErrorMessageFirstName').css("display", "none");
        }

        if ($('#txt_LastName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageLastName').css("display", "block");
        }
        else {
            $('#ErrorMessageLastName').css("display", "none");
        }

        if ($('#txt_EmailAddress').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageEmail').css("display", "block");
        }
        else {
            $('#ErrorMessageEmail').css("display", "none");
        }

        

        if ($('#ddGender :selected').val() == "0") {
            IsError = true;
            $('#ErrorMessageGender').css("display", "block");
        }
        else {
            $('#ErrorMessageGender').css("display", "none");
        }

        if ($('#ddSingleGroup :selected').val() == "0") {
            IsError = true;
            $('#ErrorMessageGroup').css("display", "block");
        }
        else {
            $('#ErrorMessageGroup').css("display", "none");
        }
        var AthSec = "";
        var AthSecID = "";
        if ($('#ddAthSec').val() == "0") {
            //IsError = true;
            //$('#ErrorMessageAthSection').css("display", "block");
            AthSec = null;
            AthSecID = 0;
        }
        else {
            AthSec = $('#ddAthSec :selected').text().trim();
            AthSecID = $('#ddAthSec :selected').val().trim();
            //$('#ErrorMessageAthSection').css("display", "none");
        }


        if (!validateEmail($('#txt_EmailAddress').val().trim())) {
            $('#ErrorMessageValidMailtext').css("display", "block");
            IsError = true;
        }
        else {
            $('#ErrorMessageValidMailtext').css("display", "none");
        }

        if (IsError) {
            return false;
        }

        if ($('#txt_EmailAddress').val().trim() != null) {
            $.ajax({
                url: "/Account/ChkEmail",
                type: "POST",
                data: { MailId: $('#txt_EmailAddress').val().trim() },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message != "" && result.Message != null) {
                            if ('@obj_ATh.STAM_ATH_ID' != result.data) {
                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                IsError = true;
                                return false;
                            }
                        }
                        if (IsError) {
                            return false;
                        }

                        var datatoPost = {
                            STAM_ATH_ID: '@obj_ATh.STAM_ATH_ID',
                            STAM_ATH_FIRTSNAME: $('#txt_FirstName').val().trim(),
                            STAM_ATH_LASTNAME: $('#txt_LastName').val().trim(),
                            STAM_ATH_EMAILADD: $('#txt_EmailAddress').val().trim(),
                            STAM_ATH_MOBILENO: $('#txt_MobileNo').val().trim(),
                            STAM_ATH_GENDER: $('#ddGender :selected').text().trim(),
                            STAM_ATH_ASSIGNGROUPID: $('#ddlSingleGroup :selected').val().trim(),
                            STAM_ATH_ASSIGNGROUP: $('#ddlSingleGroup :selected').text().trim(),
                            STAM_ATH_SECTIONID: AthSecID,
                            STAM_ATH_SECTION: AthSec,
                        };

                        $.ajax({
                            url: "AthleteCreation",
                            type: "POST",
                            data: datatoPost,
                            success: function (result) {
                                if (result.Error) {

                                }
                                else {
                                    if ('@_athlete' != "True") {
                                        location.href = "/Athlete/ManageAthlete?Msg=" + result.Message;
                                    }
                                    else {
                                        $('#divSuccessMessage').css("display", "block");
                                        $('#divSuccessMessage').text(result.Message);
                                        setTimeout(function () {
                                            $('#divSuccessMessage').css("display", "none");
                                        }, 3000);
                                    }
                                }
                            },
                        });
                    }
                },
            });
        }
    }

    $('#txt_MobileNo').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^0-9]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            $('#ErrorMessageValidtext').html("Please Enter Numbers Only");
            $('#ErrorMessageValidtext').css("display", "none");
            return '';
        }));
    });


    $('#txt_EmailAddress').change(function () {
        if (!validateEmail($('#txt_EmailAddress').val().trim())) {
            $('#ErrorMessageValidMailtext').css("display", "block");
        }
        else {
            $('#ErrorMessageValidMailtext').css("display", "none");
        }

        if ($('#txt_EmailAddress').val().trim() != null) {
            $.ajax({
                url: "/Account/ChkEmail",
                type: "POST",
                data: { MailId: $('#txt_EmailAddress').val().trim() },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if ('@obj_ATh.STAM_ATH_ID' != result.data) {
                            $('#ErrorMessageAlreadyExist').text(result.Message);
                            $('#ErrorMessageAlreadyExist').css("display", "block");
                            return true;
                        }
                    }
                },
            });
        }
    });

    function Chg_group() {
        $('#ddlAthSection').load('/UserControl/GetAthleteSection?Name=' + encodeURIComponent($('#ddlSingleGroup :selected').text().trim()) + "&grpId=" + $('#ddlSingleGroup :selected').val().trim());
    }

    function Close_on() {
        location.href = "/Athlete/ManageAthlete";
    }
    $(function () {
        $('#li_Ath').addClass('active')
    });

    function newPassword(arg) {
        location.href = "/Account/ChangePassword?mailID=" + arg;
    }
</script>

