﻿@using Stampade.Models;
@model List<STAM_MA_ASSTCOACH>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_ASSTCOACH> obj_ACoach = new List<STAM_MA_ASSTCOACH>();
    if (Model != null)
    {
        obj_ACoach = Model.ToList();
        obj_ACoach = obj_ACoach.OrderByDescending(p => p.STAM_CREATED_DATE).ToList();
    }
    var count = 1;
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Asst Coach FirstName</th>
                <th>Asst Coach LastName</th>
                <th>EmailAddress</th>
                <th>Mobile No</th>
                <th>Assigned Group</th>
                <th>Status</th>
                <th style="width:165px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in obj_ACoach)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_ASSTCOACH_FIRSTNAME
                        </td>
                        <td>
                            @item.STAM_ASSTCOACH_LASTNAME
                        </td>
                        <td>
                            @item.STAM_ASSTCOACH_EMAILADD
                        </td>
                        <td>
                            @(item.STAM_ASSTCOACH_MOBILENO == 0 ? "" : item.STAM_ASSTCOACH_MOBILENO.ToString())
                        </td>
                        <td>
                            @item.STAM_ASSTCOACH_GROUPNAME
                        </td>
                        <td>
                            @{
                    if (item.STAM_ASSTCOACH_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="AsstCoachStatusAction('@item.STAM_ASSTCOACH_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_ASSTCOACH_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="AsstCoachStatusAction('@item.STAM_ASSTCOACH_ID','Active')" class="label label-important">InActive  </a>
                    }
}

                        </td>
                        <td class="bold" style="widht:165px;">
                            @*<a href="#" title="View" onclick="ViewAsstCoach('@item.STAM_ASSTCOACH_ID')" class="btn btn-success" style="margin-bottom:2px;width: 16px;"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="EditAsstCoach('@item.STAM_ASSTCOACH_ID')" class="btn btn-info" style="margin-bottom:2px;width: 16px;"> <i class="icon-edit "></i></a>
                            <a href="#" title="CopyEdit" onclick="CopyEditCoachAction('@item.STAM_ASSTCOACH_ID')" class="btn btn-warning" style="margin-bottom:2px;width: 16px;"><i class="icon-copy "></i></a>
                            <a href="#" title="Delete" onclick="DeleteAsstCoachAction('@item.STAM_ASSTCOACH_ID')" class="btn btn-danger" style="margin-bottom:2px;width: 16px;"><i class="icon-trash "></i></a>                            
                        </td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>