﻿@using Stampade.Models;
@model STAM_MA_ASSTCOACH

@{
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_ASSTCOACH obj_ACoach = new STAM_MA_ASSTCOACH();
    if (Model != null)
    {
        obj_ACoach = Model;
    }

}
<script src="~/Content/js/CommonScript.js"></script>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Asst Coach Details</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">First Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_FirstName" value='@(obj_ACoach.STAM_ASSTCOACH_FIRSTNAME == null ? "" : obj_ACoach.STAM_ASSTCOACH_FIRSTNAME)' style="" type="text" disabled placeholder="First Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageFirstName" class="help-block" style=" color: red;display:none;">First Name  is required</span></div>

            <label class="pull-left col-md-2 control-label">Last Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_LastName" value='@(obj_ACoach.STAM_ASSTCOACH_LASTNAME == null ? "" : obj_ACoach.STAM_ASSTCOACH_LASTNAME)' type="text" placeholder="Last Name" disabled class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageLastName" class="help-block" style=" color: red;display:none;">Last Name  is required</span></div>

            <label class="pull-left control-label col-md-2">Email Address:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_EmailAddress" value='@(obj_ACoach.STAM_ASSTCOACH_EMAILADD == null ? "" : obj_ACoach.STAM_ASSTCOACH_EMAILADD)' type="text" placeholder="Email Address" disabled class="form-control new_createbx" tabindex="3" required />
            <div> <span id="ErrorMessageEmail" class="help-block" style=" color: red;display:none;">Email Addres  is required</span></div>
            <div> <span id="ErrorMessageValidMailtext" class="help-block" style="color: red;display:none;">Please enter valid mail Address</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block" style="color: red;display:none;"></span></div>

            <label class="pull-left control-label  col-md-2">Mobile No:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_MobileNo" type="text" value='@(Convert.ToString(obj_ACoach.STAM_ASSTCOACH_MOBILENO) != "0" ? obj_ACoach.STAM_ASSTCOACH_MOBILENO.ToString() : "")' disabled maxlength="10" placeholder="Mobile No" class="form-control new_createbx" tabindex="4" required />
            <div> <span id="ErrorMessageMobile" class="help-block" style=" color: red;display:none;">Mobile No is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block" style=" color: red;display:none;"></span></div>

            <label class="pull-left control-label col-md-2">Group:<span style="color: red; font-size: medium">*</span></label>
            @Html.Action("GetGroup", "UserControl", new { GroupName = (obj_ACoach.STAM_ASSTCOACH_GROUPNAME == null ? "" : obj_ACoach.STAM_ASSTCOACH_GROUPNAME) })
            <div> <span id="ErrorMessageTeam" class="help-block" style=" color: red;display:none;">Team Name is required</span></div>
        </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn" value="Back" tabindex="7" onclick="Back()" />
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->





<script>


    $(document).ready(function () {
        $("#ddGroup_chzn").attr("tabindex", "5");
        $('#ddGroup').chosen({ allow_single_deselect: true });
        if ('@obj_ACoach.STAM_ASSTCOACH_ID' != 0) {           
            $("#ddGroup_chzn").attr('disabled', 'disabled');
        }
        $("#ddlGroup").addClass("disabledbutton");
    });
    function Back() {
        location.href = "/AsstCoach/ManageAsstCoach";
    }

    $(function () {
        $('#li_Asst').addClass('active')
    });
</script>

<style>
    .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
</style>


