﻿@using Stampade.Models;
@model STAM_MA_ASSTCOACH
@{
    var AsstCoach = false;
    if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
        AsstCoach = true;
    }
    else
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";

    }
    
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_ASSTCOACH obj_ACoach = new STAM_MA_ASSTCOACH();
    if (Model != null)
    {
        obj_ACoach = Model;
    }
   
    string copyEdit = ViewData["CopyEdit"] != null ? ViewData["CopyEdit"].ToString() : "";

    if (copyEdit != null && copyEdit != "")
    {
        obj_ACoach.STAM_ASSTCOACH_ID = 0;
    }

}

<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/js/CommonScript.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">

        <div>
            <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
                <p class="ng-binding"></p>
            </div>
        </div>

        @{
            if (Session["UserType"].ToString() == "3")
            {
                <div class="box-header">
                    <h2><img src="../Content/image/header_side.png"><span class="head_content">My Profile</span></h2>
                </div>
                <div class="pull-right browse_details col-md-12 new_brw_det">
                    <a onclick="newPassword('@obj_ACoach.STAM_ASSTCOACH_EMAILADD')" class="btn btn-success create_new_team">
                        <span>Change Password</span>
                    </a>
                </div>
            }
            else
            {
                <div class="box-header">
                    <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_ACoach.STAM_ASSTCOACH_ID == 0 ? "Create New Coach" : "Update Coach")</span></h2>
                </div>
            }
        }

        @*<div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_ACoach.STAM_ASSTCOACH_ID == 0 ? "Create New Coach" : "Update Coach")</span></h2>
        </div>*@
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">First Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_FirstName" value='@(obj_ACoach.STAM_ASSTCOACH_FIRSTNAME == null ? "" : obj_ACoach.STAM_ASSTCOACH_FIRSTNAME)' style="" type="text" placeholder="First Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageFirstName" class="help-block1" style=" color: red;display:none;">First Name  is required</span></div>

            <label class="pull-left col-md-2 control-label">Last Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_LastName" value='@(obj_ACoach.STAM_ASSTCOACH_LASTNAME == null ? "" : obj_ACoach.STAM_ASSTCOACH_LASTNAME)' type="text" placeholder="Last Name" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageLastName" class="help-block1" style=" color: red;display:none;">Last Name  is required</span></div>

            <label class="pull-left control-label col-md-2">Email Address:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_EmailAddress" value='@(obj_ACoach.STAM_ASSTCOACH_EMAILADD == null ? "" : obj_ACoach.STAM_ASSTCOACH_EMAILADD)' type="text" placeholder="Email Address" class="form-control new_createbx" tabindex="3" required />
            <div> <span id="ErrorMessageEmail" class="help-block1" style=" color: red;display:none;">Email Addres  is required</span></div>
            <div> <span id="ErrorMessageValidMailtext" class="help-block1" style="color: red;display:none;">Please enter valid mail Address</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span></div>

            <label class="pull-left control-label  col-md-2">Mobile No:<span style=""></span></label>
            <input id="txt_MobileNo" type="text" value='@(Convert.ToString(obj_ACoach.STAM_ASSTCOACH_MOBILENO) != "0" ? obj_ACoach.STAM_ASSTCOACH_MOBILENO.ToString() : "")' maxlength="10" placeholder="Mobile No" class="form-control new_createbx" tabindex="4"  />
            <div> <span id="ErrorMessageMobile" class="help-block1" style=" color: red;display:none;">Mobile No is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block1" style=" color: red;display:none;"></span></div>

            <label class="pull-left control-label col-md-2">Group:<span style="color: red; font-size: medium">*</span></label>
            @Html.Action("GetGroup","UserControl", new { GroupName = (obj_ACoach.STAM_ASSTCOACH_GROUPNAME == null ? "" : obj_ACoach.STAM_ASSTCOACH_GROUPNAME) })
            <div> <span id="ErrorMessageTeam" class="help-block1" style=" color: red;display:none;">Group Name is required</span></div>
        </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn btn-primary mr10" onclick="CreateAsstCoach()" tabindex="6" value='@(obj_ACoach.STAM_ASSTCOACH_ID == 0 ? "Create" : "Update")' />

                @{
                    if (Session["UserType"].ToString() != "3")
                    {
                        <input type="button" class="btn" value="Cancel" tabindex="7" onclick="Close_on()" />
                    }}
                
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->
  
<script>

    $(document).ready(function () {
        // $('#ddGroup').chosen({ allow_single_deselect: true });
        $("#ddGroup").attr("tabindex", "5");

        if ('@AsstCoach' == "True") {
            $('#txt_EmailAddress').attr('disabled', 'disabled');
            $('#ddGroup').attr('disabled', 'disabled');
           
        }
    });

    function CreateAsstCoach() {
        var IsError = false;

        if ($('#txt_FirstName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageFirstName').css("display", "block");
        }
        else {
            $('#ErrorMessageFirstName').css("display", "none");
        }

        if ($('#txt_LastName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageLastName').css("display", "block");
        }
        else {
            $('#ErrorMessageLastName').css("display", "none");
        }

        if ($('#txt_EmailAddress').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageEmail').css("display", "block");
        }
        else {
            $('#ErrorMessageEmail').css("display", "none");
        }

        //if ($('#txt_MobileNo').val().trim() == "") {
        //    IsError = true;
        //    $('#ErrorMessageMobile').css("display", "block");
        //}
        //else {
        //    $('#ErrorMessageMobile').css("display", "none");
        //}

        if ($('#ddGroup :selected').text() == "") {
            IsError = true;
            $('#ErrorMessageTeam').css("display", "block");
        }
        else {
            $('#ErrorMessageTeam').css("display", "none");
        }

        var GroupValues = "";
        var GroupName = "";
        $('#ddGroup :selected').each(function (i, selectedElement) {
            GroupValues += $(this).val() + ",";
            GroupName += $(this).text() + ",";
        });
        GroupValues = GroupValues.replace(/,\s*$/, "");
        GroupName = GroupName.replace(/,\s*$/, "");

        if (IsError) {
            return false;
        }

        if ($('#txt_EmailAddress').val().trim() != null) {
            $.ajax({
                url: "/Account/ChkEmail",
                type: "POST",
                data: { MailId: $('#txt_EmailAddress').val().trim() },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message != "" && result.Message != null) {

                            if ('@obj_ACoach.STAM_ASSTCOACH_ID' != result.data) {
                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                IsError = true;
                                return false;
                            }
                        }
                        if (IsError) {
                            return false;
                        }

                        var datatoPost = {
                            STAM_ASSTCOACH_ID: '@obj_ACoach.STAM_ASSTCOACH_ID',
                            STAM_ASSTCOACH_FIRSTNAME: $('#txt_FirstName').val().trim(),
                            STAM_ASSTCOACH_LASTNAME: $('#txt_LastName').val().trim(),
                            STAM_ASSTCOACH_EMAILADD: $('#txt_EmailAddress').val().trim(),
                            STAM_ASSTCOACH_MOBILENO: $('#txt_MobileNo').val().trim(),
                            STAM_ASSTCOACH_GROUPID: GroupValues,
                            STAM_ASSTCOACH_GROUPNAME: GroupName,
                        };

                        $.ajax({
                            url: "AsstCoachCreation",
                            type: "POST",
                            data: datatoPost,
                            success: function (result) {
                                if (result.Error) {

                                }
                                else {

                                    if ('@AsstCoach' != "True") {
                                        location.href = "/AsstCoach/ManageAsstCoach?Msg=" + result.Message;
                                    }
                                    else {
                                        $('#divSuccessMessage').css("display", "block");
                                        $('#divSuccessMessage').text(result.Message);
                                        setTimeout(function () {
                                            $('#divSuccessMessage').css("display", "none");
                                        }, 3000);
                                    }

                                }
                            },
                        });
                    }
                },
            });
        }
    }

        $('#txt_MobileNo').keyup(function () {
            var $th = $(this);
            $th.val($th.val().replace(/[^0-9]/g, function (str) {
                $('#ErrorMessageValidtext').css("display", "block");
                $('#ErrorMessageValidtext').html("Please Enter Numbers Only");
                $('#ErrorMessageValidtext').css("display", "none");
                return '';
            }));
        });


        $('#txt_EmailAddress').change(function () {
            if (!validateEmail($('#txt_EmailAddress').val().trim())) {
                $('#ErrorMessageValidMailtext').css("display", "block");
            }
            else {
                $('#ErrorMessageValidMailtext').css("display", "none");
            }

            if ($('#txt_EmailAddress').val().trim() != null) {
                $.ajax({
                    url: "/Account/ChkEmail",
                    type: "POST",
                    data: { MailId: $('#txt_EmailAddress').val().trim() },
                    success: function (result) {
                        if (result.Error) {
                        }
                        else {
                            $('#ErrorMessageAlreadyExist').text(result.Message);
                            $('#ErrorMessageAlreadyExist').css("display", "block");
                        }
                    },
                });
            }
        });

        function Close_on() {
            location.href = "/AsstCoach/ManageAsstCoach";
        }
        $(function () {
            $('#li_Asst').addClass('active')
        });

        function newPassword(arg) {
            location.href = "/Account/ChangePassword?mailID=" + arg;
        }

</script>

