﻿@using System.Net.Http;
@using Stampade.Models;
@using System.Web.Mvc.Async;
@using System.Threading.Tasks;
@{
    ViewBag.Title = "Manage AsstCoach";
    Layout = "~/Views/Shared/_CoachLayout.cshtml";

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid new_topheader">
    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>
    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2>
                <img src="../Content/image/header_side.png" />
                <span class="break"></span>
                <span class="head_content">Manage AsstCoaches</span>
            </h2>
        </div>
        <div class="pull-right browse_details col-md-12 new_brw_det">
            <a href="/AsstCoach/CreateNewAsstCoach?AsstCoachId=0" class="btn btn-success create_new_team">
                <span>Create New Coach</span>
            </a>
        </div>
        <div id="partialDiv">            
            @Html.Action("AsstCoach_Table")
          
        </div>
    </div><!--/span-->

</div><!--/row--> 
<script>

    function EditAsstCoach(arg) {
        location.href = "/AsstCoach/CreateNewAsstCoach?AsstCoachId=" + arg;
    }
    function ViewAsstCoach(arg) {
        location.href = "/AsstCoach/AsstCoach_View?CoachId=" + arg;
    }
    function CopyEditCoachAction(arg) {
        location.href = "/AsstCoach/CreateNewAsstCoach?AsstCoachId=" + arg +"&_copy="+"copy";
    }
    

    function DeleteAsstCoachAction(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {
            $.ajax({
                url: "DeleteAsstCoach",
                type: "POST",
                data: { CoachId: arg },
                success: function (result) {
                    if (result.Error) {
                        setTimeout(function () {
                            $('#divSuccessMessage').text(result.Message);
                            $('#divSuccessMessage').css("display", "block");
                        }, 3000);
                    }
                    else {
                        $('#partialDiv').load('/AsstCoach/AsstCoach_Table');
                        $('#divSuccessMessage').css("display", "block");
                        $('#divSuccessMessage').text(result.Message);
                        setTimeout(function () {
                            $('#divSuccessMessage').css("display", "none");
                        }, 3000);
                    }
                },
            });
        }
    }


    function AsstCoachStatusAction(arg, arg1) {
        $.ajax({
            url: "AsstCoachActionUpdate",
            type: "POST",
            data: { CoachId: arg, status: arg1 },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#partialDiv').load('/AsstCoach/AsstCoach_Table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
    }

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(function () {
        $('#li_Asst').addClass('active')
    });

</script> 

