﻿@{
    ViewBag.Title = "Index";
    if (Session["UserType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";
    }
}
<!DOCTYPE html>
<head>
    <title></title>
    <link rel='stylesheet' type='text/css' href='~/Content/fullcalendar.css' />
    <script type='text/javascript' src='~/scripts/jquery-2.1.0.min.js'></script>
    <script type='text/javascript' src='~/scripts/fullcalendar.js'></script>
</head>
<div id="calendar"></div>
<script type="text/javascript">
    $(document).ready(function () {
        try
        {
            $('#calendar').fullCalendar({
                events: "@Url.Action("GetCalendarEvents/")",
                eventClick: function (events, jsEvent, view) {
                    //alert('You clicked on event id: ' + events.id
                    //    + "\nAnd the title is: " + events.title);
                }
            });
        }
        catch(err)
        {
            alert(err);
        }
    });
    </script>
