﻿@using Stampade.Models;
@model STAM_MA_COACH

@{
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_COACH obj_Coach = new STAM_MA_COACH();
    if (Model != null)
    {
        obj_Coach = Model;
    }

}
<script src="~/Content/js/CommonScript.js"></script>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Coach Details</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">First Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_FirstName" value='@(obj_Coach.STAM_COACH_FIRSTNAME == null ? "" : obj_Coach.STAM_COACH_FIRSTNAME)' style="" disabled type="text" placeholder="First Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageFirstName" class="help-block1" style=" color: red;display:none;">First Name  is required</span></div>

            <label class="pull-left col-md-2 control-label">Last Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_LastName" value='@(obj_Coach.STAM_COACH_LASTNAME == null ? "" : obj_Coach.STAM_COACH_LASTNAME)' type="text" disabled placeholder="Last Name" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageLastName" class="help-block1" style=" color: red;display:none;">Last Name  is required</span></div>

            <label class="pull-left control-label col-md-2">Email Address:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_EmailAddress" value='@(obj_Coach.STAM_COACH_EMAILADD == null ? "" : obj_Coach.STAM_COACH_EMAILADD)' type="text" disabled placeholder="Email Address" class="form-control new_createbx" tabindex="3" required />
            <div> <span id="ErrorMessageEmail" class="help-block" style=" color: red;display:none;">Email Addres  is required</span></div>
            <div> <span id="ErrorMessageValidMailtext" class="help-block1" style="color: red;display:none;">Please enter valid mail Address</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span></div>

            <label class="pull-left control-label  col-md-2">Mobile No:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_MobileNo" type="text" value='@(Convert.ToString(obj_Coach.STAM_COACH_MOBILENO) != "0" ? obj_Coach.STAM_COACH_MOBILENO.ToString() : "")' disabled maxlength="10" placeholder="Mobile No" class="form-control new_createbx" tabindex="4" required />
            <div> <span id="ErrorMessageMobile" class="help-block1" style=" color: red;display:none;">Mobile No is required & must be of 10 digit</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block1" style=" color: red;display:none;"></span></div>

            <label class="pull-left control-label col-md-2">Team:<span style="color: red; font-size: medium">*</span></label>
            @Html.Action("GetTeam", "UserControl", new { Name = (obj_Coach.STAM_COACH_TEAMNAME == null ? "" : obj_Coach.STAM_COACH_TEAMNAME) })
            <div> <span id="ErrorMessageTeam" class="help-block1" style=" color: red;display:none;">Team Name is required</span></div>
        </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn btn-primary" tabindex="5" onclick="Back()" value="Back" /> 
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->
<script>


    $(document).ready(function () {

        if ('@obj_Coach.STAM_COACH_ID' != 0) {
            $("#ddTeam option[value='0']").remove();
            $("#ddTeam").prepend('<option value=@obj_Coach.STAM_COACH_TEAMID>@obj_Coach.STAM_COACH_TEAMNAME</option>');
            // $("select#ddTeam").val("@obj_Coach.STAM_COACH_TEAMID");
            $("#ddTeam").attr('disabled', 'disabled');

            $('#ddTeam option').each(function () {
                if ($(this).text().trim() == '@obj_Coach.STAM_COACH_TEAMNAME') {
                    $(this).attr("selected", "selected");
                }
            });
        }
    });
    function Back() {
        location.href = "/Coach/ManageCoach";
    }
    $(function () {
        $('#li_Coach').addClass('active')
    });
</script>


