﻿@using Stampade.Models;
@model List<STAM_MA_COACH>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_COACH> obj_Team = new List<STAM_MA_COACH>();
    if (Model != null)
    {
        obj_Team = Model.ToList();
        obj_Team = obj_Team.OrderByDescending(p => p.STAM_CREATED_DATE).ToList();
    }
    var count = 1;
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Coach Admin FirstName</th>
                <th>Coach Admin LastName</th>
                <th>EmailAddress</th>
                <th>Team</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in obj_Team)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_COACH_FIRSTNAME
                        </td>
                        <td>
                            @item.STAM_COACH_LASTNAME
                        </td>
                        <td>
                            @item.STAM_COACH_EMAILADD
                        </td>
                        <td>
                            @item.STAM_COACH_TEAMNAME
                        </td>
                        <td>
                            @{
                    if (item.STAM_COACH_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="CoachStatusAction('@item.STAM_COACH_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_COACH_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="CoachStatusAction('@item.STAM_COACH_ID','Active')" class="label label-important">InActive  </a>
                    }
}

                        </td>
                        <td class="bold">
                            @*<a href="#" title="View" onclick="ViewCoach('@item.STAM_COACH_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="EditCoach('@item.STAM_COACH_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="Delete" onclick="DeleteCoachAction('@item.STAM_COACH_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                        </td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>