﻿
@using Stampade.Models;
@{
    ViewBag.Title = "Manage Coach";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid new_topheader">
   

    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>
    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><img src="../Content/image/header_side.png" />
			<span class="break"></span>
			<span class="head_content">Manage Coach</span>
			</h2>
        </div>
		 <div class="pull-right browse_details col-md-12 new_brw_det">
			<a href="/Coach/CreateNewCoach?CoachId=0" class="btn btn-success create_new_team">
			<span>Create New Coach</span>
			</a>
		</div>
        <div id="partialDiv">
            @Html.Action("Coach_Table")
        </div>
    </div><!--/span-->

</div><!--/row--> 
<script>

    function EditCoach(arg) {
        location.href = "/Coach/CreateNewCoach?CoachId=" + arg;
    }
    function ViewCoach(arg) {
        location.href = "/Coach/Coach_View?CoachId=" + arg;
    }

    function DeleteCoachAction(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {
        $.ajax({
            url: "DeleteCoach",
            type: "POST",
            data: { CoachId: arg },
            success: function (result) {
                if (result.Error) {
                    setTimeout(function () {
                        $('#divSuccessMessage').text(result.Message);
                        $('#divSuccessMessage').css("display", "block");
                    }, 3000);
                }
                else {
                    $('#partialDiv').load('/Coach/Coach_Table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
        }
    }


    function CoachStatusAction(arg, arg1) {
        $.ajax({
            url: "CoachActionUpdate",
            type: "POST",
            data: { CoachId: arg, status: arg1 },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#partialDiv').load('/Coach/Coach_Table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
    }

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(function () {
        $('#li_Coach').addClass('active')
    });

</script> 

