﻿@using Stampade.Models;
@model STAM_MA_WORKOUTS
    @{
        ViewBag.Title = "CreateNewWork";
        if (Session["USERS_ID"] == null)
        {
            Response.Redirect("~/Account/Login");
        }
        STAM_MA_WORKOUTS obj_Workout = new STAM_MA_WORKOUTS();
        obj_Workout.STAM_WORKOUT_TARGET_MM = 68;   
        if (Model != null)
        {
            obj_Workout = Model;
        }
        int[] mins = Enumerable.Range(0, 60).Select(x => (int)x).ToArray();
        int[] sec = Enumerable.Range(0, 59).Select(x => (int)x).ToArray();
        string Asst_c = ViewData["AsstCoachWorkout"] != null ? ViewData["AsstCoachWorkout"].ToString() : "";
        if(Asst_c =="Asst")
        {
            Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
        
        }
        else if (Asst_c == "Coach")
        {
            Layout = "~/Views/Shared/_CoachLayout.cshtml";
        } 
        else
        {
            Layout = "~/Views/Shared/_StampedeLayout.cshtml";
        }
        long UserID = 0;
        long.TryParse(Session["USERS_ID"].ToString(), out UserID);
        
        int wrkid=0;
        
        wrkid = ViewData["NewWork"] != null ? Convert.ToInt32(ViewData["NewWork"].ToString()) : 0;
        
        
        
        
    }
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid">
    <div class="box span12 bg-white bg_white">
	<div class="box-header">
        <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_Workout.STAM_WORKOUT_ID == 0 ? "Create New Workout" : "Update Workout")</span></h2>
		</div>
        <div class="col-sm-12 p-44 nopadding create_name">
			<div class="col-sm-9 nopadding create_name">
				<label class="pull-left col-md-4 control-label">
					Workout Title:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				<input id="txt_title" value='@(obj_Workout.STAM_WORKOUT_TITLE == null ? "" : obj_Workout.STAM_WORKOUT_TITLE)' style="margin-left:22px;" type="text" placeholder="Workout Title" class="form-control new_createbx" tabindex="1" required />
				<div style="float: left; width: 100%; margin-left: 167px;"> 
					<span id="ErrorMessageTitle" class="help-block1" style=" color: red;display:none;">
						Workout Title  is required
					</span>
				</div>  
				<div> 
					<span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span>
				</div>        
			</div>   
        @if (wrkid == 0)
{
			<div class="col-sm-9 nopadding create_name" style="clear:both;">
				<label class="pull-left col-md-4 control-label">
					Distance:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				@{
				if (Asst_c == null || Asst_c == "")
				{
				@Html.Action("GetDistance", "UserControl", new { Name = (obj_Workout.STAM_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_WORKOUT_DISTANCE) })
				}
				else
				{
				<input id="txt_Distance" value='@(obj_Workout.STAM_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_WORKOUT_DISTANCE)' style="margin-left:42px;" type="text" placeholder="Distance" class="form-control new_createbx" tabindex="2"  onkeypress="isNumberKey(event)" required />
				}
				}
				<div style="float: left; width: 100%; margin-left: 167px;"> 
					<span id="error" class="help-block1" style="color: Red; display: none">* Input digits (0 - 9)</span>
					<span id="ErrorMessageDistance" class="help-block1" style=" color: red;display:none;">
						Distance is required
					</span>
				</div>
			</div>
			<div class="col-sm-9 nopadding create_name">
				<label class="pull-left col-md-4 control-label">
					No of Runs:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				<input id="txt_NoofRuns" value='@(Convert.ToString(obj_Workout.STAM_WORKOUT_RUNS) != "0" ? obj_Workout.STAM_WORKOUT_RUNS.ToString() : "4")' disabled style="margin-left:22px;" type="text" placeholder="No of Runs" class="form-control new_createbx" tabindex="3" required />
				<div> 
					<span id="ErrorMessageRuns" class="help-block1" style=" color: red;display:none;">No of Runs  is required</span>
				</div>
				<div> 
					<span id="ErrorMessageValidtext1" class="help-block1" style="color: red;display:none;"></span>
				</div>    
			</div>    
			<div class="col-sm-9 nopadding create_name">
				<label class="pull-left col-md-4 control-label">
					Target:
					<span style="color: red; font-size: medium;"></span>
				</label>
				<select id="ddmm" class="form-control col-md-2" style="height:40px;width: 16.3%;float:left;" data-ng-show="partner.editMode" tabindex="4" required ng-required="positionTypeRequired">
					<option value="">mm</option>
					@{foreach (var item in mins)
					{
					<option value="@obj_Workout.STAM_WORKOUT_TARGET_MM" @((item == obj_Workout.STAM_WORKOUT_TARGET_MM) ? "selected=selected" : "")>@item</option>
					}
					}           
				</select>
				<select id="ddss" class="form-control" style="margin-left:26px;height:40px;width:17.3%;float:left;" data-ng-show="partner.editMode" tabindex="5" required ng-required="positionTypeRequired">
					<option value="">ss</option>
                    @if (obj_Workout.STAM_WORKOUT_TARGET_SS == 0 && obj_Workout.STAM_WORKOUT_ID == 0)
                    {
                        obj_Workout.STAM_WORKOUT_TARGET_SS = 100;
                    }
					@{foreach (var item in sec)
						{
						<option value="@obj_Workout.STAM_WORKOUT_TARGET_SS" @((item == obj_Workout.STAM_WORKOUT_TARGET_SS) ? "selected=selected" : "")>@item</option>
						}
					}
				</select>

			</div>   
                  
       }     
                  
			<div class="btm_create_team">
				<span class="btm_btns_area ">
					<input id="createworkout" type="button" class="btn mr10 btn-primary" tabindex="6" onclick="CreateWorkout()" value='@(obj_Workout.STAM_WORKOUT_ID == 0 ? "Create" : "Update")' style="width:auto;" />
					<input type="button" class="btn" value="Cancel" tabindex="7" onclick="Close_on()" style="width:auto;" />
				</span>
			</div>
    </div><!--/span-->
</div><!--/row-->
  
<script>
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    $(document).ready(function () {
        $("#txt_Distance").keypress(function (event) {
            if (event.which == 45 || event.which == 189) {
                event.preventDefault();
            }
        });

        
     
        $(function () {
            //$(".numeric").bind("keypress", function (e) {
                
            //    var keyCode = e.which ? e.which : e.keyCode
            //    var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            //    $(".error").css("display", ret ? "none" : "inline");
            //    return ret;
            //});
          
        });


    });
    function CreateWorkout() {
        var IsError = false;
        var DistanceID = "";
        var DistanceName = "";

        if ($('#txt_title').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageTitle').css("display", "block");
        }
        else {
            $('#ErrorMessageTitle').css("display", "none");
        }
        if ('@wrkid' == 0) {
        if ('@Asst_c' == null || '@Asst_c' == "") {
            if ($('#ddDist').val().trim() == "" || $('#ddDist').val().trim() == "0") {
                IsError = true;
                $('#ErrorMessageDistance').css("display", "block");
            }
            else {
                $('#ErrorMessageDistance').css("display", "none");
                DistanceName = $('#ddDist :selected').text().trim();
                DistanceID = $('#ddDist :selected').val().trim();
            }
        }
        else {
            if ($('#txt_Distance').val().trim() == "") {
                IsError = true;
                $('#ErrorMessageDistance').css("display", "block");
            }
            else {
                $('#ErrorMessageDistance').css("display", "none");
                DistanceName = $('#txt_Distance').val().trim();
                if ($.isNumeric(DistanceName)) {
                    DistanceID = 0;
                }
                else {

                    IsError = true;
                    $("#error").css("display","block");
                }
                
            }
        }
        
        if ($('#txt_NoofRuns').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageRuns').css("display", "block");
        }
        else {
            $('#ErrorMessageRuns').css("display", "none");
        }
           }

        if ($('#txt_title').val().trim() != null) {
            $.ajax({
                url: "ChkWorkoutTitle",
                type: "POST",
                data: { title: $('#txt_title').val().trim(), Dist: DistanceName, Runs: '@wrkid'==0?$('#txt_NoofRuns').val().trim():0 },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message != "" && result.Message != null) {
                            if ('@obj_Workout.STAM_WORKOUT_TITLE' != $('#txt_title').val().trim() && '@obj_Workout.STAM_WORKOUT_ID' != result.data) {
                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                return false;
                            }

                            if ('@obj_Workout.STAM_WORKOUT_TITLE' != $('#txt_title').val().trim() && '@obj_Workout.STAM_WORKOUT_ID' != 0) {
                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                return false;
                            }
                            else
                            {

                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                return false;

                            }

                        }

                        else
                            {

                            //$.ajax({
                            //    url: "/Distance/ChkDistanceName",
                            //    type: "POST",
                            //    data: { Name: DistanceName },
                            //    success: function (result1) {
                            //        if (result1.Error) {
                            //        }
                            //        else {
                            //            if (result1.Message == "" || result1.Message == null) {
                            //            }

                            //            if (result1.Message != "" && result1.Message != null) {
                            //                $('#ErrorMessageAlreadyExist').text(result.Message);
                            //                $('#ErrorMessageAlreadyExist').css("display", "block");

                            //                IsError = true;

                            //                return false;
                            //            }

                            //        }
                            //    }
                            //});



                        }
                       // alert(IsError);

                        if (IsError) {
                           // alert(IsError)
                            return false;
                        }
                        if (!IsError) {
                            var datatoPost = {
                                STAM_WORKOUT_ID: '@obj_Workout.STAM_WORKOUT_ID',
                                STAM_WORKOUT_TITLE: $('#txt_title').val().trim(),
                                STAM_WORKOUT_DISTANCEID: Number(DistanceID),
                                STAM_WORKOUT_DISTANCE: '@wrkid' == 0 ? DistanceName : "",

                                STAM_WORKOUT_RUNS: '@wrkid' == 0 ? $('#txt_NoofRuns').val().trim() : 0,
                                STAM_WORKOUT_TARGET_MM: '@wrkid' == 0 ? $('#ddmm :selected').text().trim() : "",
                                STAM_WORKOUT_TARGET_SS: '@wrkid' == 0 ? $('#ddss :selected').text().trim() : "",


                            };

                            $.ajax({
                                url: "WorkoutCreation",
                                type: "POST",
                                data: datatoPost,
                                success: function (result) {
                                    if (result.Error) {

                                    }
                                    else {
                                       // location.href = "/Workouts/CreateNewWrkoutNew?Msg=" + result.Message;
                                        if ('@Asst_c' == null || '@Asst_c' == "") {
                                            if (wrkid == 0) {

                                                location.href = "/Workouts/ManageWorkouts?Msg=" + result.Message;
                                            }
                                            else {
                                                location.href = "/CoachWorkout/NewManageCoachWorkout?Msg=" + result.Message;
                                            }
                                        }
                                        else {
                                            _addDistance(DistanceName);

                                        }
                                    }
                                },
                            });
                        }

                    }
                },
            });
        }


    }

    function _addDistance(Dist)
    {
        if ('@wrkid' == 0) {
            $.ajax({
                url: "/Distance/ChkDistanceName",
                type: "POST",
                data: { Name: Dist },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message == "" || result.Message == null) {
                            var datatoPost = {
                                STAM_DISTANCE_ID: 0,
                                STAM_DISTANCE_NAME: Dist,
                            };

                            $.ajax({
                                url: "/Distance/DistanceCreation",
                                type: "POST",
                                data: datatoPost,
                                success: function (result) {
                                    if (result.Error) {
                                    }
                                    else {
                                        if ('@wrkid' == 0) {
                                            location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=0";
                                        }
                                        else {
                                            location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=0";

                                        }
                                    }
                                }
                            });
                        }
                        else {
                            if ('@wrkid' == 0) {
                                location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=0";
                            }
                            else {
                                location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=0";
                            }
                        }
                    }
                }
            });
        }
        else
        {
            location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=0";
        }
    }

    //$('#txt_Distance').keyup(function () {
    //    var $th = $(this);
    //    $th.val().replace(/[^0-9]/g, function (str) {
    //        $('#ErrorMessageValidtext').css("display", "block");
    //        setTimeout(function () {
    //            $('#ErrorMessageValidtext').html("Please Enter Numbers Only");
    //            $('#ErrorMessageValidtext').css("display", "none");
    //        }, 3000);
    //        // return '';
    //    });
    //});

    $('#txt_NoofRuns').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^0-9]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            setTimeout(function () {
                $('#ErrorMessageValidtext').html("Please Enter Valid Text");
                $('#ErrorMessageValidtext').css("display", "none");
            }, 3000);
            return '';
        }));
    });

    @*$('#txt_title').change(function () {
        if ($('#txt_title').val().trim() != null) {
            $.ajax({
                url: "ChkWorkoutTitle",
                type: "POST",
                data: { title: $('#txt_title').val().trim() },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {
                        if ('@obj_Workout.STAM_WORKOUT_ID' != result.data) {
                        $('#ErrorMessageAlreadyExist').text(result.Message);
                        $('#ErrorMessageAlreadyExist').css("display", "block");

                        return true;
                        }
                    }
                },
            });
        }
    });*@

    function Close_on() {
        if ('@wrkid' != 0) {

            location.href = "/CoachWorkout/NewManageCoachWorkout";

        }
        else {

            if ('@Asst_c' != null && '@Asst_c' != "") {
                location.href = "/CoachWorkout/ManageCoachWorkout";
            }
            else {
                location.href = "/Workouts/ManageWorkouts";
            }
        }

    }
    $(function () {
        $('#li_Work').addClass('active')
    });

    function isNumberKey(evt) {
        
        var charCode = (evt.which) ? evt.which : evt.keyCode

        //if (charCode != 8 && charCode != 0 && (charCode < 48 || charCode > 57)) {
        //if (charCode > 31 && (charCode < 48 || charCode > 57))
      //  var ret = ((charCode >= 48 && charCode <= 57) || specialKeys.indexOf(keyCode) != -1);
        
        var keyCode = evt.which ? evt.which : evt.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
        $("#error").css("display", ret ? "none" : "block");
        return ret;
        
    }
</script>

