﻿
@using Stampade.Models;
@{
    ViewBag.Title = "Manage Workouts";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="bower_components/es6-shim/es6-shim.js"></script>

<div class="row-fluid new_topheader">
   

    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>

    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><img src="../Content/image/header_side.png" />
			<span class="break"></span>
			<span class="head_content">Manage Workouts</span>
			</h2>
        </div>
		 <div class="pull-right browse_details new_brw_det col-md-12">
			<a href="/Workouts/CreateNewWorkouts?WorkoutId=0" class="btn btn-success create_new_team">
				<span>Create New Workout</span>
			</a>
		</div>
        <div id="partialDiv">
            @Html.Action("Workouts_Table")
        </div>
    </div><!--/span-->

</div><!--/row--> 
<script>

    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
    });

    function EditWorkout(arg)
    {
        location.href = "/Workouts/CreateNewWorkouts?WorkoutId=" + arg;
    }
    function ViewWorkout(arg) {
        location.href = "/Workouts/Workout_View?WorkoutId=" + arg;
    }

    function DeleteWorkoutAction(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {
        $.ajax({
            url: "DeleteWorkout",
            type: "POST",
            data: { WorkoutId: arg },
            success: function (result) {
                if (result.Error) {
                    setTimeout(function () {
                        $('#divSuccessMessage').text(result.Message);
                        $('#divSuccessMessage').css("display", "block");
                    }, 3000);
                }
                else {
                    $('#partialDiv').load('/Workouts/Workouts_Table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
        }
    }

    function WorkoutStatusAction(arg, arg1) {
        $.ajax({
            url: "WorkoutActionUpdate",
            type: "POST",
            data: { WorkoutId: arg, status: arg1 },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#partialDiv').load('/Workouts/Workouts_Table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
    }

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {
            var searchtext = $('#txt_searchjob').val().trim();
            Validate(0, searchtext, '');
        }
    });
    $(function () {
        $('#li_Work').addClass('active')
    });

</script> 

