﻿@using Stampade.Models;
@model STAM_MA_WORKOUTS

@{
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    ViewBag.Title = "CreateNewWork";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_WORKOUTS obj_Workout = new STAM_MA_WORKOUTS();
    if (Model != null)
    {
        obj_Workout = Model;
    }
    int[] mins = Enumerable.Range(1, 60).Select(x => (int)x).ToArray();
    int[] sec = Enumerable.Range(1, 60).Select(x => (int)x).ToArray();

}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg-white bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Workout Details</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left col-md-2 control-label">Workout Title:<span style="color: red; font-size: medium;">*</span></label>
            <input id="txt_title" value='@(obj_Workout.STAM_WORKOUT_TITLE == null ? "" : obj_Workout.STAM_WORKOUT_TITLE)' disabled style="margin-left:22px;" type="text" placeholder="Workout Title" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageTitle" class="help-block1" style=" color: red;display:none;">Workout Title  is required</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span></div>

            <label class="pull-left col-md-2 control-label">Distance:<span style="color: red; font-size: medium;">*</span></label>
            @Html.Action("GetDistance", "UserControl")
            <div> <span id="ErrorMessageDistance" class="help-block1" style=" color: red;display:none;">Distance is required</span></div>


            <label class="pull-left col-md-2 control-label">No of Runs:<span style="color: red; font-size: medium;">*</span></label>
            <input id="txt_NoofRuns" value='@(Convert.ToString(obj_Workout.STAM_WORKOUT_RUNS) != "0" ? obj_Workout.STAM_WORKOUT_RUNS.ToString() : "4")' disabled style="margin-left:22px;" type="text" placeholder="No of Runs" class="form-control new_createbx" tabindex="3" required />
            <div> <span id="ErrorMessageRuns" class="help-block1" style=" color: red;display:none;">No of Runs  is required</span></div>
            <div> <span id="ErrorMessageValidtext1" class="help-block1" style="color: red;display:none;"></span></div>

            <label class="pull-left col-md-2 control-label">Target:<span style="color: red; font-size: medium;"></span></label>
            <select id="ddmm" class="form-control col-md-2" style="height:40px;" data-ng-show="partner.editMode" tabindex="4" required ng-required="positionTypeRequired">
                <option value="0">mm</option>
                @{foreach (var item in mins)
                {
                    <option value="@obj_Workout.STAM_WORKOUT_TARGET_MM" @((item == obj_Workout.STAM_WORKOUT_TARGET_MM) ? "selected=selected" : "")>@item</option>
                }
                }
            </select>

            <select id="ddss" class="form-control col-md-2" style="margin-left:26px;height:40px;" data-ng-show="partner.editMode" tabindex="5" required ng-required="positionTypeRequired">
                <option value="0">ss</option>
                @{foreach (var item in sec)
                {
                    <option value="@obj_Workout.STAM_WORKOUT_TARGET_SS" @((item == obj_Workout.STAM_WORKOUT_TARGET_SS) ? "selected=selected" : "")>@item</option>
                }
                }
            </select>

        </div>

        <div class="btm_create_team">
            <span class="btm_btns_area ">
                <input id="createworkout" type="button" tabindex="6" class="btn btn-primary" onclick="Back()" value="Back" />
            </span>
        </div>

    </div><!--/span-->

</div><!--/row-->


<script>
    $(document).ready(function () {

        if ('@obj_Workout.STAM_WORKOUT_ID' != 0) {
            $("#ddTeam option[value='0']").remove();
            $("#ddTeam").prepend('<option value=@obj_Workout.STAM_WORKOUT_ID>@obj_Workout.STAM_WORKOUT_DISTANCE</option>');
            // $("select#ddTeam").val("@obj_Workout.STAM_WORKOUT_ID");
            $("#ddTeam").attr('disabled', 'disabled');
            $('#ddTeam option').each(function () {
                if ($(this).text().trim() == '@obj_Workout.STAM_WORKOUT_DISTANCE') {
                    $(this).attr("selected", "selected");
                }
            });
        }
    });
    function Back() {
        location.href = "/Workouts/ManageWorkouts";
    }
    $(function () {
        $('#li_Work').addClass('active')
    });
</script>


