﻿@using Stampade.Models;
@model List<STAM_MA_WORKOUTS>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_WORKOUTS> obj_Workout = new List<STAM_MA_WORKOUTS>();
    if (Model != null)
    {
        obj_Workout = Model.ToList();
        obj_Workout = obj_Workout.OrderByDescending(p => p.STAM_CREATED_DATE).ToList();
    }
    var count = 1;
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Workout Title</th>
                <th>Distance</th>
                <th>No of Runs</th>
                <th>Target</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in obj_Workout)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_WORKOUT_TITLE
                        </td>
                        <td>
                            @item.STAM_WORKOUT_DISTANCE 
                        </td>
                        <td>
                            @item.STAM_WORKOUT_RUNS
                        </td>
                        <td>
                            @item.STAM_WORKOUT_TARGET_MM:@item.STAM_WORKOUT_TARGET_SS                          
                            
                        </td>
                        <td>
                            @{
                    if (item.STAM_WORKOUT_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="WorkoutStatusAction('@item.STAM_WORKOUT_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_WORKOUT_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="WorkoutStatusAction('@item.STAM_WORKOUT_ID','Active')" class="label label-important">InActive  </a>
                    }
}

                        </td>
                        <td class="bold">
                            @*<a href="#" title="View" onclick="ViewWorkout('@item.STAM_WORKOUT_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="EditWorkout('@item.STAM_WORKOUT_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="Delete" onclick="DeleteWorkoutAction('@item.STAM_WORKOUT_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                        </td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>