﻿@using Stampade.Models;
@model STAM_MA_COACH_WORKOUT

@{
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    ViewBag.Title = "CreateNewWork";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_COACH_WORKOUT obj_Workout = new STAM_MA_COACH_WORKOUT();
    if (Model != null)
    {
        obj_Workout = Model;
        obj_Workout.STAM_COACH_WORKOUT_TARGET_MM = obj_Workout.STAM_COACH_WORKOUT_TARGET_MM.Trim();
        obj_Workout.STAM_COACH_WORKOUT_TARGET_SS = obj_Workout.STAM_COACH_WORKOUT_TARGET_SS.Trim();
    }
    string[] mins = Enumerable.Range(1, 60).Select(x => x.ToString("00")).ToArray();
    string[] sec = Enumerable.Range(1, 60).Select(x => x.ToString("00")).ToArray();

}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Coach Workout Details</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left col-md-2 control-label">Workout Date:<span style="color: red; font-size: medium;">*</span></label>
            <input type="text" tabindex="1" disabled class="input-xlarge datepicker" id="date01" value="@DateTime.Now.Date.ToString(@"MM\/dd\/yyyy")" />
            <div> <span id="ErrorMessageDate" class="help-block" style=" color: red;display:none;">Workout Date  is required</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span></div>

            <label class="pull-left col-md-2 control-label">Workout Title:<span style="color: red; font-size: medium;">*</span></label>
            @Html.Action("GetWorkout", "UserControl", new { Name = (obj_Workout.STAM_COACH_WORKOUT_TITLE == null ? "" : obj_Workout.STAM_COACH_WORKOUT_TITLE) })
            <div class="icon-plus-sign">
                <a href="/Workouts/CreateNewWorkouts?WorkoutId=0&AsstCoach=Coach"><img class="icon-plus-sign" /><span>Create New Workout Title</span></a>
            </div>
            <div> <span id="ErrorMessageTitle" class="help-block1" style=" color: red;display:none;">Worksite Title  is required</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span></div>

            <label class="pull-left col-md-2 control-label">Distance:<span style="color: red; font-size: medium;">*</span></label>
            @Html.Action("GetDistance", "UserControl", new { Name = (obj_Workout.STAM_COACH_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_COACH_WORKOUT_DISTANCE) })
            <div> <span id="ErrorMessageDistance" class="help-block1" style=" color: red;display:none;">Distance is required</span></div>

            <label class="pull-left col-md-2 control-label">Runs No:<span style="color: red; font-size: medium;">*</span></label>
            <input id="txt_NoofRuns" value='@(Convert.ToString(obj_Workout.STAM_COACH_WORKOUT_RUNS) != "0" ? obj_Workout.STAM_COACH_WORKOUT_RUNS.ToString() : "")' disabled style="margin-left:22px;" type="text" placeholder="No of Runs" class="form-control new_createbx" tabindex="4" required />
            <div> <span id="ErrorMessageRuns" class="help-block1" style=" color: red;display:none;">No of Runs  is required</span></div>
            <div> <span id="ErrorMessageValidtext1" class="help-block1" style="color: red;display:none;"></span></div>

            @{
                if (Session["UserType"].ToString() == "2")
                {
                    <label class="pull-left control-label col-md-2">Group:<span style="color: red; font-size: medium">*</span></label>
                    @Html.Action("GetSingleGroup", "UserControl", new { GroupName = (obj_Workout.STAM_COACH_WORKOUT_GROUPNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_GROUPNAME) })
                    <div> <span id="ErrorMessageGroup" class="help-block1" style=" color: red;display:none;">Group Name is required</span></div>
                }
                else
                {
                    <label class="pull-left control-label col-md-2">Group:<span style="color: red; font-size: medium">*</span></label>
                    @Html.Action("GetAsstCoachGroup", "UserControl", new { GroupName = (obj_Workout.STAM_COACH_WORKOUT_GROUPNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_GROUPNAME) })
                    <div> <span id="ErrorMessageGroup" class="help-block1" style=" color: red;display:none;">Group Name is required</span></div>
                }
            }

            <label class="pull-left col-md-2 control-label">Notes:<span style="color: red; font-size: medium;"></span></label>
            <input id="txt_Notes" value='@(obj_Workout.STAM_COACH_WORKOUT_NOTES == null ? "" : obj_Workout.STAM_COACH_WORKOUT_NOTES)' disabled style="margin-left:22px;" type="text" placeholder="Workout Notes" class="form-control new_createbx" tabindex="6" required />
            <div> <span id="ErrorMessageNotes" class="help-block1" style=" color: red;display:none;">Notes is required</span></div>

            <label class="pull-left control-label col-md-2">Athlete Section:<span style="color: red; font-size: medium"></span></label>
            <input id="txt_AthSec" value='@(obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME)' style="margin-left:22px;" disabled type="text" placeholder="Athlete Section" class="form-control new_createbx" tabindex="7" required />
            @*@Html.Action("GetAthleteSection", "UserControl", new { Name = (obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME) })*@
            <div> <span id="ErrorMessageAthlete" class="help-block" style=" color: red;display:none;">Athlete Name is required</span></div>


            <label class="pull-left col-md-2 control-label">Target:<span style="color: red; font-size: medium;"></span></label>
            <select id="ddmm" class="form-control col-md-2" style="height:40px;" data-ng-show="partner.editMode" tabindex="8" disabled required ng-required="positionTypeRequired">
                <option value="0">mm</option>
                @{foreach (var item in mins)
                {
                    <option value="@obj_Workout.STAM_COACH_WORKOUT_TARGET_MM" @((item == obj_Workout.STAM_COACH_WORKOUT_TARGET_MM) ? "selected=selected" : "")>@item</option>
                }
                }
            </select>

            <select id="ddss" class="form-control col-md-2" style="margin-left:26px;height:40px;" data-ng-show="partner.editMode" tabindex="9" disabled required ng-required="positionTypeRequired">
                <option value="0">ss</option>
                @{foreach (var item in sec)
                {
                    <option value="@obj_Workout.STAM_COACH_WORKOUT_TARGET_SS" @((item == obj_Workout.STAM_COACH_WORKOUT_TARGET_SS) ? "selected=selected" : "")>@item</option>
                }
                }
            </select>

            <input type="hidden" id="hd_AthID" />
        </div>


        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn" value="Cancel" tabindex="7" onclick="Back()" />
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->

    <script>
        $(document).ready(function () {           
            setTimeout(function () {
                $("#ddWork").attr('disabled', 'disabled');
                $("#ddSingleGroup").attr('disabled', 'disabled');
                $("#ddDist").attr('disabled', 'disabled');
                $("#ddAthSec").attr('disabled', 'disabled');
            }, 2000);

          
        });
        function Back() {
            location.href = "/CoachWorkout/ManageCoachWorkout";
        }
        $(function () {
            $('#li_CoachWork').addClass('active')
        });
    </script>


