﻿@using Stampade.Models;
@model List<STAM_MA_COACH_WORKOUT>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_COACH_WORKOUT> obj_Workout = new List<STAM_MA_COACH_WORKOUT>();
    if (Model != null)
    {
        obj_Workout = Model.ToList();
        obj_Workout = obj_Workout.OrderByDescending(p=>p.STAM_CREATED_DATE).ToList();
    }
    var count = 1;
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Workout Date</th>
                <th>Workout Title</th>
                <th>Group</th>
                <th>Distance</th>
                <th>No of Runs</th>
                <th>Target</th>
                @*<th>Section</th>*@
                @{
                    if (Session["UserType"].ToString() != "4")
                    {
                <th>Status</th>
                <th>Action</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                //string[] s={"1"};
                foreach (var item in obj_Workout)
                {
                   // var _temp=item.STAM_COACH_WORKOUT_ATHSECNAME != null ? item.STAM_COACH_WORKOUT_ATHSECNAME.Split(','): s;
                    //foreach (var item1 in _temp)
                    //{
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_COACH_WORKOUT_DATE.ToString(@"MM\/dd\/yyyy")
                        </td>
                        <td>
                            @item.STAM_COACH_WORKOUT_TITLE
                        </td>
                        <td>
                            @item.STAM_COACH_WORKOUT_GROUPNAME
                        </td>
                        <td>
                            @item.STAM_COACH_WORKOUT_DISTANCE 
                        </td>
                        <td>
                            @item.STAM_COACH_WORKOUT_RUNS
                        </td>
                        <td>
                            @item.STAM_COACH_WORKOUT_TARGET_MM:@item.STAM_COACH_WORKOUT_TARGET_SS                            
                        </td>
                        @*<td>
                              @{
                                  if (item1 != "1")
                                  {
                                      @item1
                                  }
                              }            
                        </td>*@
                    @{
                        if (Session["UserType"].ToString() != "4")
                    {
                     <td>
                   @{
                    if (item.STAM_COACH_WORKOUT_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="CoachWorkoutStatusAction('@item.STAM_COACH_WORKOUT_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_COACH_WORKOUT_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="CoachWorkoutStatusAction('@item.STAM_COACH_WORKOUT_ID','Active')" class="label label-important">InActive  </a>
                    }}
                        
                        </td>
                        <td class="bold">
                            @*<a href="#" title="View" onclick="ViewCoachWorkout('@item.STAM_COACH_WORKOUT_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="EditCoachWorkout('@item.STAM_COACH_WORKOUT_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="CopyEdit" onclick="CopyEditCoachWorkAction('@item.STAM_COACH_WORKOUT_ID')" class="btn btn-warning"><i class="icon-copy "></i></a>
                            <a href="#" title="Delete" onclick="DeleteCoachWorkoutAction('@item.STAM_COACH_WORKOUT_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                        </td>
                    }
                    }
                    
                    

                    </tr>
                    count = count + 1;
                }
             // }  
                }       
        </tbody>
    </table>
</div>