﻿@using Stampade.Models;
@model STAM_MA_COACH_WORKOUT
@{
        
        if (Session["USERS_ID"] == null)
        {
            Response.Redirect("~/Account/Login");
        }
        if (Session["UserType"].ToString() == "2")
        {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
        }
        ViewBag.Title = "CreateNewWork";
       
        STAM_MA_COACH_WORKOUT obj_Workout = new STAM_MA_COACH_WORKOUT();        
        if (Model != null)
        {
            obj_Workout = Model;
            obj_Workout.STAM_COACH_WORKOUT_TARGET_MM = obj_Workout.STAM_COACH_WORKOUT_TARGET_MM.Trim();
            obj_Workout.STAM_COACH_WORKOUT_TARGET_SS = obj_Workout.STAM_COACH_WORKOUT_TARGET_SS.Trim();
        }
        string[] mins = Enumerable.Range(0, 60).Select(x => x.ToString("00")).ToArray();
        string[] sec = Enumerable.Range(0, 59).Select(x => x.ToString("00")).ToArray();

        string copyEdit = ViewData["CopyEdit"] != null ? ViewData["CopyEdit"].ToString() : "";

        if (copyEdit != null && copyEdit != "")
        {
            obj_Workout.STAM_COACH_WORKOUT_ID = 0;
        }
        long UserID = 0;
        long.TryParse(Session["USERS_ID"].ToString(), out UserID);
        
    }
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_Workout.STAM_COACH_WORKOUT_ID == 0 ? "Create New Workout" : "Update Workout")</span></h2>
        </div>
        <div class="col-sm-12 p-44 nopadding create_name">
			<div class="col-md-9">
				<label class="pull-left col-md-3 control-label">
					Workout Date:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				<input type="text" tabindex="1" class="input-xlarge datepicker" id="date01" value='@(obj_Workout.STAM_COACH_WORKOUT_DATE == DateTime.MinValue ? DateTime.Now.Date.ToString(@"MM\/dd\/yyyy") : Convert.ToDateTime(obj_Workout.STAM_COACH_WORKOUT_DATE).ToString(@"MM\/dd\/yyyy"))' onchange="hide()" required />
				<div style="float: left; width: 100%; margin-left: 20px;"> 
					<span id="ErrorMessageDate" class="help-block" style=" color: red;display:none;">
						Workout Date  is required
					</span>
				</div>
				<div> 
					<span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span>
				</div>
			</div>
			<div class="col-md-12 pull-left">
				<label class="pull-left col-md-2 control-label" style="width: 18.667%;float:left;">
					Workout Title:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				@Html.Action("GetWorkout", "UserControl", new { Name = (obj_Workout.STAM_COACH_WORKOUT_TITLE == null ? "" : obj_Workout.STAM_COACH_WORKOUT_TITLE) })
				@*<input id="txt_WorkOutTitle" value='@(obj_Workout.STAM_COACH_WORKOUT_TITLE == "" ?"": obj_Workout.STAM_COACH_WORKOUT_TITLE)'  style="margin-left:22px;" type="text" placeholder="Workout Title" class="form-control new_createbx" tabindex="4" required />*@
				<div class="icon-plus-sign col-md-7 text-center" style="margin-bottom: 10px; position: relative; left: -15px;">
					<a href="/Workouts/CreateNewWorkouts?WorkoutId=0&AsstCoach=Coach">
						<img class="icon-plus-sign" />
						<span class="crt_wrk_tit">Create New Workout Title</span>
					</a>
				</div>
				<div style="float: left; width: 100%; margin-left: 20px;"> 
					<span id="ErrorMessageTitle" class="help-block1" style=" color: red;display:none;">
						Worksite Title  is required
					</span>
				</div>
				<div> 
					<span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span>
				</div>
			</div>
			<div class="col-md-9">
				<label class="pull-left col-md-3 control-label">
					Distance:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				@Html.Action("GetDistance", "UserControl", new { Name = (obj_Workout.STAM_COACH_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_COACH_WORKOUT_DISTANCE) })
				<div style="float: left; width: 100%; margin-left:146px;"> 
					<span id="ErrorMessageDistance" class="help-block1" style=" color: red;display:none;">Distance is required</span>
				</div> 
			</div> 
			<div class="col-md-9">
				<label class="pull-left col-md-3 control-label">
					Runs No:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				<input id="txt_NoofRuns" value='@(Convert.ToString(obj_Workout.STAM_COACH_WORKOUT_RUNS) != "0" ? obj_Workout.STAM_COACH_WORKOUT_RUNS.ToString() : "4")' disabled style="margin-left:22px;" type="text" placeholder="No of Runs" class="form-control new_createbx" tabindex="4" required />
				<div> 
					<span id="ErrorMessageRuns" class="help-block1" style=" color: red;display:none;">No of Runs  is required</span>
				</div>
				<div>
					<span id="ErrorMessageValidtext1" class="help-block1" style="color: red;display:none;"></span>
				</div>          
			</div>  
			<div class="col-md-9">
				@{
				if (Session["UserType"].ToString() == "2")
				{
				<label class="pull-left control-label col-md-3">
					Group:
					<span style="color: red; font-size: medium">*</span>
				</label>
				@Html.Action("GetSingleGroup", "UserControl",  new {GroupName = (obj_Workout.STAM_COACH_WORKOUT_GROUPNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_GROUPNAME) })
				<div style="float: left; width: 100%; margin-left: 146px;"> 
					<span id="ErrorMessageGroup" class="help-block1" style=" color: red;display:none;">
						Group Name is required
					</span>
				</div>
				}
				else
				{
				<label class="pull-left control-label col-md-3">
					Group:
					<span style="color: red; font-size: medium">*</span>
				</label>
				@Html.Action("GetAsstCoachGroup", "UserControl", new {GroupName = (obj_Workout.STAM_COACH_WORKOUT_GROUPNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_GROUPNAME) })
				<div style="float: left; width: 100%; margin-left: 146px;">  
					<span id="ErrorMessageGroup" class="help-block1" style=" color: red;display:none;">
					Group Name is required
					</span>
				</div>
				}
				}
			</div>
			<div class="col-md-9">
				<label class="pull-left col-md-3 control-label">
					Notes:
					<span style="color: red; font-size: medium;"></span>
				</label>
                <input id="txt_Notes" maxlength="150" value='@(obj_Workout.STAM_COACH_WORKOUT_NOTES == null ? "" : obj_Workout.STAM_COACH_WORKOUT_NOTES)' style="margin-left:22px;" type="text" placeholder="Workout Notes" class="form-control new_createbx" tabindex="6" required />
				<div style="float: left; width: 100%; margin-left: 20px;">
					<span id="ErrorMessageNotes" class="help-block1" style=" color: red;display:none;">
						Notes is required
					</span>
				</div>
			</div>
			<div class="col-md-9">
			<label style="display:none" class="pull-left control-label col-md-3">Athlete Section:<span style="color: red; font-size: medium"></span></label>
			<input style="display:none" id="txt_AthSec" value='@(obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME)' style="margin-left:22px;" disabled type="text" placeholder="Athlete Section" class="form-control new_createbx" tabindex="7" required />
			@*@Html.Action("GetAthleteSection", "UserControl", new { Name = (obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME == null ? "" : obj_Workout.STAM_COACH_WORKOUT_ATHSECNAME) })*@
			<div> <span id="ErrorMessageAthlete" class="help-block" style=" color: red;display:none;">Athlete Name is required</span></div>


			<label class="pull-left col-md-3 control-label">Target:<span style="color: red; font-size: medium;"></span></label>
			<select id="ddmm" class="form-control col-md-2" style="height:40px;width: 22.3%;float:left;" data-ng-show="partner.editMode" tabindex="8" required ng-required="positionTypeRequired">
			<option value="">mm</option>
			@{foreach (var item in mins)
			{
			<option value="@obj_Workout.STAM_COACH_WORKOUT_TARGET_MM" @((item == obj_Workout.STAM_COACH_WORKOUT_TARGET_MM) ? "selected=selected" : "")>@item</option>
			}
			}
			</select>

			<select id="ddss" class="form-control" style="margin-left:26px;height:40px;width: 22.3%;float:left;" data-ng-show="partner.editMode" tabindex="9" required ng-required="positionTypeRequired">
			<option value="">ss</option>
			@{foreach (var item in sec)
			{
			<option value="@obj_Workout.STAM_COACH_WORKOUT_TARGET_SS" @((item == obj_Workout.STAM_COACH_WORKOUT_TARGET_SS) ? "selected=selected" : "")>@item</option>
			}
			}
			</select>

			<input type="hidden" id="hd_AthID" />
        </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn btn-primary mr10" onclick="CreateCoachWorkout()" tabindex="10" value='@(obj_Workout.STAM_COACH_WORKOUT_ID == 0 ? "Create" : "Update")' style="width: auto;" />
                <input type="button" class="btn" value="Cancel" tabindex="11" onclick="Close_on()"  style="width: auto;" />
            </span>
        </div>

    </div><!--/span-->
</div><!--/row-->
  
<script>

    $('.datepicker').datepicker();

    $('.datepicker').on('changeDate', function (ev) {
        $(this).datepicker('hide');
    });
    function hide()
    {
        $('#ErrorMessageAlreadyExist').hide();
    }

    $(document).ready(function () {
        $("#ddWork").attr("tabindex", "2");
        $("#ddSingleGroup").attr("tabindex", "5");
    });
    function CreateCoachWorkout() {
        var IsError = false;

        if ($('#ddWork').val().trim() == "" || $('#ddWork').val().trim() == "0") {
            IsError = true;
            $('#ErrorMessageTitle').css("display", "block");
        }
        else {
            $('#ErrorMessageTitle').css("display", "none");
        }

        var objdistance = "";
        var objdistanceID = "";
        if ($('#ddDist').val().trim() == "" || $('#ddDist').val().trim() == "0") {
            IsError = true;
            $('#ErrorMessageDistance').css("display", "block");
        }
        else {
            $('#ErrorMessageDistance').css("display", "none");
            objdistance = $('#ddDist :selected').text().trim();
            objdistanceID = $('#ddDist :selected').val().trim();
        }


        if ($('#txt_NoofRuns').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageRuns').css("display", "block");
        }
        else {
            $('#ErrorMessageRuns').css("display", "none");
        }

        if ($('#ddSingleGroup :selected').val() == "0") {
            IsError = true;
            $('#ErrorMessageGroup').css("display", "block");
        }
        else {
            $('#ErrorMessageGroup').css("display", "none");
        }

        var mm = '';
        var ss = '';
        if ($('#ddmm :selected').text() == "mm") {           
            mm = '00';
        }
        else {
            mm = $('#ddmm :selected').text().trim()
        }

        if ($('#ddss :selected').text() == "ss") {
            ss = '00';
        }
        else {
            ss = $('#ddss :selected').text().trim()
        }


        var athWorkout = "";
        var athWorkoutID = "";

        var copy = false;

        if ('@copyEdit' != null && '@copyEdit' != "") {
            copy = true;
        }


        var dateTypeVar = $('#date01').datepicker('getDate');
        $.datepicker.formatDate('mm/dd/yy', dateTypeVar);
       
        @*if ($.datepicker.formatDate('dd/mm/yy', dateTypeVar) != null) {
            $.ajax({
                url: "/Account/ChkWorkoutDate",
                type: "POST",
                data: { WorkoutDate: $.datepicker.formatDate('dd/mm/yy', dateTypeVar) },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {
                        if (result.Message != "" && result.Message != null) {

                            if ('@obj_Workout.STAM_COACH_WORKOUT_ID' != result.data) {
                                $('#ErrorMessageAlreadyExist').text(result.Message);
                                $('#ErrorMessageAlreadyExist').css("display", "block");
                                IsError = true;
                                return false;
                            }
                        }
                        if (IsError) {
                            return false;
                        }

                    }
                },
            });
        }*@



        if ($('#ddWork :selected').text().trim() != null) {
            $.ajax({
                url: "ChkCoachWorkoutTitle",
                type: "POST",
                data: { Name: $('#ddWork :selected').text().trim(), GroupName: $('#ddSingleGroup :selected').text().trim(), Distance: objdistance, Runs: $('#txt_NoofRuns').val().trim(), _date: $.datepicker.formatDate('mm/dd/yy', dateTypeVar), Copy: copy, Userid: '@UserID' },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {
                        if (result.Message != "" && result.Message != null && '@obj_Workout.STAM_COACH_WORKOUT_ID' != result.data) {

                            $('#ErrorMessageAlreadyExist').text(result.Message);
                            $('#ErrorMessageAlreadyExist').css("display", "block");
                            return false;

                        }
                        else {
                            if (IsError) {
                                return false;
                            }
                            var datatoPost = {
                                STAM_COACH_WORKOUT_ID: '@obj_Workout.STAM_COACH_WORKOUT_ID',
                                WorkoutDate: $.datepicker.formatDate('mm/dd/yy', dateTypeVar),
                                STAM_COACH_WORKOUT_TITLE: $('#ddWork :selected').text().trim(),
                                STAM_COACH_WORKOUT_DISTANCE: objdistance,
                                STAM_COACH_WORKOUT_RUNS: $('#txt_NoofRuns').val().trim(),
                                STAM_COACH_WORKOUT_TARGET_MM: mm,
                                STAM_COACH_WORKOUT_TARGET_SS: ss,
                                STAM_COACH_WORKOUT_GROUPID: $('#ddSingleGroup :selected').val().trim(),
                                STAM_COACH_WORKOUT_GROUPNAME: $('#ddSingleGroup :selected').text().trim(),
                                STAM_COACH_WORKOUT_NOTES: $('#txt_Notes').val().trim(),
                                STAM_COACH_WORKOUT_ATHSECID: $('#hd_AthID').val().trim(),
                                STAM_COACH_WORKOUT_ATHSECNAME: $('#txt_AthSec').val().trim(),
                            };

                            $.ajax({
                                url: "CoachWorkoutCreation",
                                type: "POST",
                                data: datatoPost,
                                success: function (result) {
                                    if (result.Error) {

                                    }
                                    else {
                                        _addworkout($('#ddWork :selected').text().trim(), objdistanceID, objdistance, $('#txt_NoofRuns').val().trim(), mm, ss, result.Message);
                                        //  location.href = "/CoachWorkout/ManageCoachWorkout?Msg=" + result.Message;
                                    }
                                },
                            });
                        }
                    }
                },
            });
        }
    }

    function _addworkout(workTitle, DistID, Dist, Runs, MM, SS, Msg) {

        $.ajax({
            url: "/Workouts/ChkWorkoutTitle",
            type: "POST",
            data: { title: workTitle, Dist: Dist, Runs: Runs },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    if (result.Message == "") {
                        var datatoPost = {
                            STAM_WORKOUT_ID: '0',
                            STAM_WORKOUT_TITLE: workTitle,
                            STAM_WORKOUT_DISTANCEID: DistID,
                            STAM_WORKOUT_DISTANCE: Dist,
                            STAM_WORKOUT_RUNS: Runs,
                            STAM_WORKOUT_TARGET_MM: MM,
                            STAM_WORKOUT_TARGET_SS: SS,
                        };

                        $.ajax({
                            url: "/Workouts/WorkoutCreation",
                            type: "POST",
                            data: datatoPost,
                            success: function (result) {
                                if (result.Error) {
                                }
                                else {
                                    location.href = "/CoachWorkout/ManageCoachWorkout?Msg=" + result.Message;
                                }
                            },
                        });
                    }
                    else {
                        location.href = "/CoachWorkout/ManageCoachWorkout?Msg=" + Msg;
                    }
                }
            }
        });
    }

    function chg_Workout() {
        var res = [];
        res = $('#ddWork :selected').val().split(",");

        $('#txt_NoofRuns').val(res[0]);

        $('#ddDist option').each(function () {
            if ($(this).text().trim() == res[1]) {
                $(this).attr("selected", "selected");
            }
        });

        $('#ddmm option').each(function () {
            var j = Number(res[3]);
            if ($(this).text().trim() == j) {
                $(this).attr("selected", "selected");
            }
            if (j == 0) {
                $('#ddmm').get(0).selectedIndex = 0;
            }
        });
        $('#ddss option').each(function () {
            var i = Number(res[4]);
            if ($(this).text().trim() == i) {
                $(this).attr("selected", "selected");
            }
            if (i == 0) {
                $('#ddss').get(0).selectedIndex = 0;
            }
        });

        if ($('#ddWork :selected').val() == "0") {
            $('#txt_NoofRuns').val("");
            $('#txt_Distance').val("");
            $('#ddmm').get(0).selectedIndex = 0;
            $('#ddss').get(0).selectedIndex = 0;
        }
    }


    $('#txt_NoofRuns').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^0-9]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            setTimeout(function () {
                $('#ErrorMessageValidtext').html("Please Enter Valid Text");
                $('#ErrorMessageValidtext').css("display", "none");
            }, 3000);
            return '';
        }));
    });



    function Chg_group() {
        $('#ErrorMessageAlreadyExist').hide();
        $.ajax({
            url: "/CoachWorkout/GetAthleteSectionList",
            type: "POST",
            data: { Name: $('#ddlSingleGroup :selected').text().trim(), grpId: encodeURIComponent($('#ddlSingleGroup :selected').val().trim()) },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#txt_AthSec').val(result.AthName);
                    $('#hd_AthID').val(result.AthID);
                }
            },
        });
    }

    function Close_on() {
        location.href = "/CoachWorkout/ManageCoachWorkout";
    }
    $(function () {
        $('#li_CoachWork').addClass('active')
    });
</script>
