﻿@using Stampade.Models;
@model TR_WORKOUTS
@{
        
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    if (Session["UserType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";
    }
        ViewBag.Title = "CreateNewWork";

        TR_WORKOUTS obj_Workout = new TR_WORKOUTS();        
        if (Model != null)
        {
            obj_Workout = Model;
          //  obj_Workout.STAM_COACH_WORKOUT_TARGET_MM = obj_Workout.STAM_COACH_WORKOUT_TARGET_MM.Trim();
            //obj_Workout.STAM_COACH_WORKOUT_TARGET_SS = obj_Workout.STAM_COACH_WORKOUT_TARGET_SS.Trim();
        }
        string[] mins = Enumerable.Range(0, 60).Select(x => x.ToString("00")).ToArray();
        string[] sec = Enumerable.Range(0, 59).Select(x => x.ToString("00")).ToArray();

        string copyEdit = ViewData["CopyEdit"] != null ? ViewData["CopyEdit"].ToString() : "";
        long wrkcpyid = 0;
        
        if (copyEdit != null && copyEdit != "")
        {
            wrkcpyid = obj_Workout.STAM_WORKOUT_ID;
            obj_Workout.STAM_WORKOUT_ID = 0;
        }
        long UserID = 0;
        long.TryParse(Session["USERS_ID"].ToString(), out UserID);
    
        
        int i1=0;
        int j1=0;
    }
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<style>
.col-md-12{
	float:left;
	width:100%;
}
.btm_btns_area {
    float: right;
    padding: 18px;
    width: 78%;
}
.new_coach_wrknew select#ddType{
	width:48% !important;
}
  .ui-datepicker-prev span {
    background-image: url(http://legacy.australianetwork.com/img/icon_arrow_left_black.png) !important;
        background-position: -6px -2px !important;
}

    .ui-datepicker-next span {
        background-image: url(http://legacy.australianetwork.com/img/icon_arrow_right_black.png) !important;
        background-position: -7px -2px !important;
    }
.create_name input.datepicker  {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    height: 33px;
    margin-left: 0 !important;
    width: 358px;
	margin-bottom:10px;
	
}

</style>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_Workout.STAM_WORKOUT_ID == 0 ? "Create New Workout" : "Update Workout")</span></h2>
        </div>
        <div class="col-sm-12 p-44 nopadding create_name new_coach_wrknew" >
			<div class="col-md-9">
				<label class="pull-left col-md-4 control-label">
					Workout Date:
					<span style="color: red; font-size: medium;">*</span>
				</label>
                <input tabindex="1" readonly style="cursor:pointer;" class="input-xlarge datepicker" id="date01" value='@(obj_Workout.STAM_WORKOUT_DATE == DateTime.MinValue || obj_Workout.STAM_WORKOUT_DATE == null ? DateTime.Now.Date.ToString(@"MM/dd/yyyy") : Convert.ToDateTime(obj_Workout.STAM_WORKOUT_DATE).ToString(@"MM/dd/yyyy"))' onchange='hide()' required />
				<div style="float: left; width: 100%; margin-left: 208px;"> 
					<span id="ErrorMessageDate" class="help-block" style=" color: red;display:none;">
						Workout Date  is required
					</span>
				</div>
			</div>
			<div class="col-md-12">
				<label class="pull-left col-md-3 control-label">
					Workout Title:
					<span style="color: red; font-size: medium;">*</span>
				</label>
				@Html.Action("GetWorkout", "UserControl", new { Name = (obj_Workout.STAM_WORKOUT_TITLE == null ? "" : obj_Workout.STAM_WORKOUT_TITLE) })
				@*<input id="txt_WorkOutTitle" value='@(obj_Workout.STAM_COACH_WORKOUT_TITLE == "" ?"": obj_Workout.STAM_COACH_WORKOUT_TITLE)'  style="margin-left:22px;" type="text" placeholder="Workout Title" class="form-control new_createbx" tabindex="4" required />*@
				<div class="icon-plus-sign col-md-8 text-center"  style="margin-bottom: 10px;">
                    <a href="/Workouts/CreateNewWorkouts?WorkoutId=0&AsstCoach=Coach&flag=true"><img class="icon-plus-sign" /><span class="crt_wrk_tit">Create New Workout Title</span></a>
				</div>
				<div style="float: left; width: 100%; margin-left: 81px;">
					<span id="ErrorMessageTitle" class="help-block1" style=" color: red;display:none;">Worksite Title  is required</span>
				</div>
				
			</div>
			
			<div class="col-md-9">
				<label class="pull-left col-md-4 control-label">Type:<span style="font-size: medium;"></span></label>
				<select id="ddType" class="form-control" style="height: 40px; width: 53%;float:left;" tabindex="8"  onchange="chg_wrkout()">
						<option value="" @((obj_Workout.STAM_WORKOUT_TYPE == "Repeats") ? "selected=selected" : "")>Repeats</option>

						<option value="" @((obj_Workout.STAM_WORKOUT_TYPE == "Mixed") ? "selected=selected" : "")>Mixed</option>

						@*@{foreach (var item in mins)
						{
							<option value="@obj_Workout.STAM_COACH_WORKOUT_TARGET_MM" @((item == obj_Workout.STAM_COACH_WORKOUT_TARGET_MM) ? "selected=selected" : "")>@item</option>
						}
						}*@
				</select>
			</div>
            <div class="col-md-9">
                @{
                    if (Session["UserType"].ToString() == "2")
                    {
                        <label class="pull-left control-label col-md-4">
                            Group:
                            <span style="color: red; font-size: medium">*</span>
                        </label>
                        <div class="col-md-8">
                            @Html.Action("GetSingleGroup", "UserControl", new { GroupName = (obj_Workout.STAM_WORKOUT_GROUP == null ? "" : obj_Workout.STAM_WORKOUT_GROUP) })
                    </div>
                    <div style="float: left; width: 100%; margin-left: 208px;">
                        <span id="ErrorMessageGroup" class="help-block1" style=" color: red;display:none;">
                            Group Name is required
                        </span>
                    </div>
                    }
                    else
                    {
                        <label class="pull-left control-label col-md-4">
                            Group:
                            <span style="color: red; font-size: medium">*</span>
                        </label>
                        <div class="col-md-8">
                            @Html.Action("GetAsstCoachGroup", "UserControl", new { GroupName = (obj_Workout.STAM_WORKOUT_GROUP == null ? "" : obj_Workout.STAM_WORKOUT_GROUP) })
                    </div><div style="float: left; width: 100%; margin-left: 208px;">
                        <span id="ErrorMessageGroup" class="help-block1" style=" color: red;display:none;">
                            Group Name is required
                        </span>
                    </div>
                    }
                }
                <div style="float: right;width: 67%;">
                    <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span>
                </div>
            </div>
			<div class="col-md-9">
					<label class="pull-left col-md-4 control-label">
						No of Runs:
						<span style="color: red; font-size: medium;">*</span>
					</label>
					<input id="txt_NoofRuns" value='@(obj_Workout.STAM_WORKOUT_RUNS == null ? 0 : obj_Workout.STAM_WORKOUT_RUNS)' style="margin-left:22px;" type="text" placeholder="No of Runs" class="form-control new_createbx" onkeyup="isNumberKey()" tabindex="5" required />
					<div style="float: left; width: 100%; margin-left: 208px;"> 
						<span id="ErrorMessageRuns" class="help-block1" style=" color: red;display:none;">
							No of Runs  is required
						</span>
					</div>
					<div style="float: left; width: 100%; margin-left: 208px;"> 
						<span id="ErrorMessageRunslimit" class="help-block1" style=" color: red;display:none;">
							No of Runs  with in 15
						</span>
					</div>
				
				<div> 
					<span id="ErrorMessageValidtext1" class="help-block1" style="color: red;display:none;"></span>
				</div>
			</div>			
		<div class="col-md-9" style="clear:both;">			
		 @*// 	@if (obj_Workout.STAM_WORKOUT_TYPE != "Mixed") { 
            <label class="pull-left col-md-4 control-label" id="lbldist">
				Distance:
				<span style="color: red; font-size: medium;">*</span>
			</label>
			@Html.Action("GetDistance", "UserControl", new { Name = (obj_Workout.STAM_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_WORKOUT_DISTANCE) })
            }*@
			<div id="distance" style="display:block;">
                <label class=" pull-left col-md-4 control-label" id="lbldist">
                Distance:<span style="color: red; font-size: medium;">*</span>
				</label>
				@Html.Action("GetDistance", "UserControl", new { Name = (obj_Workout.STAM_WORKOUT_DISTANCE == null ? "" : obj_Workout.STAM_WORKOUT_DISTANCE) })
                <div style="float: left; width: 100%; margin-left: 208px;"> <span id="ErrorMessageDistance" class="help-block1" style=" color: red;display:none;">Distance is required</span></div>
            </div>
			<input type="hidden" id="hd_AthID" />
        </div>
		<div class="col-md-9">
				<label class="pull-left col-md-4 control-label">
					Notes:<span style="color: red; font-size: medium;"></span>
				</label>
            <input id="txt_Notes" maxlength="150" value='@(obj_Workout.STAM_WORKOUT_NOTES == null ? "" : obj_Workout.STAM_WORKOUT_NOTES)' style="margin-left:22px;" type="text" placeholder="Workout Notes" class="form-control new_createbx" tabindex="7" required />
				<div style="float: left; width: 100%; margin-left: 208px;"> 
					<span id="ErrorMessageNotes" class="help-block1" style=" color: red;display:none;">Notes is required</span>
				</div>
			</div>
		
		
		<div id="loadimg" style="display:none;text-align: center;width:100%;float:left;">
		
            <img src="~/Content/Image/loadding.gif" />
        </div>
        <div class="create_team" style=" margin-left: 0;
    margin-top: 10px;
    width: 91%;background:#ffffff;border-top:0px;">
            <span class="btm_btns_area" style="padding:0px;width: 78%;">
				<input type="button" class="btn btn-primary mr10" onclick="BuildWorkOut()" tabindex="8" value= "Build Workout" style="width: auto; margin-left: 10px ! important;float:left" />
                @if (obj_Workout.STAM_WORKOUT_ID == 0) {
                    if(wrkcpyid==0)
                    { 
                <input type="button" class="btn btn-danger mr10" style="width:auto;float:left;" value="Reset"  id="resetwrk" tabindex="8" onclick="ResetWorkout()"/>
                }
                
                }
                
				
                @*<input type="button" class="btn" value="Cancel" tabindex="11" onclick="Close_on()" />*@
            </span>
        </div>
        <div id="div_DynamicWorkout">
           @*{Html.RenderAction("SectionGrid", "UserControl", new  {GroupID=$('#ddSingleGroup :selected').val().trim(), Runs = 1, Distance = 200 });}*@
        </div>
			<div class="col-md-12 pull-left" style="margin-top: 10px; margin-bottom: 10px;">
				<input type="button" id="Savebtn" style="display:none;width:auto; float: left;"class="btn btn-success mr10" onclick="SaveWorkout()"  value='@(obj_Workout.STAM_WORKOUT_ID == 0 ? "Save" : "Update")' />
				<input type="button" id="updatebtn" style="display:none;width:auto;float:left;" class="btn btn-primary mr10" onclick="UpdateWorkout()"  value= "Update") />
                <input type="button" id="cancelwrk" class="btn btn-danger mr10" style="width:auto;float:right;display:none;" value="Cancel" onclick="CancelWorkout()" />
			</div>
		</div>
        
    </div><!--/span-->
</div><!--/row-->
    <input type="hidden" id="grupid" />
<script>

    function hide() {
        $('#ErrorMessageAlreadyExist').hide();

    }

    $(document).ready(function () {




        if('@obj_Workout.STAM_WORKOUT_TYPE' == "Repeats"||'@obj_Workout.STAM_WORKOUT_ID'==0)
        {
            $("#distance").css("display","block");
        }else{
            $("#distance").css("display","none");
        }
        $("#ddWork").attr("tabindex", "2");
        $("#ddType").attr("tabindex", "3");
        $("#ddSingleGroup").attr("tabindex", "4");
        $("#ddDist").attr("tabindex", "6");



        if ('@obj_Workout.STAM_WORKOUT_ID' != 0) {
            $('#loadimg').css("display", "block");
            $('#cancelwrk').css('display', 'block');
            $("#updatebtn").css("display", "block");
            if ('@obj_Workout.STAM_WORKOUT_TYPE' == "Repeats") {
                $("#distance").css("display", "block");
            } else {
                $("#distance").css("display", "none");
            }
			 
            $('#div_DynamicWorkout').load('/UserControl/SectionGrid', { GroupID: '@obj_Workout.STAM_WORKOUT_GROUPID', Runs: '@obj_Workout.STAM_WORKOUT_RUNS', Distance: '@obj_Workout.STAM_WORKOUT_DISTANCE', WorokoutID: '@obj_Workout.STAM_WORKOUT_ID' });
			$('#grupid').val('@obj_Workout.STAM_WORKOUT_GROUPID');
            setTimeout(function () {
                //  Validate(0, '', $.cookie("Cities"));
                $('#loadimg').css("display", "none");
            }, 2000);

        }


        if ('@wrkcpyid' != 0) {

            if ('@obj_Workout.STAM_WORKOUT_TYPE' == "Repeats") {
                $("#distance").css("display", "block");
            } else {
                $("#distance").css("display", "none");
            }
            $("#Savebtn").css("display", "block");
            $('#cancelwrk').css('display', 'block');

            $('#div_DynamicWorkout').load('/UserControl/SectionGrid', { GroupID: '@obj_Workout.STAM_WORKOUT_GROUPID', Runs: '@obj_Workout.STAM_WORKOUT_RUNS', Distance: '@obj_Workout.STAM_WORKOUT_DISTANCE', WorokoutID: '@wrkcpyid' });
$('#grupid').val('@obj_Workout.STAM_WORKOUT_GROUPID');

        }

    });


    function chg_Workout() {
	//alert();
	 var res = [];
        res = $('#ddWork :selected').val().split(",");
       // alert(res);
      //  $('#txt_NoofRuns').val(res[0]);

        $('#ddDist option').each(function () {
            if ($(this).text().trim() == res[1]) {
                $(this).attr("selected", "selected");
            }
        });

        if ($('#ddWork :selected').val() == "0") {
            //$('#txt_NoofRuns').val("");
            //$('#txt_Distance').val("");
            //$('#ddmm').get(0).selectedIndex = 0;
            // $('#ddss').get(0).selectedIndex = 0;
        }


    }


    $('#txt_NoofRuns').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^0-9]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            setTimeout(function () {
                $('#ErrorMessageValidtext').html("Please Enter Valid Text");
                $('#ErrorMessageValidtext').css("display", "none");
            }, 3000);
            return '';
        }));
    });



    function Chg_group() {
        $('#ErrorMessageAlreadyExist').hide();
        $.ajax({
            url: "/CoachWorkout/GetAthleteSectionList",
            type: "POST",
            data: { Name: $('#ddlSingleGroup :selected').text().trim(), grpId: encodeURIComponent($('#ddlSingleGroup :selected').val().trim()) },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#txt_AthSec').val(result.AthName);
                    $('#hd_AthID').val(result.AthID);
                }
            },
        });
    }

    function Close_on() {
        location.href = "/CoachWorkout/ManageCoachWorkout";
    }
    $(function () {
        $('#li_CoachWorkout').addClass('active')
    });
    function isNumberKey() {
        if ($('#txt_NoofRuns').val() > 0 && $('#txt_NoofRuns').val() <= 15) {
            $('#ErrorMessageRunslimit').css("display", "none");
        }
        else {
            $('#ErrorMessageRunslimit').css("display", "block");
            //  alert("Runs with in 25 ");
        }
    }


    function Validate() {
        var IsError = false;
        if ($('#ddWork').val().trim() == "" || $('#ddWork').val().trim() == "0") {
            IsError = true;
            $('#ErrorMessageTitle').css("display", "block");
        }
        else {
            //   IsError = false;
            $('#ErrorMessageTitle').css("display", "none");
        }
        if ($('#ddSingleGroup :selected').val().trim() == "0") {
            $('#ErrorMessageGroup').css("display", "block");
            IsError = true;

        }
        else {
            $('#ErrorMessageGroup').css("display", "none");
            //IsError = false;
        }
        if ($('#txt_NoofRuns').val().trim() == "" || $('#txt_NoofRuns').val().trim() == "0") {
            // $('#ErrorMessageGroup').css("display", "none");
            $('#ErrorMessageRuns').css("display", "block");
            IsError = true;

        }
        else {
            $('#ErrorMessageRuns').css("display", "none");
            // IsError = false;
        }
        if ($('#txt_NoofRuns').val() > 0 && $('#txt_NoofRuns').val() > 15) {
            $('#ErrorMessageRunslimit').css("display", "block");
            IsError = true;

        }
        else {
            $('#ErrorMessageRunslimit').css("display", "none");
            // IsError = false;
        }



        if ($('#ddType :selected').text().trim() == "Repeats") {

            if ($('#ddDist :selected').text().trim() == "Select Distance") {
                //  $('#ErrorMessageRuns').css("display", "none");

                $('#ErrorMessageDistance').css("display", "block");

                IsError = true;

            }
            else {

                $('#ErrorMessageDistance').css("display", "none");
                // IsError = false;

            }


        }



        else {
            // arg2 = $('#ddDist :selected').text().trim() == "--Select Distance --" ? "" : $('#ddDist :selected').text().trim();
            $('#ErrorMessageDistance').css("display", "none");
            //IsError = false;
        }
        return IsError;

    }

    function BuildWorkOut() {



        //if ($('#ddSingleGroup :selected').val().trim() == "0") {
        //    $('#ErrorMessageGroup').css("display", "block");

        //}
        //if ($('#txt_NoofRuns').val().trim() == "" || $('#txt_NoofRuns').val().trim() == "0") {
        //   // $('#ErrorMessageGroup').css("display", "none");
        //    $('#ErrorMessageRuns').css("display", "block");

        //}

        //  if ($('#txt_NoofRuns').val() > 0 && $('#txt_NoofRuns').val() > 15) {
        //    $('#ErrorMessageRunslimit').css("display", "block");

        //}
        if (Validate()) {

            return;
        }

        else {
            var arg = $('#ddSingleGroup :selected').val().trim();
            var arg1 = $('#txt_NoofRuns').val().trim();

            var arg2 = null;// = $('#ddDist :selected').text().trim();

            if ($('#ddType :selected').text().trim() == "Repeats") {
                if ($('#ddDist :selected').text().trim() == "--Select Distance --") {
                    //  $('#ErrorMessageRuns').css("display", "none");
                    $('#ErrorMessageDistance').css("display", "block");

                    return;

                }
                else {
                    arg2 = $('#ddDist :selected').text().trim() == "--Select Distance --" ? "" : $('#ddDist :selected').text().trim();
                }

            }
            else {
                arg2 = "0";
            }
            if ('@obj_Workout.STAM_WORKOUT_ID' == 0) {
                $('#Savebtn').css('display', 'block');

            }
            $('#cancelwrk').css('display', 'block');
            $('#loadimg').css("display", "block");

     $('#grupid').val(arg);

            if ('@obj_Workout.STAM_WORKOUT_ID' != 0 || '@wrkcpyid'!= 0) {
                $('#sectionTable').find('tr:last').find('td:last').remove();
                $('#div_DynamicWorkout').load('/UserControl/SectionGrid', { GroupID: arg, Runs: arg1, Distance: arg2, WorokoutID: '@obj_Workout.STAM_WORKOUT_ID' == 0 ? '@wrkcpyid' : '@obj_Workout.STAM_WORKOUT_ID' });
                setTimeout(function () {

                   
                    $('#loadimg').css("display", "none");
                }, 3000);
                //$('#div_DynamicWorkout').load('/UserControl/SectionGrid', { GroupID: arg, Runs: arg1, Distance: arg2 });
            }
            else {
                setTimeout(function () {
                    //  Validate(0, '', $.cookie("Cities"));
                    $('#div_DynamicWorkout').load('/UserControl/SectionGrid', { GroupID: arg, Runs: arg1, Distance: arg2 });
                    $('#loadimg').css("display", "none");
                }, 3000);
            }

            $('#ErrorMessageRuns').css("display", "none");
            $('#ErrorMessageDistance').css("display", "none");
            $('#ErrorMessageGroup').css("display", "none");
        }

    }


    function SaveWorkout() {

        //alert($('#hd_AthName').val().trim());


        var IsError = false;
        var t = $('#txt_NoofRuns').val().trim();
        var s = $('#hd_AthID').val().trim();
		var splitvalues=[];
		
  splitvalues = s.split(',');
  
   var gr = $('#ddSingleGroup :selected').val().trim();
    var grpid = $('#grupid').val().trim();



        if (gr != grpid)
        {
		console.log(gr+""+grpid);
		alert("Please click on Build workout to change the Sections ");
            return;
        }
		console.log(gr+""+grpid);
		//return;
        var target = [];

        //var i, j;

        //var s1="";
        var i = 0;
        var c = "";
        var k = 0;
        var r = "";
        if ($('#ddWork').val().trim() == "" || $('#ddWork').val().trim() == "0") {
            IsError = true;
            $('#ErrorMessageTitle').css("display", "block");
        }
        else {
            $('#ErrorMessageTitle').css("display", "none");
        }
        if ($('#ddType :selected').text().trim() == "Repeats") {
            if ($('#ddDist').val().trim() == "" || $('#ddDist').val().trim() == "0") {
                IsError = true;
                $('#ErrorMessageDistance').css("display", "block");
            }
            else {
                $('#ErrorMessageDistance').css("display", "none");
                objdistance = $('#ddDist :selected').text().trim();
                objdistanceID = $('#ddDist :selected').val().trim();
            }


            if ($('#txt_NoofRuns').val().trim() == "") {
                IsError = true;
                $('#ErrorMessageRuns').css("display", "block");
            }
            else {
                $('#ErrorMessageRuns').css("display", "none");
            }
        }


        if ($('#ddSingleGroup :selected').val() == "0") {
            IsError = true;
            $('#ErrorMessageGroup').css("display", "block");
        }
        else {
            $('#ErrorMessageGroup').css("display", "none");
        }
        var secid = $('#hd_AthName').val().trim();
        var disterr=0;

        if ($('#ddType :selected').text().trim() == "Mixed") {

            $('#sectionTable >tbody >tr').each(function () {
                // id = $(this).attr('id').slice(-1);

                $(this).find('td:first').each(function () {

                    var select = $(this).find("select");

                    if ($(this).find('select option:selected').val().trim() == 0) {
                        $('#ErrorMessageSecDistance').css("display", "block");
                        disterr = 1;
                        return;
                    }
                    else {

                        $('#ErrorMessageSecDistance').css("display", "none");
                        var val1 = $(this).find('select option:selected').text();

                        val1 = val1 == "--Select Distance --" ? "" : val1;

                        r += val1 + ",";
                    }



                });





            });
        }

        if (disterr == 1)
        {
            $('#ErrorMessageSecDistance').css("display", "block");
            return;

        }
        else
        {
            $('#ErrorMessageSecDistance').css("display", "none");
        }
        //console.log(target);
		//console.log(splitvalues);
		console.log(splitvalues.length);
//splitvalues = secid.split(',');
        var s1 = "";
		//console.log(splitvalues);
		
                console.log(t + "----" + s);
			//	return;
			//console.log(splitvalues.length);
			//console.log("************");
			//console.log(Number(splitvalues.length));
			//return;
			var val=splitvalues.length>1?splitvalues.length:splitvalues;

    
    
console.log(val);
        for (i = 0; i < t ; i++) {

            for (var j = 0; j < Number(val) ; j++) {
                console.log(t + "----" + s);
                var no = i + '' + j;
                $('#ErrorMessageSecTarget').css("display", "none");

                s1 += $('#ddmm_' + no + ' :selected').val().trim() + ":" + $('#ddss_' + no + ' :selected').val().trim() + ",";

                //console.log(no);
				//if ($('#ddmm_' + no + ' :selected').val().trim() == 0 && $('#ddss_' + no + ' :selected').val().trim() == 0) {
                //     $('#ErrorMessageSecTarget').css("display", "block");
                //   return;
                //} 

				// if($('#ddmm_' + no + ' :selected').text().trim()=="mm"|| $('#ddss_' + no + ' :selected').text().trim()=="ss"){
                ////if ($('#ddmm_' + no + ' :selected').val().trim() == 0 || $('#ddss_' + no + ' :selected').val().trim() == 0) {
                //    $('#ErrorMessageSecTarget').css("display", "block");
                //    return;
                //}

				//else {

                //    $('#ErrorMessageSecTarget').css("display", "none");

                //    s1 += $('#ddmm_' + no + ' :selected').val().trim() + ":" + $('#ddss_' + no + ' :selected').val().trim() + ",";

                //  //  console.log(s1);
                //  //  console.log(s1);
                //}

            }
        }
        console.log(s1);
        var STAM_CUSTOM_MODEL = {
            STAM_TARGET_TIME: s1,
            STAM_SEC_ID: secid,
            DISTANCE: r,

        };
        console.log(STAM_CUSTOM_MODEL)
		// return;
        var dateTypeVar = $('#date01').datepicker('getDate');
        $.datepicker.formatDate('mm/dd/yy', dateTypeVar);

        var date = new Date($.datepicker.formatDate('mm/dd/yy', dateTypeVar));

        var datatoPost = {
            STAM_WORKOUT_ID: '0',
            STAM_WORKOUT_TITLE: $('#ddWork :selected').text().trim(),
            STAM_WORKOUT_NOTES: $('#txt_Notes').val().trim(),
            STAM_WORKOUT_TYPE: $('#ddType :selected').text().trim(),
            STAM_WORKOUT_DISTANCE: $('#ddType :selected').text().trim() != "Mixed"? $('#ddDist :selected').text().trim() : 0,
            //  STAM_WORKOUT_DISTANCEID: DistID,
            STAM_WORKOUT_GROUP: $('#ddlSingleGroup :selected').text().trim(),
            STAM_WORKOUT_RUNS: $('#txt_NoofRuns').val().trim(),
            STAM_WORKOUT_GROUPID: $('#ddlSingleGroup :selected').val().trim(),
            STAM_WORKOUT_STATUS: 1,
            STAM_WORKOUT_DATE: $.datepicker.formatDate('mm/dd/yy', dateTypeVar),

            //   STAM_WORKOUT_DATE1: date,
            STAM_WORKOUT_DATE1: $('#date01').val().trim(),
        };

        var datatoPost1 = {
            STAM_WORKOUT_DETAILS_ID: '0',
            STAM_WORKOUT_ID: '0',

            STAM_RUN: $('#txt_NoofRuns').val().trim(),



        };
        console.log(datatoPost);
        //   return;





        if ($('#ddWork :selected').text().trim() != null) {
            $.ajax({
                url: "ChkNewCoachWorkoutTitle",
                type: "POST",
                data: { Name: $('#ddWork :selected').text().trim(), GroupName: $('#ddSingleGroup :selected').text().trim(), Distance: 0, Runs: $('#txt_NoofRuns').val().trim(), _date: $.datepicker.formatDate('mm/dd/yy', dateTypeVar), Copy: "", Userid: '@UserID' },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {
                        if (result.Message != "" && result.Message != null && '@obj_Workout.STAM_WORKOUT_ID' != result.data) {

                            $('#ErrorMessageAlreadyExist').text("A workout already exists for this Date and Group");
                            $('#ErrorMessageAlreadyExist').css("display", "block");
                            return false;

                        }
                        else {

                            if (!IsError) {
                                $.ajax({
                                    url: "NewCoachWorkoutCreation",
                                    type: "POST",
                                    data: { obj_tr_wrkouts: datatoPost, obj_tr_details: datatoPost1, obj_tr_wrkout_sec: STAM_CUSTOM_MODEL },
                                    success: function (result) {
                                        if (result.Error) {
                                        }
                                        else {
                                            $('#loadimg').css("display", "block");
                                            setTimeout(function () {
                                                //  Validate(0, '', $.cookie("Cities"));
                                                $('#loadimg').css("display", "none");
                                            }, 2000);
                                            alert("Workout created Successfully");

                                            location.href = "/CoachWorkout/NewManageCoachWorkout";
                                            // location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=0";

                                            //location.href = "/CoachWorkout/ManageCoachWorkout?Msg=" + result.Message;
                                        }
                                    },
                                });
                            }




                        }
                    }
                }
            });
        }

        //$('#hfReferenceContainer_form > div').each(function () {
        //    id = $(this).attr('id').slice(-1);
        //    var ReferenceID = readCookie('hfReferenceID_' + id);
        //    if (ReferenceID == "" || ReferenceID == null || ReferenceID == "null") {
        //        ReferenceID = 0;
        //    }
        //    var familyName = $('#txtFamilyName_' + id).val();
        //    var refFName = $('#txtRefFName_' + id).val();
        //    var refLName = $('#txtRefLName_' + id).val();
        //    var email = $('#txtEmail_' + id).val();
        //    var mobilePhone = $('#Mobile1_' + id).val() + '-' + $('#Mobile2_' + id).val() + '-' + $('#Mobile3_' + id).val();
        //    var homePhone = $('#HomePhone1_' + id).val() + '-' + $('#HomePhone2_' + id).val() + '-' + $('#HomePhone3_' + id).val();
        //    var addr1 = $('#txtAddress1_' + id).val();
        //    var addr2 = $('#txtAddress2_' + id).val();
        //    var state = trim($('#txtState_' + id).val());

        //    var city = trim($('#txtCity_' + id).val());
        //    var zipCode = $('#txtZipCode_' + id).val();
        //    var referenceTerm = $('#referenceTerm_' + id).val();
        //  ReferenceInfo.push({ SID_REFERENCE_ID: ReferenceID, SID_USER_ID: UserID, SID_FAMILY_NAME: familyName, SID_REFERENCE_FNAME: refFName, SID_REFERENCE_LNAME: refLName, SID_EMAIL_ID: email, SID_MOBILE_PHONE: mobilePhone, SID_HOME_PHONE: homePhone, SID_ADDRESS_1: addr1, SID_ADDRESS_2: addr2, SID_STATE: state, SID_CITY: city, SID_ZIP_CODE: zipCode, SID_REFERENCE_YEARS: referenceTerm });


        //});


        //var  date = $.datepicker.formatDate('mm/dd/yy', dateTypeVar);
        //var title=$('#ddWork :selected').text().trim();

        //var s1 = s.split(',');
        //var datatopost2 = [];
        //for (var r = 0; r < s1.length() ;i++)
        //{
        //    datatopost[r]=s1
        //}
    }


    function chg_wrkout() {
        if ($('#ddType :selected').text().trim() == "Repeats") {
            $("#distance").css("display", "block");
            $('#ddDist').css('display', 'block')
            $('#ErrorMessageDistance').css("display", "block");
            $('#lbldist').css('display', 'block')
        }
        else {
            $('#ddDist').css('display', 'none')
            $('#ErrorMessageDistance').css("display", "none");
            $('#lbldist').css('display', 'none')
        }
    }

    function UpdateWorkout() {
        //alert($('#hd_AthName').val().trim());
        var IsError = false;
        var t = $('#txt_NoofRuns').val().trim();
        var s = $('#hd_AthID').val().trim();
    var splitvalues = s.split(',');
        var target = [];
		 var gr = $('#ddSingleGroup :selected').val().trim();
 var grpid = $('#grupid').val().trim();



        if (gr != grpid)
        {
		alert("Error in save ");
            return;
        }
        //var i, j;

        //var s1="";
        var i = 0;
        var c = "";
        var k = 0;
        var r = "";
        if ($('#ddWork').val().trim() == "" || $('#ddWork').val().trim() == "0") {
            IsError = true;
            $('#ErrorMessageTitle').css("display", "block");
        }
        else {
            $('#ErrorMessageTitle').css("display", "none");
        }
        if ($('#ddType :selected').text().trim() != "Mixed") {
            if ($('#ddDist').val().trim() == "" || $('#ddDist').val().trim() == "0") {
                IsError = true;
                $('#ErrorMessageDistance').css("display", "block");
            }
            else {
                $('#ErrorMessageDistance').css("display", "none");
                objdistance = $('#ddDist :selected').text().trim();
                objdistanceID = $('#ddDist :selected').val().trim();
            }
        }

        if ($('#ddType :selected').text().trim() != "Mixed") {

            if ($('#txt_NoofRuns').val().trim() == "") {
                IsError = true;
                $('#ErrorMessageRuns').css("display", "block");
            }
        }
        else {
            $('#ErrorMessageRuns').css("display", "none");
        }

        if ($('#ddSingleGroup :selected').val() == "0") {
            IsError = true;
            $('#ErrorMessageGroup').css("display", "block");
        }
        else {
            $('#ErrorMessageGroup').css("display", "none");
        }
        var secid = $('#hd_AthName').val().trim();
        var disterr = 0;
        if ($('#ddType :selected').text().trim() == "Mixed") {

            $('#sectionTable >tbody >tr').each(function () {
                // id = $(this).attr('id').slice(-1);

                $(this).find('td:first').each(function () {

                    var select = $(this).find("select");


                    if ($(this).find('select option:selected').val().trim() == 0) {
                        $('#ErrorMessageSecDistance').css("display", "block");
                        disterr = 1;
                    }
                    else {

                        $('#ErrorMessageSecDistance').css("display", "none");
                        var val1 = $(this).find('select option:selected').text();

                        val1 = val1 == "--Select Distance --" ? "" : val1;

                        r += val1 + ",";
                    }

                    // var val1 = $(this).find('select option:selected').text();

                    //      val1 = val1 == "--Select Distance --" ? "" : val1;

                    // r += val1 + ",";



                });





            });
        }

        if (disterr == 1) {
            $('#ErrorMessageSecDistance').css("display", "block");
            return;

        }
        else {
            $('#ErrorMessageSecDistance').css("display", "none");
        }
        console.log(splitvalues.length);

        var s1 = "";
		var val=splitvalues.length>1?splitvalues.length:splitvalues;

    
    
console.log(val);

        for (i = 0; i < t ; i++) {

            for (var j = 0; j < Number(val) ; j++) {
                console.log(t + "----" + s);
                var no = i + '' + j;

                $('#ErrorMessageSecTarget').css("display", "none");

                s1 += $('#ddmm_' + no + ' :selected').val().trim() + ":" + $('#ddss_' + no + ' :selected').val().trim() + ",";
               // console.log(no);
//if ($('#ddmm_' + no + ' :selected').val().trim() == 0 && $('#ddss_' + no + ' :selected').val().trim() == 0) {
//                    $('#ErrorMessageSecTarget').css("display", "block");
//                    return;
//               }

//if ($('#ddmm_' + no + ' :selected').text().trim() == "mm" || $('#ddss_' + no + ' :selected').text().trim() == "ss") {
//               // if ($('#ddmm_' + no + ' :selected').val().trim() == 0 || $('#ddss_' + no + ' :selected').val().trim() == 0) {
//                    $('#ErrorMessageSecTarget').css("display", "block");
//                    return;
//                }

//                else {
//                    $('#ErrorMessageSecTarget').css("display", "none");

//                    s1 += $('#ddmm_' + no + ' :selected').val().trim() + ":" + $('#ddss_' + no + ' :selected').val().trim() + ",";

//                  //  console.log(s1);
//                }







                //s1 += $('#ddmm_' + no + ' :selected').val().trim() + ":" + $('#ddss_' + no + ' :selected').val().trim() + ",";
                //console.log(s1);
            }
        }
        console.log(s1);
        var STAM_CUSTOM_MODEL = {
            STAM_TARGET_TIME: s1,
            STAM_SEC_ID: secid,
            DISTANCE: r,

        };
        console.log(STAM_CUSTOM_MODEL)
        var dateTypeVar = $('#date01').datepicker('getDate');
        $.datepicker.formatDate('mm/dd/yy', dateTypeVar);

        var date = new Date($.datepicker.formatDate('mm/dd/yy', dateTypeVar));

        var datatoPost = {
            STAM_WORKOUT_ID: '@obj_Workout.STAM_WORKOUT_ID',
            STAM_WORKOUT_TITLE: $('#ddWork :selected').text().trim(),
            STAM_WORKOUT_NOTES: $('#txt_Notes').val().trim(),
            STAM_WORKOUT_TYPE: $('#ddType :selected').text().trim(),
            STAM_WORKOUT_DISTANCE: $('#ddType :selected').text().trim() != "Mixed" ? $('#ddDist :selected').text().trim() : 0,
            //  STAM_WORKOUT_DISTANCEID: DistID,
            STAM_WORKOUT_GROUP: $('#ddlSingleGroup :selected').text().trim(),
            STAM_WORKOUT_RUNS: $('#txt_NoofRuns').val().trim(),
            STAM_WORKOUT_GROUPID: $('#ddlSingleGroup :selected').val().trim(),
            STAM_WORKOUT_STATUS: 1,
            STAM_WORKOUT_DATE: $.datepicker.formatDate('mm/dd/yy', dateTypeVar),

            //   STAM_WORKOUT_DATE1: date,
            STAM_WORKOUT_DATE1: $('#date01').val().trim(),
        };

        var datatoPost1 = {
            STAM_WORKOUT_DETAILS_ID: '@obj_Workout.STAM_WORKOUT_DETAILS_ID',
            STAM_WORKOUT_ID: '@obj_Workout.STAM_WORKOUT_ID',

            STAM_RUN: $('#txt_NoofRuns').val().trim(),



        };


        console.log(datatoPost1);
        // return;
        if (!IsError) {
            $('#loadimg').css("display", "block");
            $.ajax({
                url: "NewCoachWorkoutCreation",
                type: "POST",
                data: { obj_tr_wrkouts: datatoPost, obj_tr_details: datatoPost1, obj_tr_wrkout_sec: STAM_CUSTOM_MODEL },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {

                        setTimeout(function () {
                            //  Validate(0, '', $.cookie("Cities"));
                            $('#loadimg').css("display", "none");
                        }, 3000);
                        alert("Workout Updated Successfully");

                        location.href = "/CoachWorkout/NewManageCoachWorkout";
                        //   location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=0";

                        //  location.href = "/CoachWorkout/NewManageCoachWorkout?Msg=" + result.Message;
                    }
                },
            });
        }

        //$('#hfReferenceContainer_form > div').each(function () {
        //    id = $(this).attr('id').slice(-1);
        //    var ReferenceID = readCookie('hfReferenceID_' + id);
        //    if (ReferenceID == "" || ReferenceID == null || ReferenceID == "null") {
        //        ReferenceID = 0;
        //    }
        //    var familyName = $('#txtFamilyName_' + id).val();
        //    var refFName = $('#txtRefFName_' + id).val();
        //    var refLName = $('#txtRefLName_' + id).val();
        //    var email = $('#txtEmail_' + id).val();
        //    var mobilePhone = $('#Mobile1_' + id).val() + '-' + $('#Mobile2_' + id).val() + '-' + $('#Mobile3_' + id).val();
        //    var homePhone = $('#HomePhone1_' + id).val() + '-' + $('#HomePhone2_' + id).val() + '-' + $('#HomePhone3_' + id).val();
        //    var addr1 = $('#txtAddress1_' + id).val();
        //    var addr2 = $('#txtAddress2_' + id).val();
        //    var state = trim($('#txtState_' + id).val());

        //    var city = trim($('#txtCity_' + id).val());
        //    var zipCode = $('#txtZipCode_' + id).val();
        //    var referenceTerm = $('#referenceTerm_' + id).val();
        //  ReferenceInfo.push({ SID_REFERENCE_ID: ReferenceID, SID_USER_ID: UserID, SID_FAMILY_NAME: familyName, SID_REFERENCE_FNAME: refFName, SID_REFERENCE_LNAME: refLName, SID_EMAIL_ID: email, SID_MOBILE_PHONE: mobilePhone, SID_HOME_PHONE: homePhone, SID_ADDRESS_1: addr1, SID_ADDRESS_2: addr2, SID_STATE: state, SID_CITY: city, SID_ZIP_CODE: zipCode, SID_REFERENCE_YEARS: referenceTerm });


        //});


        //var  date = $.datepicker.formatDate('mm/dd/yy', dateTypeVar);
        //var title=$('#ddWork :selected').text().trim();

        //var s1 = s.split(',');
        //var datatopost2 = [];
        //for (var r = 0; r < s1.length() ;i++)
        //{
        //    datatopost[r]=s1
        //}
    }
    function ResetWorkout()
    {
        $('#sectionTable').empty();
        $('#txt_NoofRuns').val("");

        //$('#date01').val('');
        $("#date01").datepicker().datepicker("setDate", new Date());

        $("select#ddWork")[0].selectedIndex = 0;
        $("select#ddType")[0].selectedIndex = 0;
        $("select#ddSingleGroup")[0].selectedIndex = 0;
        $('#txt_Notes').val("");
        $("select#ddDist")[0].selectedIndex = 0;
        $("#distance").css("display", "block");
        $('#ErrorMessageDistance').css("display", "block");

        $('#ErrorMessageTitle').css("display", "none");
        $('#ErrorMessageRuns').css("display", "none");
        $('#ErrorMessageRunslimit').css("display", "none");

        $('#ErrorMessageDistance').css("display", "none");
        $('#ErrorMessageGroup').css("display", "none");


        $('#Savebtn').css('display', 'none');
        $('#cancelwrk').css('display', 'none');
    }
    function CancelWorkout() {

        var res = confirm('Are you sure you want to cancel this workout?');
        if (res) {
            location.href = "/CoachWorkout/NewManageCoachWorkout";
        }
        else
        {
            return false;
        }



    }
</script>
