﻿
@using Stampade.Models;
@{
    ViewBag.Title = "Manage Workouts";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    if (Session["UserType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";
    }

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid new_topheader">
    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>

    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><img src="../Content/image/header_side.png" />
			<span class="break"></span>
            @{
                if ((Session["UserType"].ToString() == "4"))
                {
                    <span class="head_content">My Workouts</span>
                }
                else
                {
			<span class="head_content">Manage Coach Workouts</span>
                }
}
			</h2>
        </div>
@{
                if ((Session["UserType"].ToString() != "4"))
                {
		 <div class="pull-right browse_details new_brw_det col-md-12">
  

           <a href="/CoachWorkout/CreateNewWrkoutNew?CoachId=0" class="btn btn-success create_new_team">
               <span>Create New Workout</span>
           </a>
		</div>
}
}

        <div id="partialDiv">
            @Html.Action("NewCoachWorkout_Table")
        </div>
    </div><!--/span-->

</div><!--/row--> 
<script>

    function EditNewCoachWorkout(arg)
    {
        location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=" + arg;
       // location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=" + arg ;
        //$.ajax({
        //    url: "EditNewWorkout",
        //    type: "POST",
        //    data: { CoachId: arg },
        //    success: function (result) {
        //        if (result.Error) {                   
        //        }
        //        else {
        //            if (result.Message == "") {                       
        //                $('#divSuccessMessage').css("display", "block");
        //                $('#divSuccessMessage').text("Selected Workout has not been allowed to Edit");
        //                setTimeout(function () {
        //                    $('#divSuccessMessage').css("display", "none");
        //                }, 3000);
        //            }
        //            else if (result.Message != "") {
        //                location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=" + arg;
        //            }
        //        }
        //    },
        //});
    }
    function ViewCoachWorkout(arg) {
        location.href = "/CoachWorkout/CoachWorkout_View?CoachId=" + arg;
    }

    function CopyEditCoachWorkAction(arg) {
        location.href = "/CoachWorkout/CreateNewWrkoutNew?CoachId=" + arg + "&_copy=" + "copy";
    }

    function DeleteNewCoachWorkoutAction(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {





            $.ajax({
                url: "DeleteNewCoachWorkoutAction",
                type: "POST",
                data: { WorkoutID: arg },
                success: function (result) {
                    if (result.Error) {
                        setTimeout(function () {
                            $('#divSuccessMessage').text(result.Message);
                            $('#divSuccessMessage').css("display", "block");
                        }, 3000);
                    }
                    else {

                        if (result.Message == "OK") {
                            $('#divSuccessMessage').css("display", "block");
                            $('#divSuccessMessage').text("Deleted Successfully");
                            setTimeout(function () {
                                $('#divSuccessMessage').css("display", "none");
                            }, 3000);

                            $('#partialDiv').load('/CoachWorkout/NewCoachWorkout_Table');
                           
                        }
                        else if (result.Message != "") {
                           // location.href = "/CoachWorkout/CreateNewCoachWorkout?CoachId=" + arg;

                            $('#divSuccessMessage').css("display", "block");
                            $('#divSuccessMessage').text("Selected Workout has not been allowed to delete");
                            setTimeout(function () {
                                $('#divSuccessMessage').css("display", "none");
                            }, 3000);
                        }
                        //$('#partialDiv').load('/CoachWorkout/CoachWorkout_Table');
                        //$('#divSuccessMessage').css("display", "block");
                        //$('#divSuccessMessage').text(result.Message);
                        setTimeout(function () {
                            $('#divSuccessMessage').css("display", "none");
                        }, 3000);
                    }
                },
            });









          
        }
    }

    function NewCoachWorkoutStatusAction(arg, arg1) {
        $.ajax({
            url: "NewCoachWorkoutActionUpdate",
            type: "POST",
            data: { CoachId: arg, status: arg1 },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#partialDiv').load('/CoachWorkout/NewCoachWorkout_Table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
    }

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {
            var searchtext = $('#txt_searchjob').val().trim();
            Validate(0, searchtext, '');
        }
    });
    $(function () {
        $('#li_CoachWorkout').addClass('active')
    });

</script> 

