﻿
@using Stampade.Models;
@model STAM_MA_DISTANCE
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_DISTANCE obj_Distance = new STAM_MA_DISTANCE();
    if (Model != null)
    {
        obj_Distance = Model;
    }
    ViewBag.Title = "CreateNewTeam";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid">
    <div class="box span12 bg_white">
		<div class="box-header">
			<h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_Distance.STAM_DISTANCE_ID == 0 ? "Create New Distance" : "Update Distance")</span></h2>
		</div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">Distance Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_DistanceName" value='@(obj_Distance.STAM_DISTANCE_NAME == null ? "" : obj_Distance.STAM_DISTANCE_NAME)' style="" type="text" placeholder="DistanceName" class="form-control pull-left new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageDistanceName" class="help-block" style=" color: red;display:none;">Distance Name  is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block" style=" color: red;display:none;"></span></div>
        </div>
        <div>&nbsp;</div>
        <div class="create_team">
		<span class="btns_area">
            <input id="btn_dis" type="button" class="btn btn-primary mr10" tabindex="2" onclick="CreateDistance()" value='@(obj_Distance.STAM_DISTANCE_ID == 0 ? "Create" : "Update")' />
            <input type="button" class="btn" value="Cancel" tabindex="3" onclick="Close_on()" />
			</span>
        </div>

    </div><!--/span-->

</div><!--/row-->  

<script>
    function CreateDistance()
    {
        var IsError = false;

        if ($('#txt_DistanceName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageDistanceName').css("display", "block");
        }
        else {
            $('#ErrorMessageDistanceName').css("display", "none");
        }

        if ($('#txt_DistanceName').val().trim() != null) {
            $.ajax({
                url: "ChkDistanceName",
                type: "POST",
                data: { Name: $('#txt_DistanceName').val().trim() },
                success: function (result) {
                    if (result.Error) {                        
                    }
                    else {
                        if (result.Message != "" && result.Message != null) {
                            if ('@obj_Distance.STAM_DISTANCE_ID' != result.data) {
                            $('#ErrorMessageValidtext').text(result.Message);
                            $('#ErrorMessageValidtext').css("display", "block");
                            IsError = true;
                            return false;
                            }
                        }
                        var datatoPost = {
                            STAM_DISTANCE_ID: '@obj_Distance.STAM_DISTANCE_ID',
                            STAM_DISTANCE_NAME: $('#txt_DistanceName').val().trim(),
                        };

                        if (IsError) {
                            return false;
                        }

                        $.ajax({
                            url: "DistanceCreation",
                            type: "POST",
                            data: datatoPost,
                            success: function (result) {
                                if (result.Error) {
                                    if (result.Message == "Distance Name is already exist.") {
                                        $('#ErrorMessageValidtext').html(result.Message);
                                        $('#ErrorMessageValidtext').css("display", "block");
                                        setTimeout(function () {
                                            $('#ErrorMessageValidtext').css("display", "none");
                                        }, 3000);
                                    }

                                }
                                else {
                                    location.href = "/Distance/ManageDistance?Msg=" + result.Message;
                                }
                            },
                        });
                    }
                },
            });
        }
        

        

    }

    //$('#txt_DistanceName').keyup(function () {
    //    var $th = $(this);
    //    $th.val($th.val().replace(/[^a-zA-Z0-9\'\-\.\+\!\#\$\%\^\&\*\:\;\"\?\<\>\(\)\=\,\.\/\\ ]/g, function (str) {
    //        $('#ErrorMessageValidtext').css("display", "block");
    //        setTimeout(function () {
    //            $('#ErrorMessageValidtext').html("Please Enter Valid Text");
    //            $('#ErrorMessageValidtext').css("display", "none");
    //        }, 3000);
    //        return '';
    //    }));

    //});

    $('#txt_DistanceName').change(function () {
        if ($('#txt_DistanceName').val().trim() != null) {
            $('#ErrorMessageDistanceName').css("display", "none");
            $.ajax({
                url: "ChkDistanceName",
                type: "POST",
                data: { Name: $('#txt_DistanceName').val().trim() },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {
                        if ('@obj_Distance.STAM_DISTANCE_ID' != result.data) {
                         $('#ErrorMessageValidtext').text(result.Message);
                        $('#ErrorMessageValidtext').css("display", "block");                      
                        return true;                       
                        }
                    }
                },
            });
        }
    });

    function isString(event) {
        var charCode = event.charCode;
        if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || (charCode == 0) || (charCode == 32)) {
            return true;
        }
        return false;
    }

    function Close_on()
    {
        location.href = "/Distance/ManageDistance";
    }
    $(function () {
        $('#li_Dist').addClass('active')
    });
</script>