﻿@using Stampade.Models;
@model STAM_MA_DISTANCE
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_DISTANCE obj_Distance = new STAM_MA_DISTANCE();
    if (Model != null)
    {
        obj_Distance = Model;
    }
    ViewBag.Title = "CreateNewTeam";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Distance Detail</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">Distance Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_DistanceName" value='@(obj_Distance.STAM_DISTANCE_NAME == null ? "" : obj_Distance.STAM_DISTANCE_NAME)' disabled style="" type="text" placeholder="DistanceName" class="form-control pull-left new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageDistanceName" class="help-block" style=" color: red;display:none;">Distance Name  is required</span></div>
            <div> <span id="ErrorMessageValidtext" class="help-block" style=" color: red;display:none;"></span></div>
        </div>
        <div>&nbsp;</div>
        <div class="create_team">
            <span class="btns_area">
                <input id="btn_dis" tabindex="2" type="button" class="btn btn-primary" onclick="Back()" value="BacK" />
            </span>
        </div>

    </div><!--/span-->

</div><!--/row-->  

<script>
    function Back()
    {
        location.href = "/Distance/ManageDistance";
    }
    $(function () {
        $('#li_Dist').addClass('active')
    });

</script>
