﻿@using Stampade.Models;
@model List<STAM_MA_DISTANCE>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_DISTANCE> obj_Distance = new List<STAM_MA_DISTANCE>();
    if (Model != null)
    {
        obj_Distance = Model.ToList();
        obj_Distance = obj_Distance.OrderByDescending(p => p.STAM_CREATED_DATE).ToList();
    }   
    var count = 1;
}


<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Distance Name</th>
                <th>Status
                 @*<select id="ddActive" class="form-control" data-ng-show="partner.editMode" tabindex="15" required ng-required="positionTypeRequired">
                    <option value="0">--Select Team --</option>
                     <option value="1">Active</option>
                     <option value="2">InActive</option>
                </select>*@</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in obj_Distance)
                {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @item.STAM_DISTANCE_NAME
                        </td>
                        <td>
                            @{
                    if (item.STAM_DISTANCE_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="DistanceStatusAction('@item.STAM_DISTANCE_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_DISTANCE_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="DistanceStatusAction('@item.STAM_DISTANCE_ID','Active')" class="label label-important">InActive  </a>
                    }
}

                        </td>
                        <td class="bold">

                            @*<a href="#" title="View" onclick="ManageViewAction('@item.STAM_DISTANCE_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="ManageEditAction('@item.STAM_DISTANCE_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="Delete" onclick="DeleteDistanceAction('@item.STAM_DISTANCE_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                        </td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>