﻿
@using Stampade.Models;
@model STAM_MA_TEAM
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_TEAM obj_Team = new STAM_MA_TEAM();
    if (Model != null)
    {
        obj_Team = Model;
    }
    ViewBag.Title = "CreateNewTeam";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";
    
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid">
    <div class="box span12 bg_white">
        
<div class="box-header">
				<h2><img src="../Content/image/header_side.png"><span class="break"></span> 
				<span class="head_content">@(obj_Team.STAM_TEAM_ID == 0 ? "Create New Team" : "Update Team")</span></h2>
			   
			</div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">Team Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_TeamName" value='@(obj_Team.STAM_TEAM_NAME == null ? "" : obj_Team.STAM_TEAM_NAME)' style="" type="text" placeholder="Team Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageTeamName" class="help-block1" style=" color: red;display:none;">Team Name  is required</span></div>
            
        </div>

        <div class="create_team">
		<span class="btns_area">
            <input type="button" class="btn btn-primary mr10" onclick="CreateTeam()" tabindex="2" value='@(obj_Team.STAM_TEAM_ID == 0 ? "Create" :"Update")' />
            <input type="button" tabindex="3" class="btn" value="Back" onclick="Close_on()" />
        </span>
		</div>

    </div><!--/span-->

</div><!--/row-->  

<script>
    $(function () {
        $('#li_Team').addClass('active')
    });
    function CreateTeam()
    {
        var IsError = false;

        if ($('#txt_TeamName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageTeamName').css("display", "block");
        }
        else {
            $('#ErrorMessageTeamName').css("display", "none");
        }
       
        if ($('#txt_TeamName').val().trim() != null) {
            $.ajax({
                url: "ChkTeamName",
                type: "POST",
                data: { Name: $('#txt_TeamName').val().trim() },
                success: function (result) {
                    console.log(result);
                    if (result.Error) {
                    }
                    else {                        
                        if (result.Message != "" && result.Message != null) {
                          
                            if ('@obj_Team.STAM_TEAM_ID' != result.data) {
                        $('#ErrorMessageValidtext').text(result.Message);
                        $('#ErrorMessageValidtext').css("display", "block");                        
                        IsError = true;
                            }
                        }
                            if (IsError) {
                                return false;
                            }
                           
                            var datatoPost = {
                                STAM_TEAM_ID: '@obj_Team.STAM_TEAM_ID',
                                STAM_TEAM_NAME: $('#txt_TeamName').val().trim(),
                                STAM_COACHASSIGNED: false,
                            };

                            $.ajax({
                                url: "TeamCreation",
                                type: "POST",
                                data: datatoPost,
                                success: function (result) {
                                    if (result.Error) {
                                        if (result.Message == "Team Name is already exist.") {
                                            $('#ErrorMessageValidtext').html(result.Message);
                                            $('#ErrorMessageValidtext').css("display", "block");
                                            setTimeout(function () {
                                                $('#ErrorMessageValidtext').css("display", "none");
                                            }, 3000);
                                        }

                                    }
                                    else {
                                        location.href = "/Team/ManageTeam?Msg=" + result.Message;
                                    }
                                },
                            });
                    }
                },
            });
        }    
    }

    $('#txt_TeamName').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^a-zA-Z\'\-\. ]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            setTimeout(function () {
                $('#ErrorMessageValidtext').html("Please Enter Valid Text");
                $('#ErrorMessageValidtext').css("display", "none");
            }, 3000);
            return '';
        }));
    });

    $('#txt_TeamName').change(function () {
        $('#ErrorMessageTeamName').css("display", "none");
        if ($('#txt_TeamName').val().trim() != null) {
            $.ajax({
                url: "ChkTeamName",
                type: "POST",
                data: { Name: $('#txt_TeamName').val().trim() },
                success: function (result) {
                    if (result.Error) {
                        return false;
                    }
                    else {                       
                        if ('@obj_Team.STAM_TEAM_ID' != result.data) {
                            $('#ErrorMessageValidtext').text(result.Message);
                            $('#ErrorMessageValidtext').css("display", "block");                       
                           return true;
                        }
                    }
                },
            });
        }
    });

    function isString(event) {
        var charCode = event.charCode;
        if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || (charCode == 0) || (charCode == 32)) {
            return true;
        }
        return false;
    }

    function Close_on()
    {
        location.href = "/Team/ManageTeam";
    }

</script>