﻿@using Stampade.Models;
@{  
    ViewBag.Title = "Manage Team";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : null;    
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <div class="row-fluid new_topheader">
       
       
        <div>
            <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
                <p class="ng-binding">@msg</p>
            </div>
        </div>

        <div class="box span12">           
			<div class="box-header" data-original-title="">
				<h2><img src="../Content/image/header_side.png" /><span class="break"></span> 
				<span class="head_content">Manage Team</span></h2>
			   
			</div>
			 <div class="pull-right browse_details new_brw_det span12">
				<a href="/Team/CreateNewTeam" class="btn btn-success create_new_team">
					<span>Create New Team</span>
				</a>
			</div> 
            <div id="partialDiv">
                @Html.Action("Team_table")
            </div>
        </div><!--/span-->

        </div><!--/row-->  
<script>

    function ManageEditAction(arg) {
        location.href = "/Team/CreateNewTeam?TeamId=" + arg;
    }
    function ManageViewAction(arg) {
        location.href = "/Team/Team_View?TeamId=" + arg;
    }

    function DeleteTeamAction(arg) {
        var res = confirm('Are you sure you want to delete this record?');
        if (res) {
        $.ajax({
		    cache: false,
            url: "DeleteTeam",
            type: "POST",
            data: { TeamId: arg },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#partialDiv').load('/Team/Team_table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
        }        
    }

    function TeamStatusAction(arg,arg1) {
        $.ajax({
	     	cache: false,
            url: "TeamActionUpdate",
            type: "POST",			
            data: { TeamId: arg, status: arg1 },
            success: function (result) {
                if (result.Error) {
                }
                else {
                    $('#partialDiv').load('/Team/Team_table');
                    $('#divSuccessMessage').css("display", "block");
                    $('#divSuccessMessage').text(result.Message);
                    setTimeout(function () {
                        $('#divSuccessMessage').css("display", "none");
                    }, 3000);
                }
            },
        });
    }

    $(document).ready(function () {
        if ('@msg' != null && '@msg' != "") {
            $('#divSuccessMessage').css("display", "block");
            $('#divSuccessMessage').html('@msg');
            setTimeout(function () {
                $('#divSuccessMessage').css("display", "none");
            }, 3000);
        }
        else {
            $('#divSuccessMessage').hide();
        }
        $('@msg').val("");
    });

    $(function () {
        $('#li_Team').addClass('active')
    });

</script>