﻿@using Stampade.Models;
@model List<STAM_MA_TEAM>
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<STAM_MA_TEAM> obj_Team = new List<STAM_MA_TEAM>();
    if (Model != null)
    {
        obj_Team = Model.ToList();
    }   
  
}


<div class="box-content">
    <table id="tbl_team" class="table table-striped table-bordered bootstrap-datatable ">
        <thead>
            <tr style="">
                <th>S.No</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 1;
                foreach (var item in obj_Team)
                {
                    <tr>
                        <td class="bold text-center status">
                            @count
                        </td>

                        <td>@item.STAM_TEAM_NAME</td>
                        <td>

                            @{
                    if (item.STAM_STATUS == BusinessObjects.Constants.BusinessConstants.Status.Active)
                    {
                        <a href="#" title="Click to make InActive" onclick="TeamStatusAction('@item.STAM_TEAM_ID','InActive')" class="label label-success">Active  </a>
                    }
                    else if (item.STAM_STATUS == BusinessObjects.Constants.BusinessConstants.Status.InActive)
                    {
                        <a href="#" title="Click to make Active" onclick="TeamStatusAction('@item.STAM_TEAM_ID','Active')" class="label label-important">InActive  </a>
                    }
                            }
                        </td>
                        <td class="bold actions_width">

                            @*<a href="#" title="View" onclick="ManageViewAction('@item.STAM_TEAM_ID')" class="btn btn-success"> <i class="icon-zoom-in "> </i> </a>*@
                            <a href="#" title="Edit" onclick="ManageEditAction('@item.STAM_TEAM_ID')" class="btn btn-info"> <i class="icon-edit "></i></a>
                            <a href="#" title="Delete" onclick="DeleteTeamAction('@item.STAM_TEAM_ID')" class="btn btn-danger"><i class="icon-trash "></i></a>
                        </td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {

        var myTable = $("#tbl_team").dataTable({
            "sPaginationType": "bootstrap",
                "aoColumns": [{ "bSearchable": false },
                          {},
                          { "bSearchable": false },
                          { "bSearchable": false }],
                "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [0] }
                ]
        });
       
    });

    
    

</script>
<style>
    #tbl_team_length {
        width:50%;
        float:left;
    }
</style>