﻿@using Stampade.Models;
@model STAM_MA_TEAM
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_TEAM obj_Team = new STAM_MA_TEAM();
    if (Model != null)
    {
        obj_Team = Model;
    }
    ViewBag.Title = "CreateNewTeam";
    Layout = "~/Views/Shared/_StampedeLayout.cshtml";

}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">

        <div class="box-header">
            <h2>
                <img src="../Content/image/header_side.png"><span class="break"></span>
                <span class="head_content">Team Details</span>
            </h2>

        </div>
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">Team Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_TeamName" value='@(obj_Team.STAM_TEAM_NAME == null ? "" : obj_Team.STAM_TEAM_NAME)' disabled style="" type="text" placeholder="Team Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageTeamName" class="help-block1" style=" color: red;display:none;">Team Name  is required</span></div>


            <label class="pull-left col-md-2 control-label">Assigned Coach Name:<span style="color: red; font-size: medium"></span></label>
            @{
                if (obj_Team.STAM_COACHASSIGNED == true)
                {
                    <a href="/Coach/Coach_View?CoachId=@(obj_Team.STAM_ASSIGN_COACHID)"><span class="pull-left col-md-2 control-label">@(obj_Team.STAM_ASSIGN_COACHID == 0 ? "Coach Has Not been Assigned" : obj_Team.CoachName)</span></a>
                }
                else
                {
                    <a href="#"><span class="pull-left col-md-3 control-label">Coach Has Not Yet Assigned</span></a>
                }
            }
        </div>
        

        <div class="create_team">
            <span class="btns_area">
                <input type="button" class="btn btn-primary" onclick="Back()" value="Back" />
            </span>
        </div>

    </div><!--/span-->

</div><!--/row--> 


<script>
    function Back() {
        location.href = "/Team/ManageTeam";
    }
    $(function () {
        $('#li_Team').addClass('active')
    });
</script>

