﻿
@using Stampade.Models;
@{
    ViewBag.Title = "Manage Workouts Results";
    
   if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
   else if (Session["UserType"].ToString() == "1")
   {
       Layout = "~/Views/Shared/_StampedeLayout.cshtml";
   }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";       
    }

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid new_topheader">
   

    <div>
        <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
            <p class="ng-binding">@msg</p>
        </div>

    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><img src="../Content/image/header_side.png" />
			<span class="break"></span>
			<span class="head_content">Manage Workout Results</span>
			</h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">

            <label class="pull-left col-md-2 control-label">Select Date:<span style="color: red; font-size: medium;"></span></label>
            <input type="text" class="input-xlarge datepicker" id="date01" tabindex="1" value="@DateTime.Now.Date.ToString(@"MM\/dd\/yyyy")" />
            <div> <span id="ErrorMessageDate" class="help-block" style=" color: red;display:none;">Workout Date  is required</span></div>

            <label class="pull-left control-label col-md-2">Select Group:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetSingleGroupByUserID", "UserControl", new { GroupName = "" })
            <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div>

            <label class="pull-left control-label col-md-2">By Section:<span style="color: red; font-size: medium"></span></label>
            @Html.Action("GetSummaryAthleteSection","UserControl")
            <div> <span id="ErrorMessageATh" class="help-block" style=" color: red;display:none;">Athlete is required</span></div>

            
        </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <input type="button" class="btn btn-primary mr10" onclick="Submit()" tabindex="10" value='Submit' />
            </span>

        </div>
            <div id="partialDiv" style="display:none;">
                @Html.Action("WorkoutResults_Table")
            </div>
        </div><!--/span-->

</div><!--/row--> 
<script>

    function Submit() {
        $("#partialDiv").css("display", "block")
        $('#partialDiv').load('/WorkoutResults/WorkoutResults_Table', { GroupID: $('#ddlSingleGroup :selected').val().trim(), _date: $('#date01').val().trim(), SectionID: $('#ddSummaryAthSec :selected').val().trim() });
    }                                                                 
    //function Chg_dp() {
    //    $('#partialDiv').load('/WorkoutResults/WorkoutResults_Table', { GroupName: $('#ddlSingleGroup :selected').text().trim(), _date: $('#date01').val().trim() });
    //}
    function Chg_group()
    {  
        $('#ddlSummarySection').load('/UserControl/GetSummaryAthleteSection?GroupName=' + encodeURIComponent($('#ddlSingleGroup :selected').text().trim()));
        //$('#partialDiv').load('/WorkoutResults/WorkoutResults_Table', { GroupName: $('#ddlSingleGroup :selected').text().trim(), _date: $('#date01').val().trim() });
    }
    //function Chg_SummaryAthSec() {
    //    $('#partialDiv').load('/WorkoutResults/WorkoutResults_Table', { GroupName: $('#ddlSingleGroup :selected').text().trim(), _date: $('#date01').val().trim(), AthName: $('#ddSummaryAthSec :selected').val().trim() });
    //}

    

    $(document).ready(function () {
        $("#ddSingleGroup").attr("tabindex", "2");
        $("#ddSummaryAthSec").attr("tabindex", "2");
    });

  
    

</script> 

