﻿@using Stampade.Models;

@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    List<WorkoutResults> obj_Workout = new List<WorkoutResults>();
    List<WorkoutSectionResult> lstwork = new List<WorkoutSectionResult>();
    if (Model != null)
    {
        obj_Workout = Model;

    }

}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="box-content">
    <div>
        <span style="float:right;width:100px;">Total</span>
    </div>
    <table class="table table-striped table-bordered bootstrap-datatable">
        <thead>
            @*<tr>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Split</th>
                    <th>Split</th>
                    <th>Split</th>
                    <th>Split</th>
                </tr>*@
        </thead>
        <tbody>
            @{
      
                foreach (var item in obj_Workout)
                {
                    decimal old = 0;
                    decimal newa=0;
                    long oldvalue = 0;
                    int AssignSplitOldvalue = 0;
                    long newvalue = 0;
                    int i = 0;
                    int splitCount = 2;
                    int j = 0;
                    int k = 0;
                    int l = 0;
                    DateTime oldtime;
                    DateTime TestTime;
                    TestTime = DateTime.Parse("22 Jun 2009 00:00:00");
                    DateTime newtime;
                    string sOldtime = string.Empty;
                    string sNewtime = string.Empty;

                    long icount = Convert.ToInt32(item.WorkoutResultDetails.Where(x => x.WorkoutID == item.WorkoutID).GroupBy(x => x.WorkoutSectionSplit).Max(x => x.Count()));
                    <tr>
                        <th>Distance</th>

                        @foreach (var items in item.WorkoutResultDetails)
                        {
                            if (i < icount)
                            {
                                if (AssignSplitOldvalue == 0)
                                {
                                    oldvalue = Convert.ToInt32(items.WorkoutSectionSplit);
                                    AssignSplitOldvalue = 1;
                                }
                                <td>
                                    @items.WorkoutSectionRun
                                </td>
                                i++;
                            }
                        }
                    </tr>
                   <tr>
                        <th>Split1</th>
                        @foreach (var items in item.WorkoutResultDetails)
                        {
                            TimeSpan du;
                            newvalue = Convert.ToInt32(@items.WorkoutSectionSplit);                                                      
                            if (oldvalue == newvalue)
                            {
                                newa = Convert.ToDecimal(items.WorkoutSectionSplit);
                                old = old + newa;
                                <td>
                                      @items.WorkoutSectionSplit
                                </td>                                                                                                                    
                                k++;
                            }
                            else
                            {                                
                                for (k = k; k < icount;k++)
                                {                   
                                <td>
                                
                                </td>                                 
                                }
                                k = 1;
                                <td>
                                    @old
                                </td>  
                                oldvalue = Convert.ToInt32(items.WorkoutSectionSplit);
                                old = Convert.ToDecimal(items.WorkoutSectionSplit);                 
                                @Html.Raw("</tr>")
                                @Html.Raw("<tr>")
                                @Html.Raw("<th>Split" + splitCount++ + "</th>")
                                <td>
                                    @items.WorkoutSectionSplit
                                </td>
                            }

                        }  
                       @for (l = k; l < icount; l++)
                       {
                        <td>
                           
                        </td>   
                       }
                       <td>
                           @old
                       </td>  
                    </tr>
                    @*<tr>
        <th>Split</th>
        @foreach (var items in item.WorkoutResultDetails)
        {
            TimeSpan du;
            newvalue = Convert.ToInt32(@items.WorkoutDetailedSplitType);
            if (oldvalue == newvalue)
            {
                <td>
                      @items.WorkoutDetailedSplit
                </td>
                newtime = Convert.ToDateTime(items.WorkoutDetailedTime);
                sOldtime = newtime.ToString("HH:mm");
                //sNewtime = sNewtime + sOldtime;
                //oldtime = oldtime + TimeSpan.Parse(newtime);
                TestTime = TestTime + TimeSpan.Parse(sOldtime);
                sOldtime = TestTime.ToString("HH:mm");
                k++;
            }
            else
            {
                for (k = k; k < icount;k++)
                {
                <td>

                </td>
                }
                k = 1;
                sOldtime = TestTime.ToString("HH:mm");
                TestTime = DateTime.Parse("22 Jun 2009 00:00:00");
                <td>
                 @sOldtime
                </td>
                sNewtime = string.Empty;
                oldtime = Convert.ToDateTime(items.WorkoutDetailedTime);
                sOldtime = oldtime.ToString("HH:mm");
                TestTime = TestTime + TimeSpan.Parse(sOldtime);
                sNewtime = sOldtime;
                oldvalue = Convert.ToInt32(items.WorkoutDetailedSplitType);
                @Html.Raw("</tr>")
                @Html.Raw("<tr>")
                @Html.Raw("<th>Split</th>")
                <td>
                    @items.WorkoutDetailedSplit
                </td>
            }

        }
        @for (int l = 2; l < icount; l++)
        {
        <td></td>
        }
        <td>
            @sOldtime
        </td>
    </tr>*@
                }
            }
        </tbody>
    </table>
</div>