﻿
@using Stampade.Models;
@{
    ViewBag.Title = "Workouts Summary Report";
    if (Session["UserType"].ToString() == "2")
    {
    Layout = "~/Views/Shared/_CoachLayout.cshtml";
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";        
    }

    string msg = ViewData["ReturnMsg"] != null ? ViewData["ReturnMsg"].ToString() : "";
}

<!-- start: Content -->
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
<script type="text/javascript" src="~/Content/js/TableBarChart.js"></script>
<link rel="stylesheet" href="~/Content/css/TableBarChart.css" />

<style type="text/css">
    table {
        border-collapse: collapse;
    }
    caption {
        background: #D3D3D3;
    }
    th {
        background: #A7C942;
        border: 1px solid #98BF21;
        color: #ffffff;
        font-weight: bold;
        text-align: left;
    }
    td {
        border: 1px solid #98BF21;
        text-align: left;
        font-weight: normal;
        color: #000000;
    }
    tr:nth-child(odd) {
        background: #ffffff;
    }
    tbody tr:nth-child(odd) th {
        background: #ffffff;
        color: #000000;
    }
    tr:nth-child(even) {
        background: #EAF2D3;
    }
    tbody tr:nth-child(even) th {
        background: #EAF2D3;
        color: #000000;
    }
    #target {
        width: 600px;
        height: 400px;
    }
</style>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<div class="row-fluid new_topheader">
   

    <div>
       

    </div>
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2>
                <img src="../Content/image/header_side.png" />
			<span class="break"></span>
			<span class="head_content">Manage Workout Summary Report</span>
			</h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">

            <div class="box">
               
                <div class="box-content">
                    <div id="target">
                    </div>
                    <table id="source" style="display:none;">
                       <thead>
                        <tr>
                            <th></th>
                            <th>Split1 </th>
                            <th>Split2 </th>
                            <th>Split3 </th>
                            <th>Split4 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Split1</th>
                            <td>8.2</td>
                        </tr>
                        <tr>
                            <th>Split2</th>
                            <td>14.3</td>
                        </tr>
                        <tr>
                            <th>Split3</th>
                            <td>2.7</td>
                        </tr>
                        <tr>
                            <th>Split4</th>
                            <td>3.0</td>
                        </tr>
                    
                    </tbody>
                        @*<caption></caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Run 1</th>
                                <th>Run 2</th>
                                <th>Run 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Chrome</th>
                                <td>2</td>
                                <td>200</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>Firefox</th>
                                <td>14</td>
                                <td>30</td>
                                <td>00</td>
                            </tr>
                            <tr>
                                <th>Internet Explorer</th>
                                <td>27</td>
                                <td>30</td>
                                <td>31</td>
                            </tr>
                            <tr>
                                <th>Safari</th>
                                <td>10</td>
                                <td>10</td>
                                <td>9</td>
                            </tr>
                        </tbody>*@
                    </table>
                    @* <div id="stackchart" class="center" style="height:300px;"></div>*@
                </div>
            </div>

        </div>
       
    </div><!--/span-->

</div><!--/row--> 
<script>
    $(function () {
        $('#source').tableBarChart('#target', '', false);
    })
</script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script> 

