﻿
@{
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }    
    if (Session["UserType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_CoachLayout.cshtml";
        
    }
    else if (Session["UserType"].ToString() == "3")
    {
        Layout = "~/Views/Shared/_AsstCoachLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AthleteLayout.cshtml";        
    }
  
    string UserName = ViewData["UserName"] != null ? ViewData["UserName"].ToString() : "";
}
<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<div class="row-fluid">
    <div class="box span12 bg_white">
        <div id="sucess" style="display:none;" class="alert alert-success ml20 mr20 f12 calibri_reg text-center">
            <img src="~/Content/img/alert_success.png" /> &nbsp;Password has been Changed.
        </div>
        <div id="failure" style="display:none;" class="alert alert-danger ml20 mr20 f12 calibri_reg text-center">
            <img src="~/Content/img/alert.gif" /> &nbsp;Existing Password Does Not Match.
        </div>
        <div class="box-header">
            <h2><img src="../Content/image/header_side.png"><span class="head_content">Change Password</span></h2>
        </div>
        <div class="col-sm-8 p-44 nopadding create_name">


            <label class="pull-left control-label col-md-3">Email ID:<span style="color: red; font-size: medium">*</span></label>           
            <input id="txt_EmailAddress" type="text" value="@UserName" disabled placeholder="Email Address" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageValidMailtext" class="help-block" style="color: red;display:none;">Please enter valid mail Address</span></div>
            <div> <span id="ErrorMessageAlreadyExist" class="help-block" style="color: red;display:none;"></span></div>
            <div> <span id="ErrorMessageUserName" class="help-block" style=" color: red;display:none;">Please Enter UserName</span></div>
            <div> <span id="ErrorMessageGroup" class="help-block" style=" color: red;display:none;">Group Name is required</span></div>
               


            <label class="pull-left  col-md-3 control-label">Old Password:<span style="color: red; font-size: medium">*</span></label>
           @* <input id="txt_AthSec" value='@(obj_ATh.STAM_ATHSEC_NAME == null ? "" : obj_ATh.STAM_ATHSEC_NAME)' style="" type="text" placeholder="Athlete Section Name" class="form-control new_createbx" tabindex="2" required />*@
            <input id="txt_oldpwd" type="password" placeholder="Old Password" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageOldPwd" class="help-block" style=" color: red;display:none;">Please Enter Old Password</span></div>

            <label class="pull-left  col-md-3 control-label">New Password:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_NewPwdAddress" type="password" placeholder="New Password" class="form-control new_createbx" tabindex="3" required />
            <div> <span id="ErrorMessagePwd" class="help-block" style=" color: red;display:none;">Please Enter New  Password</span></div>

            <label class="pull-left  col-md-3 control-label">Confirm Password:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_ConfirmPwd" type="password" placeholder="Confirm Password" class="form-control new_createbx" tabindex="4" required />
            <div> <span id="ErrorMessageConfirmPwd" class="help-block" style=" color: red;display:none;">Please Enter Confirm Password</span></div>
            <div> <span id="ErrorMessageConfirmMsg" class="help-block" style=" color: red;display:none;">New and Confirm Password does not Match</span></div>
           
        </div>

        <div class="create_team">
            <span class="btm_btns_area" style="padding:0px">
                <button type="submit" class="btn btn-primary mr10" onclick="GetReset()">Reset</button>               
            </span>
        </div>

    </div><!--/span-->
</div>

<script>
    function GetReset() {        
        var IsError = false;
        if ($('#txt_EmailAddress').val().trim() == "") {
            $('#ErrorMessageUserName').css("display", "block");
            IsError = true;
        }
        else {
            $('#ErrorMessageUserName').css("display", "none");
        }

        if ($('#txt_oldpwd').val().trim() == "") {
            $('#ErrorMessageOldPwd').css("display", "block");
            IsError = true;            
        }
        else {
            $('#ErrorMessageOldPwd').css("display", "none");
        }
        if ($('#txt_NewPwdAddress').val().trim() == "") {
            $('#ErrorMessagePwd').css("display", "block");
            IsError = true;
        }
        else {
            $('#ErrorMessagePwd').css("display", "none");
        }

        if ($('#txt_ConfirmPwd').val().trim() == "") {
            $('#ErrorMessageConfirmPwd').css("display", "block");
            IsError = true;          
        }
        else {
            $('#ErrorMessageConfirmPwd').css("display", "none");
        }
        
        if (IsError) {
            return false;
        }

        var res = confirm('Are you Sure to Change this password?');        
        if (res) {
            if ($('#txt_NewPwdAddress').val().trim() != $('#txt_ConfirmPwd').val().trim()) {
                $('#ErrorMessageConfirmMsg').css("display", "block");
                IsError = true;
                return false;
            }
            else {
                $('#ErrorMessageConfirmMsg').css("display", "none");
            }
        var datatoPost = {
            email : $('#txt_EmailAddress').val().trim(),
            password : $('#txt_oldpwd').val().trim(),
            newPassword : $('#txt_NewPwdAddress').val().trim(),
        };

        $.ajax({
            url: "NewPasswords",
            type: "GET",
            data: datatoPost,
            success: function (result) {
                if (result.Error) {
                    return false;
                }
                else {
                    console.log(result.Status);
                    if (result.Status == 'Y') {
                        $('#sucess').css("display", "block");
                            
                            $('#txt_oldpwd').val("");
                            $('#txt_NewPwdAddress').val("");
                            $('#txt_ConfirmPwd').val("");
                            $('#failure').css("display", "none");
                    }
                    else {
                        $('#failure').css("display", "block");
                            $('#sucess').css("display", "none");
                    }
                }
            },
        });
        }
    }

    $(function () {
        if ('@Session["UserType"].ToString()' == "2") {
            $('#li_Coach').addClass('active')
        }
        else if('@Session["UserType"].ToString()' == "3")
        {
        $('#li_Asst').addClass('active')
            }
      else 
     {
        $('#li_Ath').addClass('active')
     }
    });

 $(document).keypress(function (e) {
        if (e.which == 13) {
            GetReset();
        }
    });

   
</script>