﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8" />
    <title>STAMPEDE</title>
    <meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template." />
    <meta name="author" content="Łukasz Holeczek" />
    <meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/retina.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <script src="~/Content/js/CommonScript.js"></script>
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="~/Content/ico/favicon.png" />
    <!-- end: Favicon and Touch Icons -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="forgotpass_body">
    <div class="container-fluid-full">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="login-box">
                    <div class="panel-signin new_panelsignin">
                        <div class="panel_logo text-center">
                            <h2 class="forget_logo"><img src="../Content/image/login_logo.png"></h2>
                            
                                <div class="logo_signin new_logosignin recover_pass">RECOVER PASSWORD</div>
                       
                        </div>
                        <div class="panel">
                            <div class="mb15"></div>
                          

                            <div class="mb15"></div>
                            <div id="sucess" style="display:none;" class="alert alert-success ml20 mr20 f12 calibri_reg text-center">
                                <img src="~/Content/img/alert_success.png" /> &nbsp;Email has been sent to your email ID with access credentials.
                            </div>
                            
                            <div id="failure" style="display:none;" class="alert alert-danger ml20 mr20 f12 calibri_reg text-center">
                                <img src="~/Content/img/alert.gif" /> &nbsp;Email Id Does Not Exists.
                            </div>
                            <div id="alertmsg" style="display:none;" class="alert alert-danger ml20 mr20 f12 calibri_reg text-center">
                                <img src="~/Content/img/alert.gif" /> &nbsp;
                            </div>

                            <div class="panel-body login_panel_body mb10 forgot_pass_page">
                                <form class="col-md-12 clearfix" name="forgotpassword"  method="post" novalidate>
                                    <div class="clearfix mb15 new_btmpadding">                                        

                                    </div><!-- input-group -->

                                    <div class="input-group mb10">
                                        <input id="txt_EmailAddress" type="text" placeholder="Email Address" class="form-control col-md-11" tabindex="1" required />
                                        <div> <span id="ErrorMessageEmail"  style=" color: red;display:none;">Email Addres  is required</span></div>
                                        <div> <span id="ErrorMessageValidMailtext"  style="color: red;display:none;">Please enter valid mail Address</span></div>
                                        <div> <span id="ErrorMessageAlreadyExist" style="color: red;display:none;"></span></div>
                                        <div> <span id="ErrorMessageUserName"  style=" color: red;display:none;">Please Enter UserName</span></div>
                                    </div><!-- input-group -->
                                    <div class="clearfix"> </div>

                                    <div class="pull-right"> </div>
                                           
                                       
                                   
                                </form>
                                <button type="submit" class="btn btn-primary span12" onclick="GetReset()">Reset</button>
                            </div><!-- panel-body -->
                            <div class="panel-footer text-center">
                                Remembered? <a href="@Url.Content("~/Account/Login")">Sign In!</a>
                            </div><!-- panel-footer -->
                        </div><!-- panel -->
                    </div><!-- panel-signin -->
            </div><!--/row-->

        </div><!--/fluid-row-->

    </div><!--/.fluid-container-->
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <!-- start: JavaScript-->
   <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Content/js/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/js/modernizr.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src='~/Content/js/fullcalendar.min.js'></script>
    <script src='~/Content/js/jquery.dataTables.min.js'></script>
    <script src="~/Content/js/excanvas.js"></script>
    <script src="~/Content/js/jquery.flot.js"></script>
    <script src="~/Content/js/jquery.flot.pie.js"></script>
    <script src="~/Content/js/jquery.flot.stack.js"></script>
    <script src="~/Content/js/jquery.flot.resize.min.js"></script>
    <script src="~/Content/js/jquery.flot.time.js"></script>

    <script src="~/Content/js/jquery.chosen.min.js"></script>
    <script src="~/Content/js/jquery.uniform.min.js"></script>
    <script src="~/Content/js/jquery.cleditor.min.js"></script>
    <script src="~/Content/js/jquery.noty.js"></script>
    <script src="~/Content/js/jquery.elfinder.min.js"></script>
    <script src="~/Content/js/jquery.raty.min.js"></script>
    <script src="~/Content/js/jquery.iphone.toggle.js"></script>
    <script src="~/Content/js/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/js/jquery.gritter.min.js"></script>
    <script src="~/Content/js/jquery.imagesloaded.js"></script>
    <script src="~/Content/js/jquery.masonry.min.js"></script>
    <script src="~/Content/js/jquery.knob.modified.js"></script>
    <script src="~/Content/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/counter.min.js"></script>
    <script src="~/Content/js/raphael.2.1.0.min.js"></script>
    <script src="~/Content/js/justgage.1.0.1.min.js"></script>
    <script src="~/Content/js/jquery.autosize.min.js"></script>
    <script src="~/Content/js/retina.js"></script>
    <script src="~/Content/js/jquery.placeholder.min.js"></script>
    <script src="~/Content/js/wizard.min.js"></script>
    <script src="~/Content/js/core.min.js"></script>
    <script src="~/Content/js/charts.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <!-- end: JavaScript-->

</body>
</html>
<script>
    function GetReset() {        
        var IsError = false;
        if ($('#txt_EmailAddress').val().trim() == "") {
            $('#ErrorMessageUserName').css("display", "block");
            IsError = true;
            return false;
        }
        else {
            $('#ErrorMessageUserName').css("display", "none");
        }
        if (IsError) {
            return false;
        }

        if (!validateEmail($('#txt_EmailAddress').val().trim())) {
            $('#ErrorMessageValidMailtext').css("display", "block");
            return false;
        }
        else {
            $('#ErrorMessageValidMailtext').css("display", "none");
        }

        var datatoPost = {
            email: $('#txt_EmailAddress').val().trim(),
        };

        $.ajax({
            url: "ForgotPasswords",
            type: "GET",
            data: datatoPost,
            success: function (result) {
                if (result.Error) {
                    return false;
                }
                else {
                    console.log(result.Status);
                    if (result.Status == 'Y') {
                        $('#sucess').css("display", "block");
                        $('#failure').css("display", "none");
                    }
                    else {
                        $('#failure').css("display", "block");
                        $('#sucess').css("display", "none");
                    }
                }
            },
        });
    }

    $('#txt_EmailAddress').change(function () {
        if (!validateEmail($('#txt_EmailAddress').val().trim())) {
            $('#ErrorMessageValidMailtext').css("display", "block");
        }
        else {
            $('#ErrorMessageValidMailtext').css("display", "none");
        }
    });
</script>