﻿@using Stampade.Models;
@model Login
@{
    Layout = null;
    Login obj_Login = new Login();
    if (Model != null)
    {
        obj_Login = Model;
 }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- start: Meta -->
    <meta charset="utf-8" />
    <title>STAMPEDE</title>
    <meta name="description" content="SimpliQ - Flat & Responsive Bootstrap Admin Template." />
    <meta name="author" content="Łukasz Holeczek" />
    <meta name="keyword" content="SimpliQ, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" />
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/css/retina.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    @*<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@

    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="~/Content/ico/favicon.png" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700|Montserrat+Subrayada:400,700' rel='stylesheet' type='text/css'>
    <!-- end: Favicon and Touch Icons -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="entire_body">
    <div class="container-fluid-full">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="login-box">
                    
                  
                    @*<form class="form-horizontal" action="/Account/ReturnJson" method="post">*@
                        <fieldset>
							<img src="../Content/image/login_logo.png">
                            <input class="input-large span12 new_createbx" id="txt_username" value='@(obj_Login.userName == null ? "" : obj_Login.userName)' me="username"  type="text" placeholder="username" autocomplete="on" />
                            <span id="ErrorMessageUserName"  style=" color: red;display:none;">Please Enter UserName</span>
                            <span id="ErrorMessageValidMailtext" style=" color: red;display:none;">Please enter valid MailID</span>
                            <input class="input-large span12 new_createbx" id="txt_userpwd" value='@(obj_Login.password == null ? "" : obj_Login.password)' name="password" type="password" placeholder="password" autocomplete="on" />
                            <span id="ErrorMessagepwd"  style=" color: red;display:none;">Please Enter Password</span>
                            <div class="clearfix"></div>

                            <label class="remember" for="remember"><input type="checkbox" id="rememberMe" checked />Remember me</label>
  
                            <div class="clearfix"></div>

                            <button id="btn_submit" type="submit" class="btn btn-warning btn_login span12" onclick="GetLogin1()" style="">Login</button>
                        </fieldset>
                  @*//  </form>*@
                   <div style="display:none" id="err_msg" class="text-center">
                        <span  style=" color: red; " id="showError">User Name or Password is Mis-Matched</span>
                    </div>
                    <div style="display:none" id="err_msg1" class="text-center">
                        <span style="color: red;" id="showError1">InActive User,You are not able to login</span>
                    </div>
                    <a href="/Account/ForgotPassword"> <h3>Forgot Password?</h3></a>
                   <!--  <p>
                        No problem, <a href="/Account/ChangePassword">click here</a> to Change a new password.
                    </p> -->
                </div>
            </div><!--/row-->

        </div><!--/fluid-row-->

    </div><!--/.fluid-container-->
   
    <!-- start: JavaScript-->
  
    <script src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Content/js/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/js/modernizr.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.cookie.js"></script>
    <script src='~/Content/js/fullcalendar.min.js'></script>
    <script src='~/Content/js/jquery.dataTables.min.js'></script>
    <script src="~/Content/js/excanvas.js"></script>
    <script src="~/Content/js/jquery.flot.js"></script>
    <script src="~/Content/js/jquery.flot.pie.js"></script>
    <script src="~/Content/js/jquery.flot.stack.js"></script>
    <script src="~/Content/js/jquery.flot.resize.min.js"></script>
    <script src="~/Content/js/jquery.flot.time.js"></script>

    <script src="~/Content/js/jquery.chosen.min.js"></script>
    <script src="~/Content/js/jquery.uniform.min.js"></script>
    <script src="~/Content/js/jquery.cleditor.min.js"></script>
    <script src="~/Content/js/jquery.noty.js"></script>
    <script src="~/Content/js/jquery.elfinder.min.js"></script>
    <script src="~/Content/js/jquery.raty.min.js"></script>
    <script src="~/Content/js/jquery.iphone.toggle.js"></script>
    <script src="~/Content/js/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/js/jquery.gritter.min.js"></script>
    <script src="~/Content/js/jquery.imagesloaded.js"></script>
    <script src="~/Content/js/jquery.masonry.min.js"></script>
    <script src="~/Content/js/jquery.knob.modified.js"></script>
    <script src="~/Content/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/counter.min.js"></script>
    <script src="~/Content/js/raphael.2.1.0.min.js"></script>
    <script src="~/Content/js/justgage.1.0.1.min.js"></script>
    <script src="~/Content/js/jquery.autosize.min.js"></script>
    <script src="~/Content/js/retina.js"></script>
    <script src="~/Content/js/jquery.placeholder.min.js"></script>
    <script src="~/Content/js/wizard.min.js"></script>
    <script src="~/Content/js/core.min.js"></script>
    <script src="~/Content/js/charts.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/CommonScript.js"></script>
    <!-- end: JavaScript-->

</body>
</html>
<script>

    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
    });
  
    function GetLogin1()
    {       
        var IsError = false;
        if ($('#txt_username').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageUserName').css("display", "block");
        }
        else {
            $('#ErrorMessageUserName').css("display", "none");
        }

        if ($('#txt_username').val().trim() != "") {
            if (!validateEmail($('#txt_username').val().trim())) {
                $('#ErrorMessageValidMailtext').css("display", "block");
                IsError = true;
            }
            else {
                $('#ErrorMessageValidMailtext').css("display", "none");
            }
        }

        if ($('#txt_userpwd').val().trim() == "") {
            IsError = true;
            $('#ErrorMessagepwd').css("display", "block");
            return false;
        }
        else {
            $('#ErrorMessagepwd').css("display", "none");
        }
        if (IsError)
        {
            return false;
        }
        var datatoPost = {
            userName: $('#txt_username').val().trim(),
            password: $('#txt_userpwd').val().trim(),
                RememberMe: $('#rememberMe').is(':checked')
        }

            $.ajax({
                url: "/Account/ReturnJson",
                type: "GET",
                data: datatoPost,
                success: function (data) {
                    if (data.data != null && data.data != "") {
                        if (data.Status == true || data.Status == "True") {
                            if (data.UserType == "1") {
                                //location.href = "/Team/ManageTeam";
                                location.href = "/Dashboard/Dashboard";
                            }
                            else if (data.UserType == "2") {
                                //location.href = "/AsstCoach/ManageAsstCoach";
                                location.href = "/Dashboard/Dashboard";
                            }
                            else if (data.UserType == "3") {
                                //location.href = "/Athlete/ManageAthlete";
                                location.href = "/Dashboard/Dashboard";
                            }
                            else if (data.UserType == "4") {
                                //location.href = "/Athlete/CreateNewAthlete?AthId=" + data.AthleteID;
                                location.href = "/Dashboard/Dashboard";
                            }
                        }
                        else {
                            $('#err_msg1').show();
                            $('#err_msg').hide();
                        }
                    }
                    else {
                        $('#err_msg').show();
                        $('#err_msg1').hide();
                    }
                }
            });
      
    }  
    $(document).keypress(function (e) {
        if (e.which == 13) {
            GetLogin1();
        }
    });

</script>