﻿@using Stampade.Models;
@model STAM_MA_USERS
@{
    var Coach = false;
   
        Layout = "~/Views/Shared/_StampedeLayout.cshtml";
       
   
   
    ViewBag.Title = "CreateNewCoach";
    if (Session["USERS_ID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    STAM_MA_USERS obj_Coach = new STAM_MA_USERS();
    if (Model != null)
    {
        obj_Coach = Model;
    }

}
<script src="~/Content/js/CommonScript.js"></script>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>
<div class="row-fluid">

    <div class="box span12 bg_white">

        <div>
            <div id="divSuccessMessage" role="alert" class="alert alert-info" style="display:none;">
                <p class="ng-binding"></p>
            </div>
        </div>

        @{
           
                <div class="box-header">
                    <h2><img src="../Content/image/header_side.png"><span class="head_content">My Profile</span></h2>
                </div>
                <div class="pull-right browse_details col-md-12 new_brw_det">
                    <a onclick="newPassword('@obj_Coach.STAM_USER_USERNAME')" class="btn btn-success create_new_team">
                        <span>Change Password</span>
                    </a>
                </div>
           
        }

	@*<div class="box-header">
        <h2><img src="../Content/image/header_side.png"><span class="head_content">@(obj_Coach.STAM_COACH_ID == 0 ? "Create New Coach" : "Update Coach")</span></h2>
		</div>*@
        <div class="col-sm-8 p-44 nopadding create_name">
            <label class="pull-left  col-md-2 control-label">First Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_FirstName" value='@(obj_Coach.STAM_USER_FNAME == null ? "" : obj_Coach.STAM_USER_FNAME)' style="" type="text" placeholder="First Name" class="form-control new_createbx" tabindex="1" required />
            <div> <span id="ErrorMessageFirstName" class="help-block1" style=" color: red;display:none;">First Name  is required</span></div>          
       
            <label class="pull-left col-md-2 control-label">Last Name:<span style="color: red; font-size: medium">*</span></label>
            <input id="txt_LastName" value='@(obj_Coach.STAM_USER_LNAME == null ? "" : obj_Coach.STAM_USER_LNAME)' type="text" placeholder="Last Name" class="form-control new_createbx" tabindex="2" required />
            <div> <span id="ErrorMessageLastName" class="help-block1" style=" color: red;display:none;">Last Name  is required</span></div>
        
          <label class="pull-left control-label col-md-2">Email Address:<span style="color: red; font-size: medium">*</span></label>
        <input id="txt_EmailAddress" value='@(obj_Coach.STAM_USER_USERNAME == null ? "" : obj_Coach.STAM_USER_USERNAME)' type="text" placeholder="Email Address" class="form-control new_createbx" tabindex="3" required />
        <div> <span id="ErrorMessageEmail" class="help-block" style=" color: red;display:none;">Email Addres  is required</span></div>
          <div> <span id="ErrorMessageValidMailtext" class="help-block1" style="color: red;display:none;">Please enter valid mail Address</span></div>
          <div> <span id="ErrorMessageAlreadyExist" class="help-block1" style="color: red;display:none;"></span></div>
    
         <label class="pull-left control-label  col-md-2">Mobile No:<span style=""></span></label>
         <input id="txt_MobileNo" type="text" value='@(Convert.ToString(obj_Coach.STAM_USER_MOBILE) != "0" ? obj_Coach.STAM_USER_MOBILE : "")' maxlength="10" placeholder="Mobile No" class="form-control new_createbx" tabindex="4"  />
        <div> <span id="ErrorMessageMobile" class="help-block1" style=" color: red;display:none;">Mobile No is required & must be of 10 digit</span></div>
         <div> <span id="ErrorMessageValidtext" class="help-block1" style=" color: red;display:none;"></span></div>
    
       @*<label class="pull-left control-label col-md-2">Team:<span style="color: red; font-size: medium">*</span></label>
        @Html.Action("GetTeam", "UserControl", new { Name = (obj_Coach.STAM_USER_WEBSITE == null ? "" : obj_Coach.STAM_USER_WEBSITE) })
        <div> <span id="ErrorMessageTeam" class="help-block1" style=" color: red;display:none;">Team Name is required</span></div>*@
    </div>   

         <div class="create_team">
		<span class="btm_btns_area" style="padding:0px">
            <input type="button" class="btn btn-primary mr10" onclick="CreateCoach()" tabindex="6" value='@(obj_Coach.STAM_USERID == 0 ? "Create" : "Update")' />

            @{
                if (Session["UserType"].ToString() != "2")
                {
            <input type="button" class="btn" value="Cancel" tabindex="7" onclick="Close_on()" />
             }}
			</span>
        </div>

    </div><!--/span-->  
</div><!--/row-->
  
<script>

    $(document).ready(function () {
        if ('@obj_Coach.STAM_USERID' != 0) {
            $("#ddTeam option[value='0']").remove();
           
        }

        if ('@Coach' == "True") {
            $('#txt_EmailAddress').attr('disabled', 'disabled');
            $('#ddTeam').attr('disabled', 'disabled');
        }
        $('#txt_EmailAddress').attr('disabled', 'disabled');
     // $('#ddTeam').attr('disabled', 'disabled');
    });

    function CreateCoach() {
        var IsError = false;

        if ($('#txt_FirstName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageFirstName').css("display", "block");
        }
        else {
            $('#ErrorMessageFirstName').css("display", "none");
        }

        if ($('#txt_LastName').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageLastName').css("display", "block");
        }
        else {
            $('#ErrorMessageLastName').css("display", "none");
        }

        if ($('#txt_EmailAddress').val().trim() == "") {
            IsError = true;
            $('#ErrorMessageEmail').css("display", "block");
        }
        else {
            $('#ErrorMessageEmail').css("display", "none");
        }

        //if ($('#ddTeam').val().trim() == "" || $('#ddTeam').val().trim() == "0") {
        //    IsError = true;
        //    $('#ErrorMessageTeam').css("display", "block");
        //}
        //else {
        //    $('#ErrorMessageTeam').css("display", "none");
        //}

        if (!validateEmail($('#txt_EmailAddress').val().trim())) {
            $('#ErrorMessageValidMailtext').css("display", "block");
            IsError = true;
            return false;
        }
        else {
            $('#ErrorMessageValidMailtext').css("display", "none");
        }
        if ($('#txt_EmailAddress').val().trim() != null) {

            var datatoPost = {
                STAM_USERID: '@obj_Coach.STAM_USERID',
                STAM_USER_FNAME: $('#txt_FirstName').val().trim(),
                STAM_USER_LNAME: $('#txt_LastName').val().trim(),
                STAM_USER_EMAIL: $('#txt_EmailAddress').val().trim(),
                STAM_USER_MOBILE: $('#txt_MobileNo').val().trim(),
                //STAM_COACH_TEAMID: $('#ddTeam :selected').val().trim(),
                // STAM_COACH_TEAMNAME: $('#ddTeam :selected').text().trim(),
            };
            $.ajax({
                url: "AdminCreation",
                type: "POST",
                data: datatoPost,
                success: function (result) {
                    if (result.Error) {

                    }
                    else {
                        if ('@Coach' != "True") {
                            location.href = "/Coach/ManageCoach?Msg=" + result.Message;
                        }
                        else {
                            $('#divSuccessMessage').css("display", "block");
                            $('#divSuccessMessage').text(result.Message);
                            setTimeout(function () {
                                $('#divSuccessMessage').css("display", "none");
                            }, 3000);
                        }

                    }
                },
            });




           
        }
    }

    $('#txt_MobileNo').keyup(function () {
        var $th = $(this);
        $th.val($th.val().replace(/[^0-9]/g, function (str) {
            $('#ErrorMessageValidtext').css("display", "block");
            $('#ErrorMessageValidtext').html("Please Enter Numbers Only");
            $('#ErrorMessageValidtext').css("display", "none");
            return '';
        }));
    });


    $('#txt_EmailAddress').change(function () {
        if (!validateEmail($('#txt_EmailAddress').val().trim())) {
            $('#ErrorMessageValidMailtext').css("display", "block");
        }
        else {
            $('#ErrorMessageValidMailtext').css("display", "none");
        }

        if ($('#txt_EmailAddress').val().trim() != null) {
            $.ajax({
                url: "/Account/ChkEmail",
                type: "POST",
                data: { MailId: $('#txt_EmailAddress').val().trim() },
                success: function (result) {
                    if (result.Error) {
                    }
                    else {

                        $('#ErrorMessageAlreadyExist').text(result.Message);
                        $('#ErrorMessageAlreadyExist').css("display", "block");

                    }
                },
            });
        }
    });

    function Close_on() {
        location.href = "/Coach/ManageCoach";
    }

    $(function () {
        $('#li_profile').addClass('active')
    });

    function newPassword(arg) {
        location.href = "/Account/ChangePassword?mailID=" + arg;
    }

</script>

